{
  "openapi": "3.0.3",
  "info": {
    "title": "Gemini API",
    "description": "The Gemini Interactions API allows developers to build generative AI applications using Gemini models. Gemini is our most capable model, built from the ground up to be multimodal. It can generalize and seamlessly understand, operate across, and combine different types of information including language, images, audio, video, and code. You can use the Gemini API for use cases like reasoning across text and images, content generation, dialogue agents, summarization and classification systems, and more.",
    "version": "v1beta",
    "x-google-revision": "0"
  },
  "servers": [
    {
      "url": "https://generativelanguage.googleapis.com",
      "description": "Global Endpoint"
    }
  ],
  "paths": {
    "/upload/{api_version}/environments/{environment}/files/{path}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/api_version"
        },
        {
          "name": "environment",
          "in": "path",
          "description": "The ID of the environment that owns the destination file.",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "path",
          "in": "path",
          "description": "The relative destination path inside the environment workspace.",
          "required": true,
          "schema": {
            "type": "string"
          },
          "x-speakeasy-param-encoding-override": "allowReserved"
        }
      ],
      "put": {
        "operationId": "StartEnvironmentFileUpload",
        "description": "Starts a resumable upload session for a file in an environment workspace.\nUpload the file bytes to the URL returned in the `X-Goog-Upload-URL`\nresponse header, using the resumable upload protocol.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/EnvironmentFileExtract"
          },
          {
            "$ref": "#/components/parameters/EnvironmentFileOverwrite"
          },
          {
            "$ref": "#/components/parameters/EnvironmentFileUploadCommand"
          },
          {
            "$ref": "#/components/parameters/EnvironmentFileUploadContentLength"
          },
          {
            "$ref": "#/components/parameters/EnvironmentFileUploadContentType"
          },
          {
            "$ref": "#/components/parameters/EnvironmentFileUploadProtocol"
          }
        ],
        "responses": {
          "200": {
            "description": "Upload session created successfully. Send the file bytes to the returned upload URL.",
            "headers": {
              "X-Goog-Upload-URL": {
                "$ref": "#/components/headers/EnvironmentFileUploadUrl"
              }
            }
          },
          "4XX": {
            "description": "The upload session request failed with a client error."
          },
          "5XX": {
            "description": "The upload session request failed with a server error."
          }
        },
        "summary": "Start an environment file upload",
        "x-codeSamples": [
          {
            "label": "start_upload",
            "lang": "sh",
            "source": "curl -i -X PUT \\\n  'https://generativelanguage.googleapis.com/upload/v1beta/environments/env_abc123/files/main.py?overwrite=true' \\\n  -H \"x-goog-api-key: $GEMINI_API_KEY\" \\\n  -H 'X-Goog-Upload-Protocol: resumable' \\\n  -H 'X-Goog-Upload-Command: start' \\\n  -H \"X-Goog-Upload-Header-Content-Length: $(wc -c < main.py)\" \\\n  -H 'X-Goog-Upload-Header-Content-Type: text/x-python'\n"
          }
        ],
        "x-speakeasy-group": "environments._internal",
        "x-speakeasy-name-override": "startUpload"
      }
    },
    "/{api_version}/agents": {
      "parameters": [
        {
          "$ref": "#/components/parameters/api_version"
        }
      ],
      "get": {
        "operationId": "ListAgents",
        "description": "Lists all Agents.",
        "parameters": [
          {
            "name": "page_size",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "page_token",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "parent",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "examples": {
                  "list": {
                    "summary": "List Agents",
                    "value": {
                      "data": [
                        {
                          "created": "2025-11-26T12:25:15Z",
                          "display_name": "My Research Agent",
                          "id": "ag_abc123",
                          "object": "agent",
                          "system_instruction": "You are a helpful research assistant.",
                          "updated": "2025-11-26T12:25:15Z"
                        }
                      ],
                      "object": "list"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ListAgentsResponse"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "label": "list",
            "lang": "sh",
            "source": "curl -X GET https://generativelanguage.googleapis.com/v1beta/agents \\\n  -H \"x-goog-api-key: $GEMINI_API_KEY\"\n"
          },
          {
            "label": "list",
            "lang": "python",
            "source": "from google import genai\n\nclient = genai.Client()\nresponse = client.agents.list()\nfor agent in response.agents or []:\n    print(agent.id)\n"
          },
          {
            "label": "list",
            "lang": "javascript",
            "source": "import {GoogleGenAI} from '@google/genai';\n\nconst ai = new GoogleGenAI({});\nconst agents = await ai.agents.list();\nfor (const agent of (agents.agents ?? [])) {\n    console.log(agent.id);\n}\n"
          },
          {
            "label": "list",
            "lang": "java",
            "source": "import com.google.genai.Client;\nimport com.google.genai.gaos.models.agents.Agent;\nimport com.google.genai.gaos.models.agents.AgentListResponse;\nimport com.google.genai.gaos.models.operations.ListAgentsResponse;\nimport java.util.List;\n\nClient client = new Client();\nListAgentsResponse response = client.agents.list().call();\nList<Agent> agents = response.agentListResponse()\n    .flatMap(AgentListResponse::agents)\n    .orElse(List.of());\nfor (Agent agent : agents) {\n  agent.id().ifPresent(System.out::println);\n}\n"
          }
        ],
        "x-speakeasy-exports": [
          {
            "name": "AgentListParams",
            "group": "agents",
            "representation": "input"
          }
        ],
        "x-speakeasy-group": "agents",
        "x-speakeasy-name-override": "list"
      },
      "post": {
        "operationId": "CreateAgent",
        "description": "Creates a new Agent (Typed version for SDK).",
        "parameters": [],
        "requestBody": {
          "description": "The request body.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Agent"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "examples": {
                  "create": {
                    "summary": "Create Agent",
                    "value": {
                      "created": "2025-11-26T12:25:15Z",
                      "display_name": "My Research Agent",
                      "id": "ag_abc123",
                      "object": "agent",
                      "system_instruction": "You are a helpful research assistant.",
                      "tools": [
                        {
                          "type": "google_search"
                        }
                      ],
                      "updated": "2025-11-26T12:25:15Z"
                    }
                  },
                  "fork_from_env": {
                    "summary": "Agent Forked from Environment",
                    "value": {
                      "created": "2025-11-26T12:25:15Z",
                      "id": "my-data-analyst",
                      "object": "agent",
                      "system_instruction": "You are a data analyst. Use the template at /workspace/template.py for all reports.",
                      "updated": "2025-11-26T12:25:15Z"
                    }
                  },
                  "with_sources": {
                    "summary": "Agent with Sources",
                    "value": {
                      "created": "2025-11-26T12:25:15Z",
                      "id": "data-analyst-abc123",
                      "object": "agent",
                      "system_instruction": "You are a data analyst. Always include visualizations and export results as PDF.",
                      "updated": "2025-11-26T12:25:15Z"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Agent"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "label": "create",
            "lang": "sh",
            "source": "curl -X POST https://generativelanguage.googleapis.com/v1beta/agents \\\n  -H \"x-goog-api-key: $GEMINI_API_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\n    \"id\": \"research-assistant-abc123\",\n    \"base_agent\": \"antigravity-preview-05-2026\",\n    \"description\": \"A helpful research assistant.\",\n    \"system_instruction\": \"You are a helpful research assistant.\",\n    \"base_environment\": \"remote\",\n    \"tools\": [{\"type\": \"google_search\"}]\n  }'\n"
          },
          {
            "label": "create",
            "lang": "python",
            "source": "import uuid\nfrom google import genai\n\nclient = genai.Client()\nagent = client.agents.create(\n    id=f\"research-assistant-{uuid.uuid4().hex[:8]}\",\n    base_agent=\"antigravity-preview-05-2026\",\n    description=\"A helpful research assistant.\",\n    system_instruction=\"You are a helpful research assistant.\",\n    base_environment=\"remote\",\n    tools=[{\"type\": \"google_search\"}],\n)\nprint(agent.id)\n\n# [cleanup]\nclient.agents.delete(agent.id)\n# [/cleanup]\n"
          },
          {
            "label": "create",
            "lang": "javascript",
            "source": "import {GoogleGenAI} from '@google/genai';\n\nconst ai = new GoogleGenAI({});\nconst agentId = `research-assistant-${crypto.randomUUID().slice(0, 8)}`;\nconst agent = await ai.agents.create({\n    id: agentId,\n    base_agent: 'antigravity-preview-05-2026',\n    description: 'A helpful research assistant.',\n    system_instruction: 'You are a helpful research assistant.',\n    base_environment: 'remote',\n    tools: [{ type: 'google_search' }],\n});\nif (!agent.id) {\n    throw new Error('Agent creation failed: ID is undefined');\n}\nconsole.log(agent.id);\n\n// [cleanup]\nawait ai.agents.delete(agent.id);\n// [/cleanup]\n"
          },
          {
            "label": "create",
            "lang": "java",
            "source": "import com.google.genai.Client;\nimport com.google.genai.gaos.models.agents.Agent;\nimport com.google.genai.gaos.models.agents.BaseEnvironment;\nimport com.google.genai.gaos.models.interactions.GoogleSearch;\nimport com.google.genai.gaos.models.operations.CreateAgentResponse;\nimport java.util.List;\nimport java.util.UUID;\n\nClient client = new Client();\nString agentId = \"research-assistant-\" + UUID.randomUUID().toString().substring(0, 8);\nAgent agent = Agent.builder()\n    .id(agentId)\n    .baseAgent(\"antigravity-preview-05-2026\")\n    .description(\"A helpful research assistant.\")\n    .systemInstruction(\"You are a helpful research assistant.\")\n    .baseEnvironment(BaseEnvironment.of(\"remote\"))\n    .tools(List.of(new GoogleSearch()))\n    .build();\nCreateAgentResponse response = client.agents.create(agent);\nSystem.out.println(response.agent().flatMap(Agent::id).orElse(\"\"));\n\n// [cleanup]\nclient.agents.delete(agentId);\n// [/cleanup]\n"
          },
          {
            "label": "with_sources",
            "lang": "sh",
            "source": "curl -X POST https://generativelanguage.googleapis.com/v1beta/agents \\\n  -H \"x-goog-api-key: $GEMINI_API_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\n    \"id\": \"data-analyst-abc123\",\n    \"base_agent\": \"antigravity-preview-05-2026\",\n    \"system_instruction\": \"You are a data analyst. Always include visualizations and export results as PDF.\",\n    \"base_environment\": {\n      \"type\": \"remote\",\n      \"sources\": [\n        {\n          \"type\": \"inline\",\n          \"target\": \".agents/AGENTS.md\",\n          \"content\": \"Always use matplotlib for charts. Include a summary table in every report.\"\n        },\n        {\n          \"type\": \"repository\",\n          \"source\": \"https://github.com/my-org/analysis-templates\",\n          \"target\": \"/workspace/templates\"\n        }\n      ]\n    }\n  }'\n"
          },
          {
            "label": "with_sources",
            "lang": "python",
            "source": "import uuid\nfrom google import genai\n\nclient = genai.Client()\nagent = client.agents.create(\n    id=f\"data-analyst-{uuid.uuid4().hex[:8]}\",\n    base_agent=\"antigravity-preview-05-2026\",\n    system_instruction=\"You are a data analyst. Always include visualizations and export results as PDF.\",\n    base_environment={\n        \"type\": \"remote\",\n        \"sources\": [\n            {\n                \"type\": \"inline\",\n                \"target\": \".agents/AGENTS.md\",\n                \"content\": \"Always use matplotlib for charts. Include a summary table in every report.\",\n            },\n            {\n                \"type\": \"repository\",\n                \"source\": \"https://github.com/my-org/analysis-templates\",\n                \"target\": \"/workspace/templates\",\n            },\n        ],\n    },\n)\nprint(f\"Created agent: {agent.id}\")\n\n# [cleanup]\nclient.agents.delete(agent.id)\n# [/cleanup]\n"
          },
          {
            "label": "with_sources",
            "lang": "javascript",
            "source": "import {GoogleGenAI} from '@google/genai';\n\nconst ai = new GoogleGenAI({});\nconst agentId = `data-analyst-${crypto.randomUUID().slice(0, 8)}`;\nconst agent = await ai.agents.create({\n    id: agentId,\n    base_agent: 'antigravity-preview-05-2026',\n    system_instruction: 'You are a data analyst. Always include visualizations and export results as PDF.',\n    base_environment: {\n        type: 'remote',\n        sources: [\n            {\n                type: 'inline',\n                target: '.agents/AGENTS.md',\n                content: 'Always use matplotlib for charts. Include a summary table in every report.',\n            },\n            {\n                type: 'repository',\n                source: 'https://github.com/my-org/analysis-templates',\n                target: '/workspace/templates',\n            },\n        ],\n    },\n});\nconsole.log(`Created agent: ${agent.id}`);\n\n// [cleanup]\nif (agent.id) await ai.agents.delete(agent.id);\n// [/cleanup]\n"
          },
          {
            "label": "with_sources",
            "lang": "java",
            "source": "import com.google.genai.Client;\nimport com.google.genai.gaos.models.agents.Agent;\nimport com.google.genai.gaos.models.agents.BaseEnvironment;\nimport com.google.genai.gaos.models.interactions.Environment;\nimport com.google.genai.gaos.models.interactions.Source;\nimport com.google.genai.gaos.models.interactions.SourceType;\nimport com.google.genai.gaos.models.operations.CreateAgentResponse;\nimport java.util.List;\nimport java.util.UUID;\n\nClient client = new Client();\nString agentId = \"data-analyst-\" + UUID.randomUUID().toString().substring(0, 8);\nEnvironment env = Environment.builder()\n    .sources(List.of(\n        Source.builder()\n            .type(SourceType.INLINE)\n            .target(\".agents/AGENTS.md\")\n            .content(\"Always use matplotlib for charts. Include a summary table in every report.\")\n            .build(),\n        Source.builder()\n            .type(SourceType.REPOSITORY)\n            .source(\"https://github.com/my-org/analysis-templates\")\n            .target(\"/workspace/templates\")\n            .build()\n    ))\n    .build();\nAgent agent = Agent.builder()\n    .id(agentId)\n    .baseAgent(\"antigravity-preview-05-2026\")\n    .systemInstruction(\"You are a data analyst. Always include visualizations and export results as PDF.\")\n    .baseEnvironment(BaseEnvironment.of(env))\n    .build();\nCreateAgentResponse response = client.agents.create(agent);\nSystem.out.println(\"Created agent: \" + response.agent().flatMap(Agent::id).orElse(\"\"));\n\n// [cleanup]\nclient.agents.delete(agentId);\n// [/cleanup]\n"
          },
          {
            "label": "fork_from_env",
            "lang": "sh",
            "source": "# Step 1: Set up the environment interactively\nRESPONSE=$(curl -s -X POST https://generativelanguage.googleapis.com/v1beta/interactions \\\n  -H \"x-goog-api-key: $GEMINI_API_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\n    \"agent\": \"antigravity-preview-05-2026\",\n    \"input\": \"Write a basic Hello World template to /workspace/template.py.\",\n    \"environment\": \"remote\"\n  }')\nENV_ID=$(echo $RESPONSE | python3 -c \"import sys,json; print(json.load(sys.stdin)['environment_id'])\")\n\n# Step 2: Fork that environment into a named agent\ncurl -X POST https://generativelanguage.googleapis.com/v1beta/agents \\\n  -H \"x-goog-api-key: $GEMINI_API_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d \"{\n    \\\"id\\\": \\\"my-data-analyst\\\",\n    \\\"base_agent\\\": \\\"antigravity-preview-05-2026\\\",\n    \\\"system_instruction\\\": \\\"You are a data analyst. Use the template at /workspace/template.py for all reports.\\\",\n    \\\"base_environment\\\": \\\"$ENV_ID\\\"\n  }\"\n"
          },
          {
            "label": "fork_from_env",
            "lang": "python",
            "source": "import uuid\nfrom google import genai\n\nclient = genai.Client()\n\n# Step 1: Set up the environment interactively.\ninteraction = client.interactions.create(\n    agent=\"antigravity-preview-05-2026\",\n    input=\"Write a basic Hello World template to /workspace/template.py.\",\n    environment=\"remote\",\n)\n\n# Step 2: Fork that environment into a named agent.\nagent_id = f\"my-data-analyst-{uuid.uuid4().hex[:8]}\"\nagent = client.agents.create(\n    id=agent_id,\n    base_agent=\"antigravity-preview-05-2026\",\n    system_instruction=\"You are a data analyst. Use the template at /workspace/template.py for all reports.\",\n    base_environment=interaction.environment_id,\n)\nprint(f\"Forked agent: {agent.id}\")\n\n# [cleanup]\nclient.agents.delete(agent.id)\n# [/cleanup]\n"
          },
          {
            "label": "fork_from_env",
            "lang": "javascript",
            "source": "import {GoogleGenAI} from '@google/genai';\n\nconst ai = new GoogleGenAI({});\n\n// Step 1: Set up the environment interactively.\nconst interaction = await ai.interactions.create({\n    agent: 'antigravity-preview-05-2026',\n    input: 'Write a basic Hello World template to /workspace/template.py.',\n    environment: 'remote',\n});\n\n// Step 2: Fork that environment into a named agent.\nconst agentId = `my-data-analyst-${crypto.randomUUID().slice(0, 8)}`;\nconst agent = await ai.agents.create({\n    id: agentId,\n    base_agent: 'antigravity-preview-05-2026',\n    system_instruction: 'You are a data analyst. Use the template at /workspace/template.py for all reports.',\n    base_environment: interaction.environment_id,\n});\nconsole.log(`Forked agent: ${agent.id}`);\n\n// [cleanup]\nif (agent.id) await ai.agents.delete(agent.id);\n// [/cleanup]\n"
          },
          {
            "label": "fork_from_env",
            "lang": "java",
            "source": "import com.google.genai.Client;\nimport com.google.genai.gaos.models.agents.Agent;\nimport com.google.genai.gaos.models.agents.BaseEnvironment;\nimport com.google.genai.gaos.models.interactions.AgentOption;\nimport com.google.genai.gaos.models.interactions.CreateAgentInteraction;\nimport com.google.genai.gaos.models.interactions.CreateAgentInteractionEnvironment;\nimport com.google.genai.gaos.models.interactions.Interaction;\nimport com.google.genai.gaos.models.interactions.InteractionsInput;\nimport com.google.genai.gaos.models.operations.CreateAgentResponse;\nimport com.google.genai.gaos.models.operations.CreateInteractionRequestBody;\nimport com.google.genai.gaos.models.operations.CreateInteractionResponse;\nimport java.util.UUID;\n\nClient client = new Client();\n\n// Step 1: Set up the environment interactively.\nCreateAgentInteraction params =\n    CreateAgentInteraction.builder()\n        .agent(AgentOption.of(\"antigravity-preview-05-2026\"))\n        .input(InteractionsInput.of(\"Write a basic Hello World template to /workspace/template.py.\"))\n        .environment(CreateAgentInteractionEnvironment.of(\"remote\"))\n        .build();\nCreateInteractionResponse interactionResponse =\n    client.interactions.create(CreateInteractionRequestBody.of(params));\nInteraction interaction =\n    interactionResponse.interaction().orElseThrow(() -> new RuntimeException(\"No interaction returned\"));\n\n// Step 2: Fork that environment into a named agent.\nString agentId = \"my-data-analyst-\" + UUID.randomUUID().toString().substring(0, 8);\nAgent agent = Agent.builder()\n    .id(agentId)\n    .baseAgent(\"antigravity-preview-05-2026\")\n    .systemInstruction(\"You are a data analyst. Use the template at /workspace/template.py for all reports.\")\n    .baseEnvironment(BaseEnvironment.of(interaction.environmentId().orElse(\"\")))\n    .build();\nCreateAgentResponse agentResponse = client.agents.create(agent);\nSystem.out.println(\"Forked agent: \" + agentResponse.agent().flatMap(Agent::id).orElse(\"\"));\n\n// [cleanup]\nclient.agents.delete(agentId);\n// [/cleanup]\n"
          }
        ],
        "x-speakeasy-exports": [
          {
            "name": "AgentCreateParams",
            "group": "agents",
            "representation": "input"
          }
        ],
        "x-speakeasy-group": "agents",
        "x-speakeasy-name-override": "create"
      }
    },
    "/{api_version}/agents/{id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/api_version"
        },
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "delete": {
        "operationId": "DeleteAgent",
        "description": "Deletes an Agent.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "examples": {
                  "delete": {
                    "summary": "Delete Agent",
                    "value": {}
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Empty"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "label": "delete",
            "lang": "sh",
            "source": "curl -X DELETE https://generativelanguage.googleapis.com/v1beta/agents/ag_abc123 \\\n  -H \"x-goog-api-key: $GEMINI_API_KEY\"\n"
          },
          {
            "label": "delete",
            "lang": "python",
            "source": "import uuid\nfrom google import genai\n\nclient = genai.Client()\n\n# [setup]\nagent_id = f\"delete-test-{uuid.uuid4().hex[:8]}\"\nclient.agents.create(\n    id=agent_id,\n    base_agent=\"antigravity-preview-05-2026\",\n    description=\"Temporary agent for deletion.\",\n    base_environment=\"remote\",\n)\n# [/setup]\n\nclient.agents.delete(agent_id)\nprint(\"Agent deleted successfully.\")\n"
          },
          {
            "label": "delete",
            "lang": "javascript",
            "source": "import {GoogleGenAI} from '@google/genai';\n\nconst ai = new GoogleGenAI({});\n\n// [setup]\nconst agentId = `delete-test-${crypto.randomUUID().slice(0, 8)}`;\nawait ai.agents.create({\n    id: agentId,\n    base_agent: 'antigravity-preview-05-2026',\n    description: 'Temporary agent for deletion.',\n    base_environment: 'remote',\n});\n// [/setup]\n\nawait ai.agents.delete(agentId);\nconsole.log('Agent deleted successfully.');\n"
          },
          {
            "label": "delete",
            "lang": "java",
            "source": "import com.google.genai.Client;\nimport com.google.genai.gaos.models.agents.Agent;\nimport com.google.genai.gaos.models.agents.BaseEnvironment;\nimport java.util.UUID;\n\nClient client = new Client();\n\n// [setup]\nString agentId = \"delete-test-\" + UUID.randomUUID().toString().substring(0, 8);\nclient.agents.create(Agent.builder()\n    .id(agentId)\n    .baseAgent(\"antigravity-preview-05-2026\")\n    .description(\"Temporary agent for deletion.\")\n    .baseEnvironment(BaseEnvironment.of(\"remote\"))\n    .build());\n// [/setup]\n\nclient.agents.delete(agentId);\nSystem.out.println(\"Agent deleted successfully.\");\n"
          }
        ],
        "x-speakeasy-exports": [
          {
            "name": "AgentDeleteParams",
            "group": "agents",
            "representation": "input"
          }
        ],
        "x-speakeasy-group": "agents",
        "x-speakeasy-name-override": "delete"
      },
      "get": {
        "operationId": "GetAgent",
        "description": "Gets a specific Agent.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "examples": {
                  "get": {
                    "summary": "Get Agent",
                    "value": {
                      "created": "2025-11-26T12:25:15Z",
                      "display_name": "My Research Agent",
                      "id": "ag_abc123",
                      "object": "agent",
                      "system_instruction": "You are a helpful research assistant.",
                      "tools": [
                        {
                          "type": "google_search"
                        }
                      ],
                      "updated": "2025-11-26T12:25:15Z"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Agent"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "label": "get",
            "lang": "sh",
            "source": "curl -X GET https://generativelanguage.googleapis.com/v1beta/agents/ag_abc123 \\\n  -H \"x-goog-api-key: $GEMINI_API_KEY\"\n"
          },
          {
            "label": "get",
            "lang": "python",
            "source": "import uuid\nfrom google import genai\n\nclient = genai.Client()\n\n# [setup]\nagent_id = f\"test-agent-{uuid.uuid4().hex[:8]}\"\nclient.agents.create(\n    id=agent_id,\n    base_agent=\"antigravity-preview-05-2026\",\n    description=\"A test agent.\",\n    base_environment=\"remote\",\n)\n# [/setup]\n\nagent = client.agents.get(agent_id)\nprint(agent.id)\n\n# [cleanup]\nclient.agents.delete(agent.id)\n# [/cleanup]\n"
          },
          {
            "label": "get",
            "lang": "javascript",
            "source": "import {GoogleGenAI} from '@google/genai';\n\nconst ai = new GoogleGenAI({});\n\n// [setup]\nconst agentId = `test-agent-${crypto.randomUUID().slice(0, 8)}`;\nawait ai.agents.create({\n    id: agentId,\n    base_agent: 'antigravity-preview-05-2026',\n    description: 'A test agent.',\n    base_environment: 'remote',\n});\n// [/setup]\n\nconst agent = await ai.agents.get(agentId);\nif (!agent.id) {\n    throw new Error('Agent retrieval failed: ID is undefined');\n}\nconsole.log(agent.id);\n\n// [cleanup]\nawait ai.agents.delete(agent.id);\n// [/cleanup]\n"
          },
          {
            "label": "get",
            "lang": "java",
            "source": "import com.google.genai.Client;\nimport com.google.genai.gaos.models.agents.Agent;\nimport com.google.genai.gaos.models.agents.BaseEnvironment;\nimport com.google.genai.gaos.models.operations.GetAgentResponse;\nimport java.util.UUID;\n\nClient client = new Client();\n\n// [setup]\nString agentId = \"test-agent-\" + UUID.randomUUID().toString().substring(0, 8);\nclient.agents.create(Agent.builder()\n    .id(agentId)\n    .baseAgent(\"antigravity-preview-05-2026\")\n    .description(\"A test agent.\")\n    .baseEnvironment(BaseEnvironment.of(\"remote\"))\n    .build());\n// [/setup]\n\nGetAgentResponse response = client.agents.get(agentId);\nAgent agent = response.agent().orElseThrow(() -> new RuntimeException(\"No agent returned\"));\nSystem.out.println(agent.id().orElse(\"\"));\n\n// [cleanup]\nclient.agents.delete(agentId);\n// [/cleanup]\n"
          }
        ],
        "x-speakeasy-exports": [
          {
            "name": "AgentGetParams",
            "group": "agents",
            "representation": "input"
          }
        ],
        "x-speakeasy-group": "agents",
        "x-speakeasy-name-override": "get"
      }
    },
    "/{api_version}/credentials": {
      "parameters": [
        {
          "$ref": "#/components/parameters/api_version"
        }
      ],
      "get": {
        "operationId": "ListCredentials",
        "description": "Lists credentials for a project.",
        "parameters": [
          {
            "name": "page_size",
            "in": "query",
            "description": "Optional. Maximum number of credentials to return.\nIf unspecified, defaults to 50. Maximum is 1000.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "page_token",
            "in": "query",
            "description": "Optional. Pagination token.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListCredentialsResponse"
                }
              }
            }
          }
        },
        "x-speakeasy-exports": [
          {
            "name": "CredentialListParams",
            "group": "credentials",
            "representation": "input"
          }
        ],
        "x-speakeasy-group": "credentials",
        "x-speakeasy-name-override": "list"
      },
      "post": {
        "operationId": "CreateCredential",
        "description": "Creates a credential.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CredentialCreateParams"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Credential"
                }
              }
            }
          }
        },
        "x-speakeasy-exports": [
          {
            "name": "CredentialCreateParams",
            "group": "credentials",
            "representation": "input"
          }
        ],
        "x-speakeasy-group": "credentials",
        "x-speakeasy-name-override": "create"
      }
    },
    "/{api_version}/credentials/{id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/api_version"
        },
        {
          "name": "id",
          "in": "path",
          "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "delete": {
        "operationId": "DeleteCredential",
        "description": "Deletes a credential. Fails if referenced by active triggers.",
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Empty"
                }
              }
            }
          }
        },
        "x-speakeasy-exports": [
          {
            "name": "CredentialDeleteParams",
            "group": "credentials",
            "representation": "input"
          }
        ],
        "x-speakeasy-group": "credentials",
        "x-speakeasy-name-override": "delete"
      },
      "get": {
        "operationId": "GetCredential",
        "description": "Gets metadata of a single credential (no secret fields).",
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Credential"
                }
              }
            }
          }
        },
        "x-speakeasy-exports": [
          {
            "name": "CredentialGetParams",
            "group": "credentials",
            "representation": "input"
          }
        ],
        "x-speakeasy-group": "credentials",
        "x-speakeasy-name-override": "get"
      },
      "patch": {
        "operationId": "UpdateCredential",
        "description": "Updates a credential.",
        "parameters": [
          {
            "name": "update_mask",
            "in": "query",
            "description": "Optional. The list of fields to update.",
            "schema": {
              "type": "string",
              "format": "google-fieldmask",
              "pattern": "^(\\s*[^,\\s.]+(\\s*[,.]\\s*[^,\\s.]+)*)?$"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CredentialUpdateParams"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Credential"
                }
              }
            }
          }
        },
        "x-speakeasy-exports": [
          {
            "name": "CredentialUpdate",
            "group": "credentials",
            "representation": "input"
          }
        ],
        "x-speakeasy-group": "credentials",
        "x-speakeasy-name-override": "update"
      }
    },
    "/{api_version}/environments": {
      "parameters": [
        {
          "$ref": "#/components/parameters/api_version"
        }
      ],
      "get": {
        "operationId": "ListEnvironments",
        "description": "Lists environments.",
        "parameters": [
          {
            "name": "page_size",
            "in": "query",
            "description": "Optional. Maximum number of environments to return.\\nIf unspecified, defaults to 50. Maximum is 1000.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "page_token",
            "in": "query",
            "description": "Optional. Pagination token.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "examples": {
                  "list": {
                    "summary": "List Environments",
                    "value": {
                      "environments": [
                        {
                          "created": "2026-08-19T00:00:00Z",
                          "id": "env_abc123",
                          "last_accessed": "2026-08-19T00:00:00Z",
                          "status": "active",
                          "updated": "2026-08-19T00:00:00Z"
                        }
                      ]
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ListEnvironmentsResponse"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "label": "list",
            "lang": "sh",
            "source": "curl -X GET https://generativelanguage.googleapis.com/v1beta/environments \\\n  -H \"x-goog-api-key: $GEMINI_API_KEY\"\n"
          },
          {
            "label": "list",
            "lang": "python",
            "source": "from google import genai\n\nclient = genai.Client()\nresponse = client.environments.list()\nfor environment in response.environments or []:\n    print(environment.id)\n"
          },
          {
            "label": "list",
            "lang": "javascript",
            "source": "import {GoogleGenAI} from '@google/genai';\n\nconst ai = new GoogleGenAI({});\nconst response = await ai.environments.list();\nfor (const env of (response.environments ?? [])) {\n    console.log(env.id);\n}\n"
          },
          {
            "label": "list",
            "lang": "java",
            "source": "import com.google.genai.Client;\nimport com.google.genai.gaos.models.environments.Environment;\nimport com.google.genai.gaos.models.operations.ListEnvironmentsResponse;\nimport java.util.List;\n\nClient client = new Client();\nListEnvironmentsResponse response = client.environments.listEnvironmentsDirect();\nfor (Environment env : response.listEnvironmentsResponse().flatMap(res -> res.environments()).orElse(List.of())) {\n    System.out.println(env.id().orElse(\"\"));\n}\n"
          }
        ],
        "x-speakeasy-group": "environments"
      },
      "post": {
        "operationId": "CreateEnvironment",
        "description": "Creates an environment.",
        "requestBody": {
          "description": "Required. The environment to create.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateEnvironmentRequest"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "examples": {
                  "create": {
                    "summary": "Create Environment",
                    "value": {
                      "created": "2026-08-19T00:00:00Z",
                      "id": "env_abc123",
                      "last_accessed": "2026-08-19T00:00:00Z",
                      "sources": [
                        {
                          "type": "inline",
                          "content": "print('Hello, World!')",
                          "target": "main.py"
                        }
                      ],
                      "status": "active",
                      "updated": "2026-08-19T00:00:00Z"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Environment"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "label": "create",
            "lang": "sh",
            "source": "curl -X POST https://generativelanguage.googleapis.com/v1beta/environments \\\n  -H \"x-goog-api-key: $GEMINI_API_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\n    \"sources\": [{\n      \"type\": \"inline\",\n      \"target\": \"main.py\",\n      \"content\": \"print(\\\"Hello, World!\\\")\"\n    }]\n  }'\n"
          },
          {
            "label": "create",
            "lang": "python",
            "source": "from google import genai\n\nclient = genai.Client()\nenvironment = client.environments.create(\n    sources=[{\n        \"type\": \"inline\",\n        \"target\": \"main.py\",\n        \"content\": \"print('Hello, World!')\",\n    }]\n)\nprint(environment.id)\n\n# [cleanup]\nclient.environments.delete(id=environment.id)\n# [/cleanup]\n"
          },
          {
            "label": "create",
            "lang": "javascript",
            "source": "import {GoogleGenAI} from '@google/genai';\n\nconst ai = new GoogleGenAI({});\nconst environment = await ai.environments.create({\n    sources: [{\n        type: 'inline',\n        target: 'main.py',\n        content: \"print('Hello, World!')\",\n    }],\n});\nif (!environment.id) {\n    throw new Error('Environment creation failed: ID is undefined');\n}\nconsole.log(environment.id);\n\n// [cleanup]\nawait ai.environments.delete(environment.id);\n// [/cleanup]\n"
          },
          {
            "label": "create",
            "lang": "java",
            "source": "import com.google.genai.Client;\nimport com.google.genai.gaos.models.environments.CreateEnvironmentRequest;\nimport com.google.genai.gaos.models.environments.Environment;\nimport com.google.genai.gaos.models.interactions.Source;\nimport com.google.genai.gaos.models.interactions.SourceType;\nimport java.util.List;\n\nClient client = new Client();\nCreateEnvironmentRequest request = CreateEnvironmentRequest.builder()\n    .sources(List.of(Source.builder()\n        .type(SourceType.INLINE)\n        .target(\"main.py\")\n        .content(\"print('Hello, World!')\")\n        .build()))\n    .build();\nEnvironment environment = client.environments.createEnvironment(request).environment().orElseThrow();\nSystem.out.println(environment.id().orElse(\"\"));\n\n// [cleanup]\nenvironment.id().ifPresent(id -> client.environments.deleteEnvironment(id));\n// [/cleanup]\n"
          }
        ],
        "x-speakeasy-group": "environments"
      }
    },
    "/{api_version}/environments/{environment}/files/{path}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/api_version"
        },
        {
          "name": "environment",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "path",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "x-speakeasy-param-encoding-override": "allowReserved"
        }
      ],
      "get": {
        "operationId": "GetEnvironmentFiles",
        "description": "Retrieves file metadata or directory contents from an environment's snapshot. To download file contents directly, pass ?alt=media or use the files.download helper.",
        "parameters": [
          {
            "name": "page_size",
            "in": "query",
            "description": "Optional. Maximum number of entries to return per page (for directory listing).",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "page_token",
            "in": "query",
            "description": "Optional. Pagination token for directory listing.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "recursive",
            "in": "query",
            "description": "Optional. If true and the path is a directory, recursively lists all files.",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "examples": {
                  "download_file": {
                    "summary": "Download File Content",
                    "value": {
                      "files": [
                        {
                          "name": "main.py",
                          "type": "file",
                          "mime_type": "text/x-python",
                          "path": "main.py",
                          "size_bytes": "22"
                        }
                      ]
                    }
                  },
                  "get_file": {
                    "summary": "Get File Metadata",
                    "value": {
                      "files": [
                        {
                          "name": "main.py",
                          "type": "file",
                          "created": "2026-08-19T00:00:00Z",
                          "mime_type": "text/x-python",
                          "modified": "2026-08-19T00:00:00Z",
                          "path": "main.py",
                          "size_bytes": "22"
                        }
                      ]
                    }
                  },
                  "list_files": {
                    "summary": "List Files in Environment",
                    "value": {
                      "files": [
                        {
                          "name": "src",
                          "type": "directory",
                          "created": "2026-08-19T00:00:00Z",
                          "modified": "2026-08-19T00:00:00Z",
                          "path": "src"
                        },
                        {
                          "name": "main.py",
                          "type": "file",
                          "created": "2026-08-19T00:00:00Z",
                          "mime_type": "text/x-python",
                          "modified": "2026-08-19T00:00:00Z",
                          "path": "main.py",
                          "size_bytes": "22"
                        }
                      ]
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/GetEnvironmentFilesResponse"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "label": "list_files",
            "lang": "sh",
            "source": "curl -X GET 'https://generativelanguage.googleapis.com/v1beta/environments/env_abc123/files/src' \\\n  -H \"x-goog-api-key: $GEMINI_API_KEY\"\n"
          },
          {
            "label": "list_files",
            "lang": "python",
            "source": "from google import genai\n\nclient = genai.Client()\n\n# [setup]\ncreated = client.environments.create(\n    sources=[{\"type\": \"inline\", \"target\": \"src/main.py\", \"content\": \"print('Hello')\"}]\n)\n# [/setup]\n\nresponse = client.environments.files.list(\n    environment=created.id,\n    path=\"src\",\n)\nfor file in response.files or []:\n    print(file.name, file.type, file.size_bytes)\n\n# [cleanup]\nclient.environments.delete(id=created.id)\n# [/cleanup]\n"
          },
          {
            "label": "list_files",
            "lang": "javascript",
            "source": "import {GoogleGenAI} from '@google/genai';\n\nconst ai = new GoogleGenAI({});\n\n// [setup]\nconst created = await ai.environments.create({\n    sources: [{type: 'inline', target: 'src/main.py', content: \"print('Hello')\"}],\n});\nif (!created.id) throw new Error('Failed to create environment');\n// [/setup]\n\nconst response = await ai.environments.files.list({\n    environment: created.id,\n    path: 'src',\n});\nfor (const file of (response.files ?? [])) {\n    console.log(file.name, file.type, file.size_bytes);\n}\n\n// [cleanup]\nawait ai.environments.delete(created.id);\n// [/cleanup]\n"
          },
          {
            "label": "list_files",
            "lang": "java",
            "source": "import com.google.genai.Client;\nimport com.google.genai.gaos.models.environments.CreateEnvironmentRequest;\nimport com.google.genai.gaos.models.environments.Environment;\nimport com.google.genai.gaos.models.environments.EnvironmentFile;\nimport com.google.genai.gaos.models.environments.GetEnvironmentFilesResponse;\nimport com.google.genai.gaos.models.interactions.Source;\nimport com.google.genai.gaos.models.interactions.SourceType;\nimport com.google.genai.gaos.models.operations.GetEnvironmentFilesRequest;\nimport java.util.List;\n\nClient client = new Client();\n\n// [setup]\nCreateEnvironmentRequest createReq = CreateEnvironmentRequest.builder()\n    .sources(List.of(Source.builder()\n        .type(SourceType.INLINE)\n        .target(\"src/main.py\")\n        .content(\"print('Hello')\")\n        .build()))\n    .build();\nEnvironment created = client.environments.createEnvironment(createReq).environment().orElseThrow();\nString envId = created.id().orElseThrow();\n// [/setup]\n\ncom.google.genai.gaos.models.operations.GetEnvironmentFilesResponse response = client.environments.files().list(\n    GetEnvironmentFilesRequest.builder()\n        .environment(envId)\n        .path(\"src\")\n        .build());\nGetEnvironmentFilesResponse filesResponse = response.getEnvironmentFilesResponse().orElseThrow();\nfor (EnvironmentFile file : filesResponse.files().orElse(List.of())) {\n    System.out.println(file.name().orElse(\"\") + \" \" + file.type().map(Object::toString).orElse(\"\") + \" \" + file.sizeBytes().orElse(\"\"));\n}\n\n// [cleanup]\nclient.environments.deleteEnvironment(envId);\n// [/cleanup]\n"
          },
          {
            "label": "get_file",
            "lang": "sh",
            "source": "curl -X GET 'https://generativelanguage.googleapis.com/v1beta/environments/env_abc123/files/main.py' \\\n  -H \"x-goog-api-key: $GEMINI_API_KEY\"\n"
          },
          {
            "label": "get_file",
            "lang": "python",
            "source": "from google import genai\n\nclient = genai.Client()\n\n# [setup]\ncreated = client.environments.create(\n    sources=[{\"type\": \"inline\", \"target\": \"main.py\", \"content\": \"print('Hello')\"}]\n)\n# [/setup]\n\nresponse = client.environments.files.get(\n    environment=created.id,\n    path=\"main.py\",\n)\nfor file in response.files or []:\n    print(file.name, file.size_bytes)\n\n# [cleanup]\nclient.environments.delete(id=created.id)\n# [/cleanup]\n"
          },
          {
            "label": "get_file",
            "lang": "javascript",
            "source": "import {GoogleGenAI} from '@google/genai';\n\nconst ai = new GoogleGenAI({});\n\n// [setup]\nconst created = await ai.environments.create({\n    sources: [{type: 'inline', target: 'main.py', content: \"print('Hello')\"}],\n});\nif (!created.id) throw new Error('Failed to create environment');\n// [/setup]\n\nconst response = await ai.environments.files.list({\n    environment: created.id,\n    path: 'main.py',\n});\nfor (const file of (response.files ?? [])) {\n    console.log(file.name, file.size_bytes);\n}\n\n// [cleanup]\nawait ai.environments.delete(created.id);\n// [/cleanup]\n"
          },
          {
            "label": "get_file",
            "lang": "java",
            "source": "import com.google.genai.Client;\nimport com.google.genai.gaos.models.environments.CreateEnvironmentRequest;\nimport com.google.genai.gaos.models.environments.Environment;\nimport com.google.genai.gaos.models.environments.EnvironmentFile;\nimport com.google.genai.gaos.models.environments.GetEnvironmentFilesResponse;\nimport com.google.genai.gaos.models.interactions.Source;\nimport com.google.genai.gaos.models.interactions.SourceType;\nimport com.google.genai.gaos.models.operations.GetEnvironmentFilesRequest;\nimport java.util.List;\n\nClient client = new Client();\n\n// [setup]\nCreateEnvironmentRequest createReq = CreateEnvironmentRequest.builder()\n    .sources(List.of(Source.builder()\n        .type(SourceType.INLINE)\n        .target(\"main.py\")\n        .content(\"print('Hello')\")\n        .build()))\n    .build();\nEnvironment created = client.environments.createEnvironment(createReq).environment().orElseThrow();\nString envId = created.id().orElseThrow();\n// [/setup]\n\ncom.google.genai.gaos.models.operations.GetEnvironmentFilesResponse response = client.environments.files().list(\n    GetEnvironmentFilesRequest.builder()\n        .environment(envId)\n        .path(\"main.py\")\n        .build());\nGetEnvironmentFilesResponse filesResponse = response.getEnvironmentFilesResponse().orElseThrow();\nfor (EnvironmentFile file : filesResponse.files().orElse(List.of())) {\n    System.out.println(file.name().orElse(\"\") + \" \" + file.sizeBytes().orElse(\"\"));\n}\n\n// [cleanup]\nclient.environments.deleteEnvironment(envId);\n// [/cleanup]\n"
          },
          {
            "label": "download_file",
            "lang": "sh",
            "source": "curl -X GET 'https://generativelanguage.googleapis.com/v1beta/environments/env_abc123/files/src/main.py?alt=media' \\\n  -H \"x-goog-api-key: $GEMINI_API_KEY\" \\\n  --output main.py\n"
          },
          {
            "label": "download_file",
            "lang": "python",
            "source": "from google import genai\n\nclient = genai.Client()\n\n# [setup]\ncreated = client.environments.create(\n    sources=[{\"type\": \"inline\", \"target\": \"src/main.py\", \"content\": \"print('Hello')\"}]\n)\n# [/setup]\n\ncontent = client.environments.files.download(\n    environment=created.id,\n    path=\"src/main.py\",\n)\nprint(content.decode(\"utf-8\"))\n\n# [cleanup]\nclient.environments.delete(id=created.id)\n# [/cleanup]\n"
          }
        ],
        "x-speakeasy-group": "environments.files",
        "x-speakeasy-name-override": "list"
      }
    },
    "/{api_version}/environments/{id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/api_version"
        },
        {
          "name": "id",
          "in": "path",
          "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "delete": {
        "operationId": "DeleteEnvironment",
        "description": "Deletes an environment.",
        "responses": {
          "default": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "examples": {
                  "delete": {
                    "summary": "Delete Environment",
                    "value": {}
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Empty"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "label": "delete",
            "lang": "sh",
            "source": "curl -X DELETE https://generativelanguage.googleapis.com/v1beta/environments/env_abc123 \\\n  -H \"x-goog-api-key: $GEMINI_API_KEY\"\n"
          },
          {
            "label": "delete",
            "lang": "python",
            "source": "from google import genai\n\nclient = genai.Client()\n\n# [setup]\ncreated = client.environments.create(\n    sources=[{\"type\": \"inline\", \"target\": \"main.py\", \"content\": \"print('Hello')\"}]\n)\n# [/setup]\n\nclient.environments.delete(id=created.id)\nprint(\"Environment deleted successfully.\")\n"
          },
          {
            "label": "delete",
            "lang": "javascript",
            "source": "import {GoogleGenAI} from '@google/genai';\n\nconst ai = new GoogleGenAI({});\n\n// [setup]\nconst created = await ai.environments.create({\n    sources: [{type: 'inline', target: 'main.py', content: \"print('Hello')\"}],\n});\nif (!created.id) throw new Error('Failed to create environment');\n// [/setup]\n\nawait ai.environments.delete(created.id);\nconsole.log('Environment deleted successfully.');\n"
          },
          {
            "label": "delete",
            "lang": "java",
            "source": "import com.google.genai.Client;\nimport com.google.genai.gaos.models.environments.CreateEnvironmentRequest;\nimport com.google.genai.gaos.models.environments.Environment;\nimport com.google.genai.gaos.models.interactions.Source;\nimport com.google.genai.gaos.models.interactions.SourceType;\nimport java.util.List;\n\nClient client = new Client();\n\n// [setup]\nCreateEnvironmentRequest request = CreateEnvironmentRequest.builder()\n    .sources(List.of(Source.builder()\n        .type(SourceType.INLINE)\n        .target(\"main.py\")\n        .content(\"print('Hello')\")\n        .build()))\n    .build();\nEnvironment created = client.environments.createEnvironment(request).environment().orElseThrow();\nString envId = created.id().orElseThrow();\n// [/setup]\n\nclient.environments.deleteEnvironment(envId);\nSystem.out.println(\"Environment deleted successfully.\");\n"
          }
        ],
        "x-speakeasy-group": "environments"
      },
      "get": {
        "operationId": "GetEnvironment",
        "description": "Gets an environment.",
        "responses": {
          "default": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "examples": {
                  "get": {
                    "summary": "Get Environment",
                    "value": {
                      "created": "2026-08-19T00:00:00Z",
                      "id": "env_abc123",
                      "last_accessed": "2026-08-19T00:00:00Z",
                      "sources": [
                        {
                          "type": "inline",
                          "content": "print('Hello, World!')",
                          "target": "main.py"
                        }
                      ],
                      "status": "active",
                      "updated": "2026-08-19T00:00:00Z"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Environment"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "label": "get",
            "lang": "sh",
            "source": "curl -X GET https://generativelanguage.googleapis.com/v1beta/environments/env_abc123 \\\n  -H \"x-goog-api-key: $GEMINI_API_KEY\"\n"
          },
          {
            "label": "get",
            "lang": "python",
            "source": "from google import genai\n\nclient = genai.Client()\n\n# [setup]\ncreated = client.environments.create(\n    sources=[{\"type\": \"inline\", \"target\": \"main.py\", \"content\": \"print('Hello')\"}]\n)\n# [/setup]\n\nenvironment = client.environments.get(id=created.id)\nprint(environment.id)\n\n# [cleanup]\nclient.environments.delete(id=created.id)\n# [/cleanup]\n"
          },
          {
            "label": "get",
            "lang": "javascript",
            "source": "import {GoogleGenAI} from '@google/genai';\n\nconst ai = new GoogleGenAI({});\n\n// [setup]\nconst created = await ai.environments.create({\n    sources: [{type: 'inline', target: 'main.py', content: \"print('Hello')\"}],\n});\nif (!created.id) throw new Error('Failed to create environment');\n// [/setup]\n\nconst environment = await ai.environments.get(created.id);\nconsole.log(environment.id);\n\n// [cleanup]\nawait ai.environments.delete(created.id);\n// [/cleanup]\n"
          },
          {
            "label": "get",
            "lang": "java",
            "source": "import com.google.genai.Client;\nimport com.google.genai.gaos.models.environments.CreateEnvironmentRequest;\nimport com.google.genai.gaos.models.environments.Environment;\nimport com.google.genai.gaos.models.interactions.Source;\nimport com.google.genai.gaos.models.interactions.SourceType;\nimport java.util.List;\n\nClient client = new Client();\n\n// [setup]\nCreateEnvironmentRequest request = CreateEnvironmentRequest.builder()\n    .sources(List.of(Source.builder()\n        .type(SourceType.INLINE)\n        .target(\"main.py\")\n        .content(\"print('Hello')\")\n        .build()))\n    .build();\nEnvironment created = client.environments.createEnvironment(request).environment().orElseThrow();\nString envId = created.id().orElseThrow();\n// [/setup]\n\nEnvironment environment = client.environments.getEnvironment(envId).environment().orElseThrow();\nSystem.out.println(environment.id().orElse(\"\"));\n\n// [cleanup]\nclient.environments.deleteEnvironment(envId);\n// [/cleanup]\n"
          }
        ],
        "x-speakeasy-group": "environments"
      }
    },
    "/{api_version}/interactions": {
      "parameters": [
        {
          "$ref": "#/components/parameters/api_version"
        }
      ],
      "post": {
        "operationId": "CreateInteraction",
        "description": "Creates a new interaction.",
        "parameters": [
          {
            "$ref": "#/components/parameters/api_version"
          }
        ],
        "requestBody": {
          "description": "The request body.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/CreateAgentInteractionParams"
                  },
                  {
                    "$ref": "#/components/schemas/CreateModelInteractionParams"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "examples": {
                  "antigravity": {
                    "summary": "Antigravity Agent",
                    "value": {
                      "agent": "antigravity-preview-05-2026",
                      "created": "2025-11-26T12:22:47Z",
                      "environment_id": "env_abc123",
                      "id": "v1_ChdPU0F4YWFtNkFwS2kxZThQZ05lbXdROBIXT1NBeGFhbTZBcEtpMWU4UGdOZW13UTg",
                      "object": "interaction",
                      "status": "completed",
                      "steps": [
                        {
                          "type": "model_output",
                          "content": [
                            {
                              "type": "text",
                              "text": "I've summarized the top 5 Hacker News stories and saved the results to /workspace/summary.md."
                            }
                          ]
                        }
                      ],
                      "updated": "2025-11-26T12:22:47Z",
                      "usage": {
                        "input_tokens_by_modality": [
                          {
                            "modality": "text",
                            "tokens": 50
                          }
                        ],
                        "total_cached_tokens": 0,
                        "total_input_tokens": 50,
                        "total_output_tokens": 500,
                        "total_thought_tokens": 200,
                        "total_tokens": 750,
                        "total_tool_use_tokens": 0
                      }
                    }
                  },
                  "deep_research": {
                    "summary": "Deep Research",
                    "value": {
                      "agent": "deep-research-pro-preview-12-2025",
                      "created": "2025-11-26T12:22:47Z",
                      "id": "v1_ChdPU0F4YWFtNkFwS2kxZThQZ05lbXdROBIXT1NBeGFhbTZBcEtpMWU4UGdOZW13UTg",
                      "object": "interaction",
                      "status": "completed",
                      "steps": [
                        {
                          "type": "model_output",
                          "content": [
                            {
                              "type": "text",
                              "text": "Here is a comprehensive research report on the current state of cancer research..."
                            }
                          ]
                        }
                      ],
                      "updated": "2025-11-26T12:22:47Z",
                      "usage": {
                        "input_tokens_by_modality": [
                          {
                            "modality": "text",
                            "tokens": 20
                          }
                        ],
                        "total_cached_tokens": 0,
                        "total_input_tokens": 20,
                        "total_output_tokens": 1000,
                        "total_thought_tokens": 500,
                        "total_tokens": 1520,
                        "total_tool_use_tokens": 0
                      }
                    }
                  },
                  "function_calling": {
                    "summary": "Function Calling",
                    "value": {
                      "created": "2025-11-26T12:22:47Z",
                      "id": "v1_ChdPU0F4YWFtNkFwS2kxZThQZ05lbXdROBIXT1NBeGFhbTZBcEtpMWU4UGdOZW13UTg",
                      "model": "gemini-3.6-flash",
                      "object": "interaction",
                      "status": "requires_action",
                      "steps": [
                        {
                          "name": "get_weather",
                          "type": "function_call",
                          "arguments": {
                            "location": "Boston, MA"
                          },
                          "id": "gth23981"
                        }
                      ],
                      "updated": "2025-11-26T12:22:47Z",
                      "usage": {
                        "input_tokens_by_modality": [
                          {
                            "modality": "text",
                            "tokens": 100
                          }
                        ],
                        "total_cached_tokens": 0,
                        "total_input_tokens": 100,
                        "total_output_tokens": 25,
                        "total_thought_tokens": 0,
                        "total_tokens": 125,
                        "total_tool_use_tokens": 50
                      }
                    }
                  },
                  "multi_turn": {
                    "summary": "Multi-turn",
                    "value": {
                      "created": "2025-11-26T12:22:47Z",
                      "id": "v1_ChdPU0F4YWFtNkFwS2kxZThQZ05lbXdROBIXT1NBeGFhbTZBcEtpMWU4UGdOZW13UTg",
                      "model": "gemini-3.6-flash",
                      "object": "interaction",
                      "status": "completed",
                      "steps": [
                        {
                          "type": "model_output",
                          "content": [
                            {
                              "type": "text",
                              "text": "The capital of France is Paris."
                            }
                          ]
                        }
                      ],
                      "updated": "2025-11-26T12:22:47Z",
                      "usage": {
                        "input_tokens_by_modality": [
                          {
                            "modality": "text",
                            "tokens": 50
                          }
                        ],
                        "total_cached_tokens": 0,
                        "total_input_tokens": 50,
                        "total_output_tokens": 10,
                        "total_thought_tokens": 0,
                        "total_tokens": 60,
                        "total_tool_use_tokens": 0
                      }
                    }
                  },
                  "multimodal_image": {
                    "summary": "Image Input",
                    "value": {
                      "created": "2025-11-26T12:22:47Z",
                      "id": "v1_ChdPU0F4YWFtNkFwS2kxZThQZ05lbXdROBIXT1NBeGFhbTZBcEtpMWU4UGdOZW13UTg",
                      "model": "gemini-3.6-flash",
                      "object": "interaction",
                      "status": "completed",
                      "steps": [
                        {
                          "type": "model_output",
                          "content": [
                            {
                              "type": "text",
                              "text": "A white humanoid robot with glowing blue eyes stands holding a red skateboard."
                            }
                          ]
                        }
                      ],
                      "updated": "2025-11-26T12:22:47Z",
                      "usage": {
                        "input_tokens_by_modality": [
                          {
                            "modality": "text",
                            "tokens": 10
                          },
                          {
                            "modality": "image",
                            "tokens": 258
                          }
                        ],
                        "total_cached_tokens": 0,
                        "total_input_tokens": 268,
                        "total_output_tokens": 20,
                        "total_thought_tokens": 0,
                        "total_tokens": 288,
                        "total_tool_use_tokens": 0
                      }
                    }
                  },
                  "reuse_env": {
                    "summary": "Reuse Environment",
                    "value": {
                      "agent": "antigravity-preview-05-2026",
                      "created": "2025-11-26T12:23:00Z",
                      "environment_id": "env_abc123",
                      "id": "v1_Chd2ZTJhYmNkZWZnaGlqa2xtbm9wcXJzdHV2d3h5ejAxMjM0NTY3ODkwMTIzNDU2Nzg",
                      "object": "interaction",
                      "status": "completed",
                      "steps": [
                        {
                          "type": "model_output",
                          "content": [
                            {
                              "type": "text",
                              "text": "I've updated /workspace/hello.py to accept a name argument and greet the user."
                            }
                          ]
                        }
                      ],
                      "updated": "2025-11-26T12:23:00Z",
                      "usage": {
                        "input_tokens_by_modality": [
                          {
                            "modality": "text",
                            "tokens": 80
                          }
                        ],
                        "total_cached_tokens": 0,
                        "total_input_tokens": 80,
                        "total_output_tokens": 200,
                        "total_thought_tokens": 100,
                        "total_tokens": 380,
                        "total_tool_use_tokens": 0
                      }
                    }
                  },
                  "simple": {
                    "summary": "Simple Request",
                    "value": {
                      "created": "2025-11-26T12:25:15Z",
                      "id": "v1_ChdPU0F4YWFtNkFwS2kxZThQZ05lbXdROBIXT1NBeGFhbTZBcEtpMWU4UGdOZW13UTg",
                      "model": "gemini-3.6-flash",
                      "object": "interaction",
                      "status": "completed",
                      "steps": [
                        {
                          "type": "model_output",
                          "content": [
                            {
                              "type": "text",
                              "text": "Hello! I'm functioning perfectly and ready to assist you.\n\nHow are you doing today?"
                            }
                          ]
                        }
                      ],
                      "updated": "2025-11-26T12:25:15Z",
                      "usage": {
                        "input_tokens_by_modality": [
                          {
                            "modality": "text",
                            "tokens": 7
                          }
                        ],
                        "total_cached_tokens": 0,
                        "total_input_tokens": 7,
                        "total_output_tokens": 20,
                        "total_thought_tokens": 22,
                        "total_tokens": 49,
                        "total_tool_use_tokens": 0
                      }
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Interaction"
                }
              },
              "text/event-stream": {
                "schema": {
                  "$ref": "#/components/schemas/InteractionSseStreamEvent"
                },
                "x-speakeasy-sse-sentinel": "[DONE]"
              }
            }
          },
          "4XX": {
            "description": "Error creating interaction",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/Error"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "5XX": {
            "description": "Error creating interaction",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/Error"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        },
        "summary": "Creating an interaction",
        "x-codeSamples": [
          {
            "label": "simple",
            "lang": "sh",
            "source": "curl -X POST https://generativelanguage.googleapis.com/v1beta/interactions \\\n  -H \"x-goog-api-key: $GEMINI_API_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\n    \"model\": \"gemini-3.6-flash\",\n    \"input\": \"Hello, how are you?\"\n  }'\n"
          },
          {
            "label": "simple",
            "lang": "python",
            "source": "from google import genai\n\nclient = genai.Client()\ninteraction = client.interactions.create(\n    model=\"gemini-3.6-flash\",\n    input=\"Hello, how are you?\",\n)\nprint(interaction.output_text)\n"
          },
          {
            "label": "simple",
            "lang": "javascript",
            "source": "import {GoogleGenAI} from '@google/genai';\n\nconst ai = new GoogleGenAI({});\nconst interaction = await ai.interactions.create({\n    model: 'gemini-3.6-flash',\n    input: 'Hello, how are you?',\n});\nconsole.log(interaction.output_text);\n"
          },
          {
            "label": "simple",
            "lang": "java",
            "source": "import com.google.genai.Client;\nimport com.google.genai.gaos.models.interactions.CreateModelInteraction;\nimport com.google.genai.gaos.models.interactions.Interaction;\nimport com.google.genai.gaos.models.interactions.InteractionsInput;\nimport com.google.genai.gaos.models.operations.CreateInteractionRequestBody;\nimport com.google.genai.gaos.models.operations.CreateInteractionResponse;\n\nClient client = new Client();\nCreateModelInteraction params =\n    CreateModelInteraction.builder()\n        .model(\"gemini-3.6-flash\")\n        .input(InteractionsInput.of(\"Hello, how are you?\"))\n        .build();\nCreateInteractionResponse response =\n    client.interactions.create(CreateInteractionRequestBody.of(params));\nInteraction interaction =\n    response.interaction().orElseThrow(() -> new RuntimeException(\"No interaction returned\"));\nSystem.out.println(interaction.outputText().orElse(\"\"));\n"
          },
          {
            "label": "multi_turn",
            "lang": "sh",
            "source": "curl -X POST https://generativelanguage.googleapis.com/v1beta/interactions \\\n  -H \"x-goog-api-key: $GEMINI_API_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\n    \"model\": \"gemini-3.6-flash\",\n    \"input\": [\n      { \"type\": \"user_input\", \"content\": [{ \"type\": \"text\", \"text\": \"Hello!\" }] },\n      { \"type\": \"model_output\", \"content\": [{ \"type\": \"text\", \"text\": \"Hi there! How can I help you today?\" }] },\n      { \"type\": \"user_input\", \"content\": [{ \"type\": \"text\", \"text\": \"What is the capital of France?\" }] }\n    ]\n  }'\n"
          },
          {
            "label": "multi_turn",
            "lang": "python",
            "source": "from google import genai\n\nclient = genai.Client()\nresponse = client.interactions.create(\n    model=\"gemini-3.6-flash\",\n    input=[\n        { \"type\": \"user_input\", \"content\": [{ \"type\": \"text\", \"text\": \"Hello!\" }] },\n        { \"type\": \"model_output\", \"content\": [{ \"type\": \"text\", \"text\": \"Hi there! How can I help you today?\" }] },\n        { \"type\": \"user_input\", \"content\": [{ \"type\": \"text\", \"text\": \"What is the capital of France?\" }] }\n    ]\n)\nprint(response.output_text)\n"
          },
          {
            "label": "multi_turn",
            "lang": "javascript",
            "source": "import {GoogleGenAI} from '@google/genai';\n\nconst ai = new GoogleGenAI({});\nconst interaction = await ai.interactions.create({\n    model: 'gemini-3.6-flash',\n    input: [\n        { type: 'user_input', content: [{ type: 'text', text: 'Hello' }] },\n        { type: 'model_output', content: [{ type: 'text', text: 'Hi there! How can I help you today?' }] },\n        { type: 'user_input', content: [{ type: 'text', text: 'What is the capital of France?' }] }\n    ]\n});\nconsole.log(interaction.output_text);\n"
          },
          {
            "label": "multi_turn",
            "lang": "java",
            "source": "import com.google.genai.Client;\nimport com.google.genai.gaos.models.interactions.CreateModelInteraction;\nimport com.google.genai.gaos.models.interactions.Interaction;\nimport com.google.genai.gaos.models.interactions.InteractionsInput;\nimport com.google.genai.gaos.models.interactions.ModelOutputStep;\nimport com.google.genai.gaos.models.interactions.Step;\nimport com.google.genai.gaos.models.interactions.TextContent;\nimport com.google.genai.gaos.models.interactions.UserInputStep;\nimport com.google.genai.gaos.models.operations.CreateInteractionRequestBody;\nimport com.google.genai.gaos.models.operations.CreateInteractionResponse;\nimport java.util.List;\n\nClient client = new Client();\nList<Step> conversation = List.of(\n    UserInputStep.builder()\n        .content(List.of(TextContent.builder().text(\"Hello!\").build()))\n        .build(),\n    ModelOutputStep.builder()\n        .content(List.of(TextContent.builder().text(\"Hi there! How can I help you today?\").build()))\n        .build(),\n    UserInputStep.builder()\n        .content(List.of(TextContent.builder().text(\"What is the capital of France?\").build()))\n        .build()\n);\nCreateModelInteraction params =\n    CreateModelInteraction.builder()\n        .model(\"gemini-3.6-flash\")\n        .input(InteractionsInput.ofStep(conversation))\n        .build();\nCreateInteractionResponse response =\n    client.interactions.create(CreateInteractionRequestBody.of(params));\nInteraction interaction =\n    response.interaction().orElseThrow(() -> new RuntimeException(\"No interaction returned\"));\nSystem.out.println(interaction.outputText().orElse(\"\"));\n"
          },
          {
            "label": "multimodal_image",
            "lang": "sh",
            "source": "curl -X POST https://generativelanguage.googleapis.com/v1beta/interactions \\\n  -H \"x-goog-api-key: $GEMINI_API_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\n    \"model\": \"gemini-3.6-flash\",\n    \"input\": [\n      {\n        \"type\": \"text\",\n        \"text\": \"What is in this picture?\"\n      },\n      {\n        \"type\": \"image\",\n        \"data\": \"BASE64_ENCODED_IMAGE\",\n        \"mime_type\": \"image/png\"\n      }\n    ]\n  }'\n"
          },
          {
            "label": "multimodal_image",
            "lang": "python",
            "source": "from google import genai\n\nclient = genai.Client()\nresponse = client.interactions.create(\n    model=\"gemini-3.6-flash\",\n    input=[\n      { \"type\": \"text\", \"text\": \"What is in this picture?\" },\n      { \"type\": \"image\", \"data\": \"BASE64_ENCODED_IMAGE\", \"mime_type\": \"image/png\" }\n    ]\n)\nprint(response.output_text)\n"
          },
          {
            "label": "multimodal_image",
            "lang": "javascript",
            "source": "import {GoogleGenAI} from '@google/genai';\n\nconst ai = new GoogleGenAI({});\nconst interaction = await ai.interactions.create({\n    model: 'gemini-3.6-flash',\n    input: [\n      { type: 'text', text: 'What is in this picture?' },\n      { type: 'image', data: 'BASE64_ENCODED_IMAGE', mime_type: 'image/png' }\n    ]\n});\nconsole.log(interaction.output_text);\n"
          },
          {
            "label": "multimodal_image",
            "lang": "java",
            "source": "import com.google.genai.Client;\nimport com.google.genai.gaos.models.interactions.Content;\nimport com.google.genai.gaos.models.interactions.CreateModelInteraction;\nimport com.google.genai.gaos.models.interactions.ImageContent;\nimport com.google.genai.gaos.models.interactions.ImageContentMimeType;\nimport com.google.genai.gaos.models.interactions.Interaction;\nimport com.google.genai.gaos.models.interactions.InteractionsInput;\nimport com.google.genai.gaos.models.interactions.TextContent;\nimport com.google.genai.gaos.models.operations.CreateInteractionRequestBody;\nimport com.google.genai.gaos.models.operations.CreateInteractionResponse;\nimport java.util.List;\n\nClient client = new Client();\nList<Content> content = List.of(\n    TextContent.builder().text(\"What is in this picture?\").build(),\n    ImageContent.builder()\n        .data(\"BASE64_ENCODED_IMAGE\")\n        .mimeType(ImageContentMimeType.IMAGE_PNG)\n        .build()\n);\nCreateModelInteraction params =\n    CreateModelInteraction.builder()\n        .model(\"gemini-3.6-flash\")\n        .input(InteractionsInput.ofContent(content))\n        .build();\nCreateInteractionResponse response =\n    client.interactions.create(CreateInteractionRequestBody.of(params));\nInteraction interaction =\n    response.interaction().orElseThrow(() -> new RuntimeException(\"No interaction returned\"));\nSystem.out.println(interaction.outputText().orElse(\"\"));\n"
          },
          {
            "label": "function_calling",
            "lang": "sh",
            "source": "curl -X POST https://generativelanguage.googleapis.com/v1beta/interactions \\\n  -H \"x-goog-api-key: $GEMINI_API_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\n    \"model\": \"gemini-3.6-flash\",\n    \"tools\": [\n      {\n        \"type\": \"function\",\n        \"name\": \"get_weather\",\n        \"description\": \"Get the current weather in a given location\",\n        \"parameters\": {\n          \"type\": \"object\",\n          \"properties\": {\n            \"location\": {\n              \"type\": \"string\",\n              \"description\": \"The city and state, e.g. San Francisco, CA\"\n            }\n          },\n          \"required\": [\n            \"location\"\n          ]\n        }\n      }\n    ],\n    \"input\": \"What is the weather like in Boston, MA?\"\n  }'\n"
          },
          {
            "label": "function_calling",
            "lang": "python",
            "source": "from google import genai\n\nclient = genai.Client()\nresponse = client.interactions.create(\n    model=\"gemini-3.6-flash\",\n    tools=[{\n        \"type\": \"function\",\n        \"name\": \"get_weather\",\n        \"description\": \"Get the current weather in a given location\",\n        \"parameters\": {\n            \"type\": \"object\",\n            \"properties\": {\n                \"location\": {\n                    \"type\": \"string\",\n                    \"description\": \"The city and state, e.g. San Francisco, CA\"\n                }\n            },\n            \"required\": [\"location\"]\n        }\n    }],\n    input=\"What is the weather like in Boston, MA?\"\n)\nprint(response.steps[-1])\n"
          },
          {
            "label": "function_calling",
            "lang": "javascript",
            "source": "import {GoogleGenAI} from '@google/genai';\n\nconst ai = new GoogleGenAI({});\nconst interaction = await ai.interactions.create({\n    model: 'gemini-3.6-flash',\n    tools: [{\n        type: 'function',\n        name: 'get_weather',\n        description: 'Get the current weather in a given location',\n        parameters: {\n            type: 'object',\n            properties: {\n                location: {\n                    type: 'string',\n                    description: 'The city and state, e.g. San Francisco, CA'\n                }\n            },\n            required: ['location']\n        }\n    }],\n    input: 'What is the weather like in Boston, MA?'\n});\nconsole.log(interaction.steps.at(-1));\n"
          },
          {
            "label": "function_calling",
            "lang": "java",
            "source": "import com.google.genai.Client;\nimport com.google.genai.gaos.models.interactions.CreateModelInteraction;\nimport com.google.genai.gaos.models.interactions.Function;\nimport com.google.genai.gaos.models.interactions.Interaction;\nimport com.google.genai.gaos.models.interactions.InteractionsInput;\nimport com.google.genai.gaos.models.interactions.Step;\nimport com.google.genai.gaos.models.operations.CreateInteractionRequestBody;\nimport com.google.genai.gaos.models.operations.CreateInteractionResponse;\nimport java.util.List;\nimport java.util.Map;\n\nClient client = new Client();\nMap<String, Object> parameters = Map.of(\n    \"type\", \"object\",\n    \"properties\", Map.of(\n        \"location\", Map.of(\n            \"type\", \"string\",\n            \"description\", \"The city and state, e.g. San Francisco, CA\"\n        )\n    ),\n    \"required\", List.of(\"location\")\n);\nFunction functionTool = Function.builder()\n    .name(\"get_weather\")\n    .description(\"Get the current weather in a given location\")\n    .parameters(parameters)\n    .build();\nCreateModelInteraction params =\n    CreateModelInteraction.builder()\n        .model(\"gemini-3.6-flash\")\n        .tools(List.of(functionTool))\n        .input(InteractionsInput.of(\"What is the weather like in Boston, MA?\"))\n        .build();\nCreateInteractionResponse response =\n    client.interactions.create(CreateInteractionRequestBody.of(params));\nInteraction interaction =\n    response.interaction().orElseThrow(() -> new RuntimeException(\"No interaction returned\"));\nList<Step> steps = interaction.steps().orElse(List.of());\nif (!steps.isEmpty()) {\n  System.out.println(steps.get(steps.size() - 1));\n}\n"
          },
          {
            "label": "deep_research",
            "lang": "sh",
            "source": "curl -X POST https://generativelanguage.googleapis.com/v1beta/interactions \\\n  -H \"x-goog-api-key: $GEMINI_API_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\n    \"agent\": \"deep-research-pro-preview-12-2025\",\n    \"input\": \"Find a cure to cancer\",\n    \"background\": true\n  }'\n"
          },
          {
            "label": "deep_research",
            "lang": "python",
            "source": "from google import genai\n\nclient = genai.Client()\ninteraction = client.interactions.create(\n    agent=\"deep-research-pro-preview-12-2025\",\n    input=\"find a cure to cancer\",\n    background=True,\n)\nprint(interaction.status)\n"
          },
          {
            "label": "deep_research",
            "lang": "javascript",
            "source": "import {GoogleGenAI} from '@google/genai';\n\nconst ai = new GoogleGenAI({});\nconst interaction = await ai.interactions.create({\n    agent: 'deep-research-pro-preview-12-2025',\n    input: 'find a cure to cancer',\n    background: true,\n});\nconsole.log(interaction.status);\n"
          },
          {
            "label": "deep_research",
            "lang": "java",
            "source": "import com.google.genai.Client;\nimport com.google.genai.gaos.models.interactions.AgentOption;\nimport com.google.genai.gaos.models.interactions.CreateAgentInteraction;\nimport com.google.genai.gaos.models.interactions.Interaction;\nimport com.google.genai.gaos.models.interactions.InteractionStatus;\nimport com.google.genai.gaos.models.interactions.InteractionsInput;\nimport com.google.genai.gaos.models.operations.CreateInteractionRequestBody;\nimport com.google.genai.gaos.models.operations.CreateInteractionResponse;\n\nClient client = new Client();\nCreateAgentInteraction params =\n    CreateAgentInteraction.builder()\n        .agent(AgentOption.of(\"deep-research-pro-preview-12-2025\"))\n        .input(InteractionsInput.of(\"find a cure to cancer\"))\n        .background(true)\n        .build();\nCreateInteractionResponse response =\n    client.interactions.create(CreateInteractionRequestBody.of(params));\nInteraction interaction =\n    response.interaction().orElseThrow(() -> new RuntimeException(\"No interaction returned\"));\nSystem.out.println(interaction.status().map(InteractionStatus::value).orElse(\"\"));\n"
          },
          {
            "label": "antigravity",
            "lang": "sh",
            "source": "curl -X POST https://generativelanguage.googleapis.com/v1beta/interactions \\\n  -H \"x-goog-api-key: $GEMINI_API_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\n    \"agent\": \"antigravity-preview-05-2026\",\n    \"input\": \"Read Hacker News, summarize the top 5 stories, and save results as a markdown file.\",\n    \"environment\": \"remote\"\n  }'\n"
          },
          {
            "label": "antigravity",
            "lang": "python",
            "source": "from google import genai\n\nclient = genai.Client()\ninteraction = client.interactions.create(\n    agent=\"antigravity-preview-05-2026\",\n    input=\"Read Hacker News, summarize the top 5 stories, and save results as a markdown file.\",\n    environment=\"remote\",\n)\nprint(interaction.output_text)\n"
          },
          {
            "label": "antigravity",
            "lang": "javascript",
            "source": "import {GoogleGenAI} from '@google/genai';\n\nconst ai = new GoogleGenAI({});\nconst interaction = await ai.interactions.create({\n    agent: 'antigravity-preview-05-2026',\n    input: 'Read Hacker News, summarize the top 5 stories, and save results as a markdown file.',\n    environment: 'remote',\n});\nconsole.log(interaction.output_text);\n"
          },
          {
            "label": "antigravity",
            "lang": "java",
            "source": "import com.google.genai.Client;\nimport com.google.genai.gaos.models.interactions.AgentOption;\nimport com.google.genai.gaos.models.interactions.CreateAgentInteraction;\nimport com.google.genai.gaos.models.interactions.CreateAgentInteractionEnvironment;\nimport com.google.genai.gaos.models.interactions.Interaction;\nimport com.google.genai.gaos.models.interactions.InteractionsInput;\nimport com.google.genai.gaos.models.operations.CreateInteractionRequestBody;\nimport com.google.genai.gaos.models.operations.CreateInteractionResponse;\n\nClient client = new Client();\nCreateAgentInteraction params =\n    CreateAgentInteraction.builder()\n        .agent(AgentOption.of(\"antigravity-preview-05-2026\"))\n        .input(InteractionsInput.of(\"Read Hacker News, summarize the top 5 stories, and save results as a markdown file.\"))\n        .environment(CreateAgentInteractionEnvironment.of(\"remote\"))\n        .build();\nCreateInteractionResponse response =\n    client.interactions.create(CreateInteractionRequestBody.of(params));\nInteraction interaction =\n    response.interaction().orElseThrow(() -> new RuntimeException(\"No interaction returned\"));\nSystem.out.println(interaction.outputText().orElse(\"\"));\n"
          },
          {
            "label": "reuse_env",
            "lang": "sh",
            "source": "# Step 1: Create an interaction with a fresh remote environment.\nRESPONSE=$(curl -s -X POST https://generativelanguage.googleapis.com/v1beta/interactions \\\n  -H \"x-goog-api-key: $GEMINI_API_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Api-Revision: 2026-05-20\" \\\n  -d '{\n    \"agent\": \"antigravity-preview-05-2026\",\n    \"input\": \"Write a hello world script at /workspace/hello.py.\",\n    \"environment\": \"remote\"\n  }')\nINTERACTION_ID=$(echo $RESPONSE | python3 -c \"import sys,json; print(json.load(sys.stdin)['id'])\")\nENV_ID=$(echo $RESPONSE | python3 -c \"import sys,json; print(json.load(sys.stdin)['environment_id'])\")\n\n# Step 2: Reuse the same environment in a follow-up interaction.\ncurl -X POST https://generativelanguage.googleapis.com/v1beta/interactions \\\n  -H \"x-goog-api-key: $GEMINI_API_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d \"{\n    \\\"agent\\\": \\\"antigravity-preview-05-2026\\\",\n    \\\"input\\\": \\\"Modify the script to accept a name argument and greet the user.\\\",\n    \\\"environment\\\": \\\"$ENV_ID\\\",\n    \\\"previous_interaction_id\\\": \\\"$INTERACTION_ID\\\"\n  }\"\n"
          },
          {
            "label": "reuse_env",
            "lang": "python",
            "source": "from google import genai\n\nclient = genai.Client()\n\n# Step 1: Create an interaction with a fresh remote environment.\ninteraction = client.interactions.create(\n    agent=\"antigravity-preview-05-2026\",\n    input=\"Write a hello world script at /workspace/hello.py.\",\n    environment=\"remote\",\n)\nprint(f\"Environment ID: {interaction.environment_id}\")\n\n# Step 2: Reuse the same environment in a follow-up interaction.\ninteraction_2 = client.interactions.create(\n    agent=\"antigravity-preview-05-2026\",\n    input=\"Modify the script to accept a name argument and greet the user.\",\n    environment=interaction.environment_id,\n    previous_interaction_id=interaction.id,\n)\nprint(interaction_2.output_text)\n"
          },
          {
            "label": "reuse_env",
            "lang": "javascript",
            "source": "import {GoogleGenAI} from '@google/genai';\n\nconst ai = new GoogleGenAI({});\n\n// Step 1: Create an interaction with a fresh remote environment.\nconst interaction = await ai.interactions.create({\n    agent: 'antigravity-preview-05-2026',\n    input: 'Write a hello world script at /workspace/hello.py.',\n    environment: 'remote',\n});\nconsole.log(`Environment ID: ${interaction.environment_id}`);\n\n// Step 2: Reuse the same environment in a follow-up interaction.\nconst interaction2 = await ai.interactions.create({\n    agent: 'antigravity-preview-05-2026',\n    input: 'Modify the script to accept a name argument and greet the user.',\n    environment: interaction.environment_id,\n    previous_interaction_id: interaction.id,\n});\nconsole.log(interaction2.output_text);\n"
          },
          {
            "label": "reuse_env",
            "lang": "java",
            "source": "import com.google.genai.Client;\nimport com.google.genai.gaos.models.interactions.AgentOption;\nimport com.google.genai.gaos.models.interactions.CreateAgentInteraction;\nimport com.google.genai.gaos.models.interactions.CreateAgentInteractionEnvironment;\nimport com.google.genai.gaos.models.interactions.Interaction;\nimport com.google.genai.gaos.models.interactions.InteractionsInput;\nimport com.google.genai.gaos.models.operations.CreateInteractionRequestBody;\nimport com.google.genai.gaos.models.operations.CreateInteractionResponse;\n\nClient client = new Client();\n\n// Step 1: Create an interaction with a fresh remote environment.\nCreateAgentInteraction params1 =\n    CreateAgentInteraction.builder()\n        .agent(AgentOption.of(\"antigravity-preview-05-2026\"))\n        .input(InteractionsInput.of(\"Write a hello world script at /workspace/hello.py.\"))\n        .environment(CreateAgentInteractionEnvironment.of(\"remote\"))\n        .build();\nCreateInteractionResponse response1 =\n    client.interactions.create(CreateInteractionRequestBody.of(params1));\nInteraction interaction1 =\n    response1.interaction().orElseThrow(() -> new RuntimeException(\"No interaction returned\"));\nSystem.out.println(\"Environment ID: \" + interaction1.environmentId().orElse(\"\"));\n\n// Step 2: Reuse the same environment in a follow-up interaction.\nCreateAgentInteraction params2 =\n    CreateAgentInteraction.builder()\n        .agent(AgentOption.of(\"antigravity-preview-05-2026\"))\n        .input(InteractionsInput.of(\"Modify the script to accept a name argument and greet the user.\"))\n        .environment(CreateAgentInteractionEnvironment.of(interaction1.environmentId().orElse(\"\")))\n        .previousInteractionId(interaction1.id().orElse(null))\n        .build();\nCreateInteractionResponse response2 =\n    client.interactions.create(CreateInteractionRequestBody.of(params2));\nInteraction interaction2 =\n    response2.interaction().orElseThrow(() -> new RuntimeException(\"No interaction returned\"));\nSystem.out.println(interaction2.outputText().orElse(\"\"));\n"
          },
          {
            "label": "with_sources",
            "lang": "sh",
[...]
