{
  "openapi": "3.0.3",
  "info": {
    "title": "Gemini API",
    "description": "The Gemini Interactions API is an experimental API that allows developers to build generative AI applications using Gemini models. Gemini is our most capable model, built from the ground up to be multimodal. It can generalize and seamlessly understand, operate across, and combine different types of information including language, images, audio, video, and code. You can use the Gemini API for use cases like reasoning across text and images, content generation, dialogue agents, summarization and classification systems, and more.",
    "version": "v1beta",
    "x-google-revision": "0"
  },
  "servers": [
    {
      "url": "https://generativelanguage.googleapis.com",
      "description": "Global Endpoint"
    }
  ],
  "paths": {
    "/{api_version}/interactions": {
      "parameters": [{ "$ref": "#/components/parameters/api_version" }],
      "post": {
        "operationId": "CreateInteraction",
        "description": "Creates a new interaction.",
        "security": [],
        "parameters": [],
        "requestBody": {
          "description": "The request body.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/CreateModelInteractionParams"
                  },
                  {
                    "$ref": "#/components/schemas/CreateAgentInteractionParams"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Interaction" },
                "examples": {
                  "simple": {
                    "summary": "Simple Request",
                    "value": {
                      "created": "2025-11-26T12:25:15Z",
                      "id": "v1_ChdPU0F4YWFtNkFwS2kxZThQZ05lbXdROBIXT1NBeGFhbTZBcEtpMWU4UGdOZW13UTg",
                      "model": "gemini-3-flash-preview",
                      "object": "interaction",
                      "steps": [
                        {
                          "type": "model_output",
                          "content": [
                            {
                              "type": "text",
                              "text": "Hello! I'm functioning perfectly and ready to assist you.\n\nHow are you doing today?"
                            }
                          ]
                        }
                      ],
                      "status": "completed",
                      "updated": "2025-11-26T12:25:15Z",
                      "usage": {
                        "input_tokens_by_modality": [
                          { "modality": "text", "tokens": 7 }
                        ],
                        "total_cached_tokens": 0,
                        "total_input_tokens": 7,
                        "total_output_tokens": 20,
                        "total_thought_tokens": 22,
                        "total_tokens": 49,
                        "total_tool_use_tokens": 0
                      }
                    }
                  },
                  "multi_turn": {
                    "summary": "Multi-turn",
                    "value": {
                      "id": "v1_ChdPU0F4YWFtNkFwS2kxZThQZ05lbXdROBIXT1NBeGFhbTZBcEtpMWU4UGdOZW13UTg",
                      "model": "gemini-3-flash-preview",
                      "status": "completed",
                      "object": "interaction",
                      "created": "2025-11-26T12:22:47Z",
                      "updated": "2025-11-26T12:22:47Z",
                      "steps": [
                        {
                          "type": "model_output",
                          "content": [
                            {
                              "type": "text",
                              "text": "The capital of France is Paris."
                            }
                          ]
                        }
                      ],
                      "usage": {
                        "input_tokens_by_modality": [
                          { "modality": "text", "tokens": 50 }
                        ],
                        "total_cached_tokens": 0,
                        "total_input_tokens": 50,
                        "total_output_tokens": 10,
                        "total_thought_tokens": 0,
                        "total_tokens": 60,
                        "total_tool_use_tokens": 0
                      }
                    }
                  },
                  "multimodal_image": {
                    "summary": "Image Input",
                    "value": {
                      "id": "v1_ChdPU0F4YWFtNkFwS2kxZThQZ05lbXdROBIXT1NBeGFhbTZBcEtpMWU4UGdOZW13UTg",
                      "model": "gemini-3-flash-preview",
                      "status": "completed",
                      "object": "interaction",
                      "created": "2025-11-26T12:22:47Z",
                      "updated": "2025-11-26T12:22:47Z",
                      "steps": [
                        {
                          "type": "model_output",
                          "content": [
                            {
                              "type": "text",
                              "text": "A white humanoid robot with glowing blue eyes stands holding a red skateboard."
                            }
                          ]
                        }
                      ],
                      "usage": {
                        "input_tokens_by_modality": [
                          { "modality": "text", "tokens": 10 },
                          { "modality": "image", "tokens": 258 }
                        ],
                        "total_cached_tokens": 0,
                        "total_input_tokens": 268,
                        "total_output_tokens": 20,
                        "total_thought_tokens": 0,
                        "total_tokens": 288,
                        "total_tool_use_tokens": 0
                      }
                    }
                  },
                  "function_calling": {
                    "summary": "Function Calling",
                    "value": {
                      "id": "v1_ChdPU0F4YWFtNkFwS2kxZThQZ05lbXdROBIXT1NBeGFhbTZBcEtpMWU4UGdOZW13UTg",
                      "model": "gemini-3-flash-preview",
                      "status": "requires_action",
                      "object": "interaction",
                      "created": "2025-11-26T12:22:47Z",
                      "updated": "2025-11-26T12:22:47Z",
                      "steps": [
                        {
                          "type": "function_call",
                          "id": "gth23981",
                          "name": "get_weather",
                          "arguments": { "location": "Boston, MA" }
                        }
                      ],
                      "usage": {
                        "input_tokens_by_modality": [
                          { "modality": "text", "tokens": 100 }
                        ],
                        "total_cached_tokens": 0,
                        "total_input_tokens": 100,
                        "total_output_tokens": 25,
                        "total_thought_tokens": 0,
                        "total_tokens": 125,
                        "total_tool_use_tokens": 50
                      }
                    }
                  },
                  "deep_research": {
                    "summary": "Deep Research",
                    "value": {
                      "id": "v1_ChdPU0F4YWFtNkFwS2kxZThQZ05lbXdROBIXT1NBeGFhbTZBcEtpMWU4UGdOZW13UTg",
                      "agent": "deep-research-pro-preview-12-2025",
                      "status": "completed",
                      "object": "interaction",
                      "created": "2025-11-26T12:22:47Z",
                      "updated": "2025-11-26T12:22:47Z",
                      "steps": [
                        {
                          "type": "model_output",
                          "content": [
                            {
                              "type": "text",
                              "text": "Here is a comprehensive research report on the current state of cancer research..."
                            }
                          ]
                        }
                      ],
                      "usage": {
                        "input_tokens_by_modality": [
                          { "modality": "text", "tokens": 20 }
                        ],
                        "total_cached_tokens": 0,
                        "total_input_tokens": 20,
                        "total_output_tokens": 1000,
                        "total_thought_tokens": 500,
                        "total_tokens": 1520,
                        "total_tool_use_tokens": 0
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error creating interaction",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": { "$ref": "#/components/schemas/Error" }
                  }
                }
              }
            }
          }
        },
        "summary": "Creating an interaction",
        "x-codeSamples": [
          {
            "lang": "sh",
            "label": "simple",
            "source": "curl -X POST https://generativelanguage.googleapis.com/v1beta/interactions \\\n  -H \"x-goog-api-key: $GEMINI_API_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Api-Revision: 2026-05-20\" \\\n  -d '{\n    \"model\": \"gemini-3-flash-preview\",\n    \"input\": \"Hello, how are you?\"\n  }'\n"
          },
          {
            "lang": "python",
            "label": "simple",
            "source": "from google import genai\n\nclient = genai.Client()\ninteraction = client.interactions.create(\n    model=\"gemini-3-flash-preview\",\n    input=\"Hello, how are you?\",\n)\nprint(interaction.steps[-1].content[0].text)\n"
          },
          {
            "lang": "javascript",
            "label": "simple",
            "source": "import {GoogleGenAI} from '@google/genai';\n\nconst ai = new GoogleGenAI({});\nconst interaction = await ai.interactions.create({\n    model: 'gemini-3-flash-preview',\n    input: 'Hello, how are you?',\n});\nconsole.log(interaction.steps.at(-1).content[0].text);\n"
          },
          {
            "lang": "sh",
            "label": "multi_turn",
            "source": "curl -X POST https://generativelanguage.googleapis.com/v1beta/interactions \\\n  -H \"x-goog-api-key: $GEMINI_API_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Api-Revision: 2026-05-20\" \\\n  -d '{\n    \"model\": \"gemini-3-flash-preview\",\n    \"input\": [\n      { \"type\": \"user_input\", \"content\": [{ \"type\": \"text\", \"text\": \"Hello!\" }] },\n      { \"type\": \"model_output\", \"content\": [{ \"type\": \"text\", \"text\": \"Hi there! How can I help you today?\" }] },\n      { \"type\": \"user_input\", \"content\": [{ \"type\": \"text\", \"text\": \"What is the capital of France?\" }] }\n    ]\n  }'\n"
          },
          {
            "lang": "python",
            "label": "multi_turn",
            "source": "from google import genai\n\nclient = genai.Client()\nresponse = client.interactions.create(\n    model=\"gemini-3-flash-preview\",\n    input=[\n        { \"type\": \"user_input\", \"content\": [{ \"type\": \"text\", \"text\": \"Hello!\" }] },\n        { \"type\": \"model_output\", \"content\": [{ \"type\": \"text\", \"text\": \"Hi there! How can I help you today?\" }] },\n        { \"type\": \"user_input\", \"content\": [{ \"type\": \"text\", \"text\": \"What is the capital of France?\" }] }\n    ]\n)\nprint(response.steps[-1].content[0].text)\n"
          },
          {
            "lang": "javascript",
            "label": "multi_turn",
            "source": "import {GoogleGenAI} from '@google/genai';\n\nconst ai = new GoogleGenAI({});\nconst interaction = await ai.interactions.create({\n    model: 'gemini-3-flash-preview',\n    input: [\n        { type: 'user_input', content: [{ type: 'text', text: 'Hello' }] },\n        { type: 'model_output', content: [{ type: 'text', text: 'Hi there! How can I help you today?' }] },\n        { type: 'user_input', content: [{ type: 'text', text: 'What is the capital of France?' }] }\n    ]\n});\nconsole.log(interaction.steps.at(-1).content[0].text);\n"
          },
          {
            "lang": "sh",
            "label": "multimodal_image",
            "source": "curl -X POST https://generativelanguage.googleapis.com/v1beta/interactions \\\n  -H \"x-goog-api-key: $GEMINI_API_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Api-Revision: 2026-05-20\" \\\n  -d '{\n    \"model\": \"gemini-3-flash-preview\",\n    \"input\": [\n      {\n        \"type\": \"text\",\n        \"text\": \"What is in this picture?\"\n      },\n      {\n        \"type\": \"image\",\n        \"data\": \"BASE64_ENCODED_IMAGE\",\n        \"mime_type\": \"image/png\"\n      }\n    ]\n  }'\n"
          },
          {
            "lang": "python",
            "label": "multimodal_image",
            "source": "from google import genai\n\nclient = genai.Client()\nresponse = client.interactions.create(\n    model=\"gemini-3-flash-preview\",\n    input=[\n      { \"type\": \"text\", \"text\": \"What is in this picture?\" },\n      { \"type\": \"image\", \"data\": \"BASE64_ENCODED_IMAGE\", \"mime_type\": \"image/png\" }\n    ]\n)\nprint(response.steps[-1].content[0].text)\n"
          },
          {
            "lang": "javascript",
            "label": "multimodal_image",
            "source": "import {GoogleGenAI} from '@google/genai';\n\nconst ai = new GoogleGenAI({});\nconst interaction = await ai.interactions.create({\n    model: 'gemini-3-flash-preview',\n    input: [\n      { type: 'text', text: 'What is in this picture?' },\n      { type: 'image', data: 'BASE64_ENCODED_IMAGE', mime_type: 'image/png' }\n    ]\n});\nconsole.log(interaction.steps.at(-1).content[0].text);\n"
          },
          {
            "lang": "sh",
            "label": "function_calling",
            "source": "curl -X POST https://generativelanguage.googleapis.com/v1beta/interactions \\\n  -H \"x-goog-api-key: $GEMINI_API_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Api-Revision: 2026-05-20\" \\\n  -d '{\n    \"model\": \"gemini-3-flash-preview\",\n    \"tools\": [\n      {\n        \"type\": \"function\",\n        \"name\": \"get_weather\",\n        \"description\": \"Get the current weather in a given location\",\n        \"parameters\": {\n          \"type\": \"object\",\n          \"properties\": {\n            \"location\": {\n              \"type\": \"string\",\n              \"description\": \"The city and state, e.g. San Francisco, CA\"\n            }\n          },\n          \"required\": [\n            \"location\"\n          ]\n        }\n      }\n    ],\n    \"input\": \"What is the weather like in Boston, MA?\"\n  }'\n"
          },
          {
            "lang": "python",
            "label": "function_calling",
            "source": "from google import genai\n\nclient = genai.Client()\nresponse = client.interactions.create(\n    model=\"gemini-3-flash-preview\",\n    tools=[{\n        \"type\": \"function\",\n        \"name\": \"get_weather\",\n        \"description\": \"Get the current weather in a given location\",\n        \"parameters\": {\n            \"type\": \"object\",\n            \"properties\": {\n                \"location\": {\n                    \"type\": \"string\",\n                    \"description\": \"The city and state, e.g. San Francisco, CA\"\n                }\n            },\n            \"required\": [\"location\"]\n        }\n    }],\n    input=\"What is the weather like in Boston, MA?\"\n)\nprint(response.steps[-1])\n"
          },
          {
            "lang": "javascript",
            "label": "function_calling",
            "source": "import {GoogleGenAI} from '@google/genai';\n\nconst ai = new GoogleGenAI({});\nconst interaction = await ai.interactions.create({\n    model: 'gemini-3-flash-preview',\n    tools: [{\n        type: 'function',\n        name: 'get_weather',\n        description: 'Get the current weather in a given location',\n        parameters: {\n            type: 'object',\n            properties: {\n                location: {\n                    type: 'string',\n                    description: 'The city and state, e.g. San Francisco, CA'\n                }\n            },\n            required: ['location']\n        }\n    }],\n    input: 'What is the weather like in Boston, MA?'\n});\nconsole.log(interaction.steps.at(-1));\n"
          },
          {
            "lang": "sh",
            "label": "deep_research",
            "source": "curl -X POST https://generativelanguage.googleapis.com/v1beta/interactions \\\n  -H \"x-goog-api-key: $GEMINI_API_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Api-Revision: 2026-05-20\" \\\n  -d '{\n    \"agent\": \"deep-research-pro-preview-12-2025\",\n    \"input\": \"Find a cure to cancer\",\n    \"background\": true\n  }'\n"
          },
          {
            "lang": "python",
            "label": "deep_research",
            "source": "from google import genai\n\nclient = genai.Client()\ninteraction = client.interactions.create(\n    agent=\"deep-research-pro-preview-12-2025\",\n    input=\"find a cure to cancer\",\n    background=True,\n)\nprint(interaction.status)\n"
          },
          {
            "lang": "javascript",
            "label": "deep_research",
            "source": "import {GoogleGenAI} from '@google/genai';\n\nconst ai = new GoogleGenAI({});\nconst interaction = await ai.interactions.create({\n    agent: 'deep-research-pro-preview-12-2025',\n    input: 'find a cure to cancer',\n    background: true,\n});\nconsole.log(interaction.status);\n"
          }
        ]
      }
    },
    "/{api_version}/interactions?model": {
      "parameters": [{ "$ref": "#/components/parameters/api_version" }],
      "post": {
        "operationId": "CreateInteraction",
        "description": "Creates a new interaction.",
        "security": [],
        "parameters": [],
        "requestBody": {
          "description": "The request body.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateModelInteractionParams"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Interaction" }
              }
            }
          },
          "default": {
            "description": "Error creating interaction",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": { "$ref": "#/components/schemas/Error" }
                  }
                }
              }
            }
          }
        },
        "summary": "Creating an interaction",
        "x-internal": true
      }
    },
    "/{api_version}/interactions?agent": {
      "parameters": [{ "$ref": "#/components/parameters/api_version" }],
      "post": {
        "operationId": "CreateInteraction",
        "description": "Creates a new interaction.",
        "security": [],
        "parameters": [],
        "requestBody": {
          "description": "The request body.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAgentInteractionParams"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Interaction" }
              }
            }
          },
          "default": {
            "description": "Error creating interaction",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": { "$ref": "#/components/schemas/Error" }
                  }
                }
              }
            }
          }
        },
        "summary": "Creating an interaction",
        "x-internal": true
      }
    },
    "/{api_version}/interactions/{id}": {
      "get": {
        "operationId": "getInteractionById",
        "description": "Retrieves the full details of a single interaction based on its `Interaction.id`.",
        "security": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier of the interaction to retrieve.",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "stream",
            "in": "query",
            "schema": { "type": "boolean", "default": false },
            "description": "If set to true, the generated content will be streamed incrementally."
          },
          {
            "name": "last_event_id",
            "in": "query",
            "schema": { "type": "string" },
            "description": "Optional. If set, resumes the interaction stream from the next chunk after the event marked by the event id. Can only be used if `stream` is true."
          },
          {
            "name": "include_input",
            "in": "query",
            "deprecated": true,
            "schema": { "type": "boolean", "default": false },
            "description": "If set to true, includes the input in the response."
          },
          { "$ref": "#/components/parameters/api_version" }
        ],
        "responses": {
          "200": {
            "description": "Successful retrieval of the interaction.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Interaction" },
                "examples": {
                  "get": {
                    "summary": "Get Interaction",
                    "value": {
                      "id": "v1_ChdPU0F4YWFtNkFwS2kxZThQZ05lbXdROBIXT1NBeGFhbTZBcEtpMWU4UGdOZW13UTg",
                      "model": "gemini-3-flash-preview",
                      "status": "completed",
                      "object": "interaction",
                      "created": "2025-11-26T12:25:15Z",
                      "updated": "2025-11-26T12:25:15Z",
                      "steps": [
                        {
                          "type": "model_output",
                          "content": [
                            {
                              "type": "text",
                              "text": "I'm doing great, thank you for asking! How can I help you today?"
                            }
                          ]
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error getting interaction",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": { "$ref": "#/components/schemas/Error" }
                  }
                }
              }
            }
          }
        },
        "summary": "Retrieving an interaction",
        "x-codeSamples": [
          {
            "lang": "sh",
            "label": "get",
            "source": "curl -X GET https://generativelanguage.googleapis.com/v1beta/interactions/v1_ChdPU0F4YWFtNkFwS2kxZThQZ05lbXdROBIXT1NBeGFhbTZBcEtpMWU4UGdOZW13UTg \\\n  -H \"x-goog-api-key: $GEMINI_API_KEY\" \\\n  -H \"Api-Revision: 2026-05-20\"\n"
          },
          {
            "lang": "python",
            "label": "get",
            "source": "from google import genai\n\nclient = genai.Client()\n\ninteraction = client.interactions.get(id=\"v1_ChdPU0F4YWFtNkFwS2kxZThQZ05lbXdROBIXT1NBeGFhbTZBcEtpMWU4UGdOZW13UTg\")\nprint(interaction.status)\n"
          },
          {
            "lang": "javascript",
            "label": "get",
            "source": "import {GoogleGenAI} from '@google/genai';\n\nconst ai = new GoogleGenAI({});\nconst interaction = await ai.interactions.get('v1_ChdPU0F4YWFtNkFwS2kxZThQZ05lbXdROBIXT1NBeGFhbTZBcEtpMWU4UGdOZW13UTg');\nconsole.log(interaction.status);\n"
          }
        ]
      },
      "delete": {
        "operationId": "deleteInteraction",
        "description": "Deletes the interaction by id.",
        "summary": "Deleting an interaction",
        "security": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier of the interaction to delete.",
            "required": true,
            "schema": { "type": "string" }
          },
          { "$ref": "#/components/parameters/api_version" }
        ],
        "responses": {
          "200": {
            "description": "Successful deletion of the interaction.",
            "content": {
              "application/json": {
                "schema": { "type": "object" },
                "examples": {
                  "delete": { "summary": "Delete Interaction", "value": {} }
                }
              }
            }
          },
          "default": {
            "description": "Error deleting interaction",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": { "$ref": "#/components/schemas/Error" }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "sh",
            "label": "delete",
            "source": "curl -X DELETE https://generativelanguage.googleapis.com/v1beta/interactions/v1_ChdPU0F4YWFtNkFwS2kxZThQZ05lbXdROBIXT1NBeGFhbTZBcEtpMWU4UGdOZW13UTg \\\n  -H \"x-goog-api-key: $GEMINI_API_KEY\" \\\n  -H \"Api-Revision: 2026-05-20\"\n"
          },
          {
            "lang": "python",
            "label": "delete",
            "source": "from google import genai\n\nclient = genai.Client()\nclient.interactions.delete(id=\"v1_ChdPU0F4YWFtNkFwS2kxZThQZ05lbXdROBIXT1NBeGFhbTZBcEtpMWU4UGdOZW13UTg\")\nprint(\"Interaction deleted successfully.\")\n"
          },
          {
            "lang": "javascript",
            "label": "delete",
            "source": "import {GoogleGenAI} from '@google/genai';\n\nconst ai = new GoogleGenAI({});\nawait ai.interactions.delete('v1_ChdPU0F4YWFtNkFwS2kxZThQZ05lbXdROBIXT1NBeGFhbTZBcEtpMWU4UGdOZW13UTg');\nconsole.log('Interaction deleted successfully.');\n"
          }
        ]
      }
    },
    "/{api_version}/interactions/{id}/cancel": {
      "post": {
        "operationId": "cancelInteractionById",
        "description": "Cancels an interaction by id. This only applies to background interactions that are still running.",
        "security": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier of the interaction to cancel.",
            "required": true,
            "schema": { "type": "string" }
          },
          { "$ref": "#/components/parameters/api_version" }
        ],
        "responses": {
          "200": {
            "description": "Successful cancellation of the interaction.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Interaction" },
                "examples": {
                  "cancel": {
                    "summary": "Cancel Interaction",
                    "value": {
                      "id": "v1_ChdPU0F4YWFtNkFwS2kxZThQZ05lbXdROBIXT1NBeGFhbTZBcEtpMWU4UGdOZW13UTg",
                      "agent": "deep-research-pro-preview-12-2025",
                      "status": "cancelled",
                      "object": "interaction",
                      "created": "2025-11-26T12:25:15Z",
                      "updated": "2025-11-26T12:25:15Z"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error cancelling interaction",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": { "$ref": "#/components/schemas/Error" }
                  }
                }
              }
            }
          }
        },
        "summary": "Canceling an interaction",
        "x-codeSamples": [
          {
            "lang": "sh",
            "label": "cancel",
            "source": "curl -X POST https://generativelanguage.googleapis.com/v1beta/interactions/v1_ChdPU0F4YWFtNkFwS2kxZThQZ05lbXdROBIXT1NBeGFhbTZBcEtpMWU4UGdOZW13UTg/cancel \\\n  -H \"x-goog-api-key: $GEMINI_API_KEY\" \\\n  -H \"Api-Revision: 2026-05-20\"\n"
          },
          {
            "lang": "python",
            "label": "cancel",
            "source": "from google import genai\n\nclient = genai.Client()\n\ninteraction = client.interactions.cancel(id=\"v1_ChdPU0F4YWFtNkFwS2kxZThQZ05lbXdROBIXT1NBeGFhbTZBcEtpMWU4UGdOZW13UTg\")\nprint(interaction.status)\n"
          },
          {
            "lang": "javascript",
            "label": "cancel",
            "source": "import {GoogleGenAI} from '@google/genai';\n\nconst ai = new GoogleGenAI({});\nconst interaction = await ai.interactions.cancel('v1_ChdPU0F4YWFtNkFwS2kxZThQZ05lbXdROBIXT1NBeGFhbTZBcEtpMWU4UGdOZW13UTg');\nconsole.log(interaction.status);\n"
          }
        ]
      }
    },
    "/{api_version}/webhooks": {
      "parameters": [{ "$ref": "#/components/parameters/api_version" }],
      "post": {
        "operationId": "CreateWebhook",
        "description": "Creates a new Webhook.",
        "security": [],
        "parameters": [],
        "requestBody": {
          "description": "Required. The webhook to create.",
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/Webhook" }
            }
          }
        },
        "responses": {
          "default": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Webhook" }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "ListWebhooks",
        "description": "Lists all Webhooks.",
        "security": [],
        "parameters": [
          {
            "name": "page_size",
            "description": "Optional. The maximum number of webhooks to return. The service may return fewer than\nthis value. If unspecified, at most 50 webhooks will be returned.\nThe maximum value is 1000.",
            "in": "query",
            "schema": { "type": "integer", "format": "int32" }
          },
          {
            "name": "page_token",
            "description": "Optional. A page token, received from a previous `ListWebhooks` call.\nProvide this to retrieve the subsequent page.",
            "in": "query",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "default": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListWebhooksResponse"
                }
              }
            }
          }
        }
      }
    },
    "/{api_version}/webhooks/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": { "type": "string" }
        },
        { "$ref": "#/components/parameters/api_version" }
      ],
      "get": {
        "operationId": "GetWebhook",
        "description": "Gets a specific Webhook.",
        "security": [],
        "parameters": [
          {
            "name": "id",
            "description": "Required. The ID of the webhook to retrieve.",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "default": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Webhook" }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "UpdateWebhook",
        "description": "Updates an existing Webhook.",
        "security": [],
        "parameters": [
          {
            "name": "id",
            "description": "Required. The ID of the webhook to update.",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "update_mask",
            "description": "Optional. The list of fields to update.",
            "in": "query",
            "schema": {
              "type": "string",
              "pattern": "^(\\s*[^,\\s.]+(\\s*[,.]\\s*[^,\\s.]+)*)?$",
              "format": "google-fieldmask"
            }
          }
        ],
        "requestBody": {
          "description": "Required. The webhook to update.",
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/WebhookUpdate" }
            }
          }
        },
        "responses": {
          "default": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Webhook" }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "DeleteWebhook",
        "description": "Deletes a Webhook.",
        "security": [],
        "parameters": [
          {
            "name": "id",
            "description": "Required. The ID of the webhook to delete.\nFormat: `{webhook_id}`",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "default": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Empty" }
              }
            }
          }
        }
      }
    },
    "/{api_version}/webhooks/{id}:rotateSigningSecret": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": { "type": "string" }
        },
        { "$ref": "#/components/parameters/api_version" }
      ],
      "post": {
        "operationId": "RotateSigningSecret",
        "description": "Generates a new signing secret for a Webhook.",
        "security": [],
        "parameters": [
          {
            "name": "id",
            "description": "Required. The ID of the webhook for which to generate a signing secret.\nFormat: `{webhook_id}`",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "description": "The request body.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RotateSigningSecretRequest"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RotateSigningSecretResponse"
                }
              }
            }
          }
        }
      }
    },
    "/{api_version}/webhooks/{id}:ping": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": { "type": "string" }
        },
        { "$ref": "#/components/parameters/api_version" }
      ],
      "post": {
        "operationId": "PingWebhook",
        "description": "Sends a ping event to a Webhook.",
        "security": [],
        "parameters": [
          {
            "name": "id",
            "description": "Required. The ID of the webhook to ping.\nFormat: `{webhook_id}`",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "description": "The request body.",
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/PingWebhookRequest" }
            }
          }
        },
        "responses": {
          "default": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/PingWebhookResponse" }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "api_version": {
        "name": "api_version",
        "description": "Which version of the API to use.",
        "schema": { "type": "string" },
        "in": "path"
      }
    },
    "securitySchemes": {},
    "schemas": {
      "Empty": {
        "description": "A generic empty message that you can re-use to avoid defining duplicated\nempty messages in your APIs. A typical example is to use it as the request\nor the response type of an API method. For instance:\n\n    service Foo {\n      rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty);\n    }",
        "type": "object",
        "x-stainless-empty-object": true
      },
      "Content": {
        "description": "The content of the response.",
        "type": "object",
        "oneOf": [
          { "$ref": "#/components/schemas/TextContent" },
          { "$ref": "#/components/schemas/ImageContent" },
          { "$ref": "#/components/schemas/AudioContent" },
          { "$ref": "#/components/schemas/DocumentContent" },
          { "$ref": "#/components/schemas/VideoContent" }
        ],
        "discriminator": { "propertyName": "type" }
      },
      "TextContent": {
        "description": "A text content block.",
        "type": "object",
        "properties": {
          "type": { "const": "text" },
          "text": {
            "description": "Required. The text content.",
            "type": "string"
          },
          "annotations": {
            "description": "Citation information for model-generated content.",
            "type": "array",
            "items": { "$ref": "#/components/schemas/Annotation" }
          }
        },
        "required": ["type", "text"],
        "examples": [
          {
            "text": {
              "summary": "Text",
              "value": { "type": "text", "text": "Hello, how are you?" }
            }
          }
        ]
      },
      "Annotation": {
        "description": "Citation information for model-generated content.",
        "type": "object",
        "oneOf": [
          { "$ref": "#/components/schemas/UrlCitation" },
          { "$ref": "#/components/schemas/FileCitation" },
          { "$ref": "#/components/schemas/PlaceCitation" }
        ],
        "discriminator": { "propertyName": "type" }
      },
      "UrlCitation": {
        "description": "A URL citation annotation.",
        "type": "object",
        "properties": {
          "type": { "const": "url_citation" },
          "url": { "description": "The URL.", "type": "string" },
          "title": { "description": "The title of the URL.", "type": "string" },
          "start_index": {
            "description": "Start of segment of the response that is attributed to this source.\n\nIndex indicates the start of the segment, measured in bytes.",
            "type": "integer",
            "format": "int32"
          },
          "end_index": {
            "description": "End of the attributed segment, exclusive.",
            "type": "integer",
            "format": "int32"
          }
        },
        "required": ["type"]
      },
      "FileCitation": {
        "description": "A file citation annotation.",
        "type": "object",
        "properties": {
          "type": { "const": "file_citation" },
          "document_uri": {
            "description": "The URI of the file.",
            "type": "string"
          },
          "file_name": {
            "description": "The name of the file.",
            "type": "string"
          },
          "source": {
            "description": "Source attributed for a portion of the text.",
            "type": "string"
          },
          "custom_metadata": {
            "description": "User provided metadata about the retrieved context.",
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object."
            }
          },
          "page_number": {
            "description": "Page number of the cited document, if applicable.",
            "type": "integer",
            "format": "int32"
          },
          "media_id": {
            "description": "Media ID in-case of image citations, if applicable.",
            "type": "string"
          },
          "start_index": {
            "description": "Start of segment of the response that is attributed to this source.\n\nIndex indicates the start of the segment, measured in bytes.",
            "type": "integer",
            "format": "int32"
          },
          "end_index": {
            "description": "End of the attributed segment, exclusive.",
            "type": "integer",
            "format": "int32"
          }
        },
        "required": ["type"]
      },
      "PlaceCitation": {
        "description": "A place citation annotation.",
        "type": "object",
        "properties": {
          "type": { "const": "place_citation" },
          "place_id": {
            "description": "The ID of the place, in `places/{place_id}` format.",
            "type": "string"
          },
          "name": { "description": "Title of the place.", "type": "string" },
          "url": {
            "description": "URI reference of the place.",
            "type": "string"
          },
          "review_snippets": {
            "description": "Snippets of reviews that are used to generate answers about the\nfeatures of a given place in Google Maps.",
            "type": "array",
            "items": { "$ref": "#/components/schemas/ReviewSnippet" }
          },
          "start_index": {
            "description": "Start of segment of the response that is attributed to this source.\n\nIndex indicates the start of the segment, measured in bytes.",
            "type": "integer",
            "format": "int32"
          },
          "end_index": {
            "description": "End of the attributed segment, exclusive.",
            "type": "integer",
            "format": "int32"
          }
        },
        "required": ["type"]
      },
      "ReviewSnippet": {
        "description": "Encapsulates a snippet of a user review that answers a question about\nthe features of a specific place in Google Maps.",
        "type": "object",
        "properties": {
          "title": { "description": "Title of the review.", "type": "string" },
          "url": {
            "description": "A link that corresponds to the user review on Google Maps.",
            "type": "string"
          },
          "review_id": {
            "description": "The ID of the review snippet.",
            "type": "string"
          }
        }
      },
      "ImageContent": {
        "description": "An image content block.",
        "type": "object",
        "properties": {
          "type": { "const": "image" },
          "data": {
            "description": "The image content.",
            "type": "string",
            "format": "byte"
          },
          "uri": { "description": "The URI of the image.", "type": "string" },
          "mime_type": {
            "description": "The mime type of the image.",
            "type": "string",
            "x-google-enum-descriptions": [
              "PNG image format",
              "JPEG image format",
              "WebP image format",
              "HEIC image format",
              "HEIF image format",
              "GIF image format",
              "BMP image format",
              "TIFF image format"
            ],
            "enum": [
              "image/png",
              "image/jpeg",
              "image/webp",
              "image/heic",
              "image/heif",
              "image/gif",
              "image/bmp",
              "image/tiff"
            ]
          },
          "resolution": {
            "description": "The resolution of the media.",
            "$ref": "#/components/schemas/MediaResolution"
          }
        },
        "required": ["type"],
        "examples": [
          {
            "image": {
              "summary": "Image",
              "value": {
                "type": "image",
                "data": "BASE64_ENCODED_IMAGE",
                "mime_type": "image/png"
              }
            }
          }
        ]
      },
      "AudioContent": {
        "description": "An audio content block.",
        "type": "object",
        "properties": {
          "type": { "const": "audio" },
          "data": {
            "description": "The audio content.",
            "type": "string",
            "format": "byte"
          },
          "uri": { "description": "The URI of the audio.", "type": "string" },
          "mime_type": {
            "description": "The mime type of the audio.",
            "type": "string",
            "x-google-enum-descriptions": [
              "WAV audio format",
              "MP3 audio format",
              "AIFF audio format",
              "AAC audio format",
              "OGG audio format",
              "FLAC audio format",
              "MPEG audio format",
              "M4A audio format",
              "L16 audio format",
              "OPUS audio format",
              "ALAW audio format",
              "MULAW audio format"
            ],
            "enum": [
              "audio/wav",
              "audio/mp3",
              "audio/aiff",
              "audio/aac",
              "audio/ogg",
              "audio/flac",
              "audio/mpeg",
              "audio/m4a",
              "audio/l16",
              "audio/opus",
              "audio/alaw",
              "audio/mulaw"
            ]
          },
          "channels": {
            "description": "The number of audio channels.",
            "type": "integer",
            "format": "int32"
          },
          "sample_rate": {
            "description": "The sample rate of the audio.",
            "type": "integer",
            "format": "int32"
          }
        },
        "required": ["type"],
        "examples": [
          {
            "audio": {
              "summary": "Audio",
              "value": {
                "type": "audio",
                "data": "BASE64_ENCODED_AUDIO",
                "mime_type": "audio/wav"
              }
            }
          }
        ]
      },
      "DocumentContent": {
        "description": "A document content block.",
        "type": "object",
        "properties": {
          "type": { "const": "document" },
          "data": {
            "description": "The document content.",
            "type": "string",
            "format": "byte"
          },
          "uri": {
            "description": "The URI of the document.",
            "type": "string"
          },
          "mime_type": {
            "description": "The mime type of the document.",
            "type": "string",
            "x-google-enum-descriptions": ["PDF document format"],
            "enum": ["application/pdf"]
          }
        },
        "required": ["type"],
        "examples": [
          {
            "document": {
              "summary": "Document",
              "value": {
                "type": "document",
                "data": "BASE64_ENCODED_DOCUMENT",
                "mime_type": "application/pdf"
              }
            }
          }
        ]
      },
      "VideoContent": {
        "description": "A video content block.",
        "type": "object",
        "properties": {
          "type": { "const": "video" },
          "data": {
            "description": "The video content.",
            "type": "string",
            "format": "byte"
          },
          "uri": { "description": "The URI of the video.", "type": "string" },
          "mime_type": {
            "description": "The mime type of the video.",
            "type": "string",
            "x-google-enum-descriptions": [
              "MP4 video format",
              "MPEG video format",
              "MPG video format",
              "MOV video format",
              "AVI video format",
              "FLV video format",
              "WebM video format",
              "WMV video format",
              "3GPP video format"
            ],
            "enum": [
              "video/mp4",
              "video/mpeg",
              "video/mpg",
              "video/mov",
              "video/avi",
              "video/x-flv",
              "video/webm",
              "video/wmv",
              "video/3gpp"
            ]
          },
          "resolution": {
            "description": "The resolution of the media.",
            "$ref": "#/components/schemas/MediaResolution"
          }
        },
        "required": ["type"],
        "examples": [
          {
            "video": {
              "summary": "Video",
              "value": {
                "type": "video",
                "uri": "https://www.youtube.com/watch?v=9hE5-98ZeCg"
              }
            }
          }
        ]
      },
      "ThoughtContent": {
        "description": "A thought content block.",
        "type": "object",
        "properties": {
          "type": { "const": "thought" },
          "signature": {
            "description": "Signature to match the backend source to be part of the generation.",
            "type": "string",
            "format": "byte"
          },
          "summary": {
            "description": "A summary of the thought.",
            "type": "array",
            "items": { "$ref": "#/components/schemas/ThoughtSummaryContent" }
          }
        },
        "required": ["type"],
        "examples": [
          {
            "thought": {
              "summary": "Thought",
              "value": {
                "type": "thought",
                "summary": [
                  {
                    "type": "text",
                    "text": "The user is asking about the weather. I should use the get_weather tool."
                  }
                ],
                "signature": "CoMDAXLI2nynRYojJIy6B1Jh9os2crpWLfB0+19xcLsGG46bd8wjkF/6RNlRUdvHrXyjsHkG0BZFcuO/bPOyA6Xh5jANNgx82wPHjGExN8A4ZQn56FlMwyZoqFVQz0QyY1lfibFJ2zU3J87uw26OewzcuVX0KEcs+GIsZa3EA6WwqhbsOd3wtZB3Ua2Qf98VAWZTS5y/tWpql7jnU3/CU7pouxQr/Bwft3hwnJNesQ9/dDJTuaQ8Zprh9VRWf1aFFjpIueOjBRrlT3oW6/y/eRl/Gt9BQXCYTqg/38vHFUU4Wo/d9dUpvfCe/a3o97t2Jgxp34oFKcsVb4S5WJrykIkw+14DzVnTpCpbQNFckqvFLuqnJCkL0EQFtunBXI03FJpPu3T1XU6id8S7ojoJQZSauGUCgmaLqUGdMrd08oo81ecoJSLs51Re9N/lISGmjWFPGpqJLoGq6uo4FHz58hmeyXCgHG742BHz2P3MiH1CXHUT2J8mF6zLhf3SR9Qb3lkrobAh"
              }
            }
          }
        ]
      },
      "ThoughtSummaryContent": {
        "type": "object",
        "oneOf": [
          { "$ref": "#/components/schemas/TextContent" },
          { "$ref": "#/components/schemas/ImageContent" }
        ],
        "discriminator": { "propertyName": "type" }
      },
      "CodeExecutionCallArguments": {
        "description": "The arguments to pass to the code execution.",
        "type": "object",
        "properties": {
          "language": {
            "description": "Programming language of the `code`.",
            "type": "string",
            "x-google-enum-descriptions": [
              "Python >= 3.10, with numpy and simpy available."
            ],
            "enum": ["python"]
          },
          "code": {
            "description": "The code to be executed.",
            "type": "string"
          }
        }
      },
      "UrlContextCallArguments": {
        "description": "The arguments to pass to the URL context.",
        "type": "object",
        "properties": {
          "urls": {
            "description": "The URLs to fetch.",
            "type": "array",
            "items": { "type": "string" }
          }
        }
      },
      "GoogleSearchCallArguments": {
        "description": "The arguments to pass to Google Search.",
        "type": "object",
        "properties": {
          "queries": {
            "description": "Web search queries for the following-up web search.",
            "type": "array",
            "items": { "type": "string" }
          }
        }
      },
      "GoogleMapsCallArguments": {
        "description": "The arguments to pass to the Google Maps tool.",
        "type": "object",
        "properties": {
          "queries": {
            "description": "The queries to be executed.",
            "type": "array",
            "items": { "type": "string" }
          }
        }
      },
      "FunctionResultSubcontent": {
        "type": "object",
        "oneOf": [
          { "$ref": "#/components/schemas/TextContent" },
          { "$ref": "#/components/schemas/ImageContent" }
        ],
        "discriminator": { "propertyName": "type" }
      },
      "UrlContextResult": {
        "description": "The result of the URL context.",
        "type": "object",
        "properties": {
          "url": {
            "description": "The URL that was fetched.",
            "type": "string"
          },
          "status": {
            "description": "The status of the URL retrieval.",
            "type": "string",
            "x-google-enum-descriptions": [
              "Url retrieval is successful.",
              "Url retrieval is failed due to error.",
              "Url retrieval is failed because the content is behind paywall.",
              "Url retrieval is failed because the content is unsafe."
            ],
            "enum": ["success", "error", "paywall", "unsafe"]
          }
        }
      },
      "GoogleSearchResult": {
        "description": "The result of the Google Search.",
        "type": "object",
        "properties": {
          "search_suggestions": {
            "description": "Web content snippet that can be embedded in a web page or an app webview.",
            "type": "string"
          }
        }
      },
      "FileSearchResult": {
        "description": "The result of the File Search.",
        "type": "object"
      },
      "GoogleMapsResult": {
        "description": "The result of the Google Maps.",
        "type": "object",
        "properties": {
          "places": {
            "description": "The places that were found.",
            "type": "array",
            "items": { "$ref": "#/components/schemas/Places" }
          },
          "widget_context_token": {
            "description": "Resource name of the Google Maps widget context token.",
            "type": "string"
          }
        }
      },
      "Places": {
        "type": "object",
        "properties": {
          "place_id": {
            "description": "The ID of the place, in `places/{place_id}` format.",
            "type": "string"
          },
          "name": { "description": "Title of the place.", "type": "string" },
          "url": {
            "description": "URI reference of the place.",
            "type": "string"
          },
          "review_snippets": {
            "description": "Snippets of reviews that are used to generate answers about the\nfeatures of a given place in Google Maps.",
            "type": "array",
            "items": { "$ref": "#/components/schemas/ReviewSnippet" }
          }
        }
      },
      "Turn": {
        "deprecated": true,
        "type": "object",
        "properties": {
          "role": {
            "description": "The originator of this turn. Must be user for input or model for\nmodel output.",
            "type": "string"
          },
          "content": {
            "oneOf": [
              {
                "type": "array",
                "items": { "$ref": "#/components/schemas/Content" },
                "title": "ContentList"
              },
              { "type": "string" }
            ]
          }
        }
      },
      "Step": {
        "description": "A step in the interaction.",
        "type": "object",
        "oneOf": [
          { "$ref": "#/components/schemas/UserInputStep" },
          { "$ref": "#/components/schemas/ModelOutputStep" },
          { "$ref": "#/components/schemas/ThoughtStep" },
          { "$ref": "#/components/schemas/FunctionCallStep" },
          { "$ref": "#/components/schemas/CodeExecutionCallStep" },
          { "$ref": "#/components/schemas/UrlContextCallStep" },
          { "$ref": "#/components/schemas/McpServerToolCallStep" },
          { "$ref": "#/components/schemas/GoogleSearchCallStep" },
          { "$ref": "#/components/schemas/FileSearchCallStep" },
          { "$ref": "#/components/schemas/GoogleMapsCallStep" },
          { "$ref": "#/components/schemas/FunctionResultStep" },
          { "$ref": "#/components/schemas/CodeExecutionResultStep" },
          { "$ref": "#/components/schemas/UrlContextResultStep" },
          { "$ref": "#/components/schemas/GoogleSearchResultStep" },
          { "$ref": "#/components/schemas/McpServerToolResultStep" },
          { "$ref": "#/components/schemas/FileSearchResultStep" },
          { "$ref": "#/components/schemas/GoogleMapsResultStep" }
        ],
        "discriminator": { "propertyName": "type" }
      },
      "UserInputStep": {
        "description": "Input provided by the user.",
        "type": "object",
        "required": ["type"],
        "properties": {
          "content": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Content" },
            "title": "ContentList"
          },
          "type": { "const": "user_input" }
        }
      },
      "ModelOutputStep": {
        "description": "Output generated by the model.",
        "type": "object",
        "properties": {
          "type": { "const": "model_output" },
          "content": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Content" }
          }
        },
        "required": ["type"]
      },
      "ThoughtStep": {
        "description": "A thought step.",
        "type": "object",
        "properties": {
          "type": { "const": "thought" },
          "signature": {
            "description": "A signature hash for backend validation.",
            "type": "string",
            "format": "byte"
          },
          "summary": {
            "description": "A summary of the thought.",
            "type": "array",
            "items": { "$ref": "#/components/schemas/ThoughtSummaryContent" }
          }
        },
        "required": ["type"]
      },
      "FunctionCallStep": {
        "description": "A function tool call step.",
        "type": "object",
        "properties": {
          "type": { "const": "function_call" },
          "name": {
            "description": "Required. The name of the tool to call.",
            "type": "string"
          },
          "arguments": {
            "description": "Required. The arguments to pass to the function.",
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object."
            }
          },
          "id": {
            "description": "Required. A unique ID for this specific tool call.",
            "type": "string"
          },
          "signature": {
            "description": "A signature hash for backend validation.",
            "type": "string",
            "format": "byte"
          }
        },
        "required": ["type", "name", "arguments", "id"]
      },
      "CodeExecutionCallStep": {
        "description": "Code execution call step.",
        "type": "object",
        "properties": {
          "type": { "const": "code_execution_call" },
          "arguments": {
            "description": "Required. The arguments to pass to the code execution.",
            "$ref": "#/components/schemas/CodeExecutionCallStepArguments"
          },
          "id": {
            "description": "Required. A unique ID for this specific tool call.",
            "type": "string"
          },
          "signature": {
            "description": "A signature hash for backend validation.",
            "type": "string",
            "format": "byte"
          }
        },
        "required": ["type", "arguments", "id"]
      },
      "CodeExecutionCallStepArguments": {
        "description": "The arguments to pass to the code execution.",
        "type": "object",
        "properties": {
          "language": {
            "description": "Programming language of the `code`.",
            "type": "string",
            "x-google-enum-descriptions": [
              "Python >= 3.10, with numpy and simpy available."
            ],
            "enum": ["python"]
          },
          "code": {
            "description": "The code to be executed.",
            "type": "string"
          }
        }
      },
      "UrlContextCallStep": {
        "description": "URL context call step.",
        "type": "object",
        "properties": {
          "type": { "const": "url_context_call" },
          "arguments": {
            "description": "Required. The arguments to pass to the URL context.",
            "$ref": "#/components/schemas/UrlContextCallStepArguments"
          },
          "id": {
            "description": "Required. A unique ID for this specific tool call.",
            "type": "string"
          },
          "signature": {
            "description": "A signature hash for backend validation.",
            "type": "string",
            "format": "byte"
          }
        },
        "required": ["type", "arguments", "id"]
      },
      "UrlContextCallStepArguments": {
        "description": "The arguments to pass to the URL context.",
        "type": "object",
        "properties": {
          "urls": {
            "description": "The URLs to fetch.",
            "type": "array",
            "items": { "type": "string" }
          }
        }
      },
      "McpServerToolCallStep": {
        "description": "MCPServer tool call step.",
        "type": "object",
        "properties": {
          "type": { "const": "mcp_server_tool_call" },
          "name": {
            "description": "Required. The name of the tool which was called.",
            "type": "string"
          },
          "server_name": {
            "description": "Required. The name of the used MCP server.",
            "type": "string"
          },
          "arguments": {
            "description": "Required. The JSON object of arguments for the function.",
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object."
            }
          },
          "id": {
            "description": "Required. A unique ID for this specific tool call.",
            "type": "string"
          },
          "signature": {
            "description": "A signature hash for backend validation.",
            "type": "string",
            "format": "byte"
          }
        },
        "required": ["type", "name", "server_name", "arguments", "id"]
      },
      "GoogleSearchCallStep": {
        "description": "Google Search call step.",
        "type": "object",
        "properties": {
          "type": { "const": "google_search_call" },
          "arguments": {
            "description": "Required. The arguments to pass to Google Search.",
            "$ref": "#/components/schemas/GoogleSearchCallStepArguments"
          },
          "search_type": {
            "description": "The type of search grounding enabled.",
            "type": "string",
            "x-google-enum-descriptions": [
              "Setting this field enables web search. Only text results are returned.",
              "Setting this field enables image search. Image bytes are returned.",
              "Setting this field enables enterprise web search."
            ],
            "enum": ["web_search", "image_search", "enterprise_web_search"]
          },
          "id": {
            "description": "Required. A unique ID for this specific tool call.",
            "type": "string"
          },
          "signature": {
            "description": "A signature hash for backend validation.",
            "type": "string",
            "format": "byte"
          }
        },
        "required": ["type", "arguments", "id"]
      },
      "GoogleSearchCallStepArguments": {
        "description": "The arguments to pass to Google Search.",
        "type": "object",
        "properties": {
          "queries": {
            "description": "Web search queries for the following-up web search.",
            "type": "array",
            "items": { "type": "string" }
          }
        }
      },
      "FileSearchCallStep": {
        "description": "File Search call step.",
        "type": "object",
        "properties": {
          "type": { "const": "file_search_call" },
          "id": {
            "description": "Required. A unique ID for this specific tool call.",
            "type": "string"
          },
          "signature": {
            "description": "A signature hash for backend validation.",
            "type": "string",
            "format": "byte"
          }
        },
        "required": ["type", "id"]
      },
      "GoogleMapsCallStep": {
        "description": "Google Maps call step.",
        "type": "object",
        "properties": {
          "type": { "const": "google_maps_call" },
          "arguments": {
            "description": "The arguments to pass to the Google Maps tool.",
            "$ref": "#/components/schemas/GoogleMapsCallStepArguments"
          },
          "id": {
            "description": "Required. A unique ID for this specific tool call.",
            "type": "string"
          },
          "signature": {
            "description": "A signature hash for backend validation.",
            "type": "string",
            "format": "byte"
          }
        },
        "required": ["type", "id"]
      },
      "GoogleMapsCallStepArguments": {
        "description": "The arguments to pass to the Google Maps tool.",
        "type": "object",
        "properties": {
          "queries": {
            "description": "The queries to be executed.",
            "type": "array",
            "items": { "type": "string" }
          }
        }
      },
      "FunctionResultStep": {
        "description": "Result of a function tool call.",
        "type": "object",
        "properties": {
          "type": { "const": "function_result" },
          "name": {
            "description": "The name of the tool that was called.",
            "type": "string"
          },
          "is_error": {
            "description": "Whether the tool call resulted in an error.",
            "type": "boolean"
          },
          "call_id": {
            "description": "Required. ID to match the ID from the function call block.",
            "type": "string"
          },
          "signature": {
            "description": "A signature hash for backend validation.",
            "type": "string",
            "format": "byte"
          },
          "result": {
            "description": "The result of the tool call.",
            "oneOf": [
              { "type": "object" },
              {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/FunctionResultSubcontent"
                },
                "title": "FunctionResultSubcontentList"
              },
              { "type": "string" }
            ]
          }
        },
        "required": ["type", "call_id", "result"]
      },
      "CodeExecutionResultStep": {
        "description": "Code execution result step.",
        "type": "object",
        "properties": {
          "type": { "const": "code_execution_result" },
          "result": {
            "description": "Required. The output of the code execution.",
            "type": "string"
          },
          "is_error": {
            "description": "Whether the code execution resulted in an error.",
            "type": "boolean"
          },
          "call_id": {
            "description": "Required. ID to match the ID from the function call block.",
            "type": "string"
          },
          "signature": {
            "description": "A signature hash for backend validation.",
            "type": "string",
            "format": "byte"
          }
        },
        "required": ["type", "result", "call_id"]
      },
      "UrlContextResultStep": {
        "description": "URL context result step.",
        "type": "object",
        "properties": {
          "type": { "const": "url_context_result" },
          "result": {
            "description": "Required. The results of the URL context.",
            "type": "array",
            "items": { "$ref": "#/components/schemas/UrlContextResultItem" }
          },
          "is_error": {
            "description": "Whether the URL context resulted in an error.",
            "type": "boolean"
          },
          "call_id": {
            "description": "Required. ID to match the ID from the function call block.",
            "type": "string"
          },
          "signature": {
            "description": "A signature hash for backend validation.",
            "type": "string",
            "format": "byte"
          }
        },
        "required": ["type", "result", "call_id"]
      },
      "UrlContextResultItem": {
        "description": "The result of the URL context.",
        "type": "object",
        "properties": {
          "url": {
            "description": "The URL that was fetched.",
            "type": "string"
          },
          "status": {
            "description": "The status of the URL retrieval.",
            "type": "string",
            "x-google-enum-descriptions": ["", "", "", ""],
            "enum": ["success", "error", "paywall", "unsafe"]
          }
        }
      },
      "GoogleSearchResultStep": {
        "description": "Google Search result step.",
        "type": "object",
        "properties": {
          "type": { "const": "google_search_result" },
          "result": {
            "description": "Required. The results of the Google Search.",
            "type": "array",
            "items": { "$ref": "#/components/schemas/GoogleSearchResultItem" }
          },
          "is_error": {
            "description": "Whether the Google Search resulted in an error.",
            "type": "boolean"
          },
          "call_id": {
            "description": "Required. ID to match the ID from the function call block.",
            "type": "string"
          },
          "signature": {
            "description": "A signature hash for backend validation.",
            "type": "string",
            "format": "byte"
          }
        },
        "required": ["type", "result", "call_id"]
      },
      "GoogleSearchResultItem": {
        "description": "The result of the Google Search.",
        "type": "object",
        "properties": {
          "search_suggestions": {
            "description": "Web content snippet that can be embedded in a web page or an app webview.",
            "type": "string"
          }
        }
      },
      "McpServerToolResultStep": {
        "description": "MCPServer tool result step.",
        "type": "object",
        "properties": {
          "type": { "const": "mcp_server_tool_result" },
          "name": {
            "description": "Name of the tool which is called for this specific tool call.",
            "type": "string"
          },
          "server_name": {
            "description": "The name of the used MCP server.",
            "type": "string"
          },
          "call_id": {
            "description": "Required. ID to match the ID from the function call block.",
            "type": "string"
          },
          "signature": {
            "description": "A signature hash for backend validation.",
            "type": "string",
            "format": "byte"
          },
          "result": {
            "description": "The output from the MCP server call. Can be simple text or rich content.",
            "oneOf": [
              { "type": "object" },
              { "type": "string" },
              {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/FunctionResultSubcontent"
                },
                "title": "FunctionResultSubcontentList"
              }
            ]
          }
        },
        "required": ["type", "call_id", "result"]
      },
      "FileSearchResultStep": {
        "description": "File Search result step.",
        "type": "object",
        "properties": {
          "type": { "const": "file_search_result" },
          "call_id": {
            "description": "Required. ID to match the ID from the function call block.",
            "type": "string"
          },
          "signature": {
            "description": "A signature hash for backend validation.",
            "type": "string",
            "format": "byte"
          }
        },
        "required": ["type", "call_id"]
      },
      "GoogleMapsResultStep": {
        "description": "Google Maps result step.",
        "type": "object",
        "properties": {
          "type": { "const": "google_maps_result" },
          "result": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/GoogleMapsResultItem" }
          },
          "call_id": {
            "description": "Required. ID to match the ID from the function call block.",
            "type": "string"
          },
          "signature": {
            "description": "A signature hash for backend validation.",
            "type": "string",
            "format": "byte"
          }
        },
        "required": ["type", "result", "call_id"]
      },
      "GoogleMapsResultItem": {
        "description": "The result of the Google Maps.",
        "type": "object",
        "properties": {
          "places": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/GoogleMapsResultPlaces" }
          },
          "widget_context_token": { "type": "string" }
        }
      },
      "GoogleMapsResultPlaces": {
        "type": "object",
        "properties": {
          "place_id": { "type": "string" },
          "name": { "type": "string" },
          "url": { "type": "string" },
          "review_snippets": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/ReviewSnippet" }
          }
        }
      },
      "ResponseFormat": {
        "type": "object",
        "oneOf": [
          { "$ref": "#/components/schemas/AudioResponseFormat" },
          { "$ref": "#/components/schemas/TextResponseFormat" },
          { "$ref": "#/components/schemas/ImageResponseFormat" },
          { "type": "object" }
        ],
        "discriminator": { "propertyName": "type" }
      },
      "AudioResponseFormat": {
        "description": "Configuration for audio output format.",
        "type": "object",
        "properties": {
          "type": { "const": "audio" },
          "mime_type": {
            "description": "The MIME type of the audio output.",
            "type": "string",
            "x-google-enum-descriptions": [
              "MP3 audio format.",
              "OGG Opus audio format.",
              "Raw PCM (L16) audio format.",
              "WAV audio format.",
              "A-law audio format.",
              "Mu-law audio format."
            ],
            "enum": [
              "audio/mp3",
              "audio/ogg_opus",
              "audio/l16",
              "audio/wav",
              "audio/alaw",
              "audio/mulaw"
            ]
          },
          "delivery": {
            "description": "The delivery mode for the audio output.",
            "type": "string",
            "x-google-enum-descriptions": [
              "Audio data is returned inline in the response.",
              "Audio data is returned as a URI."
            ],
            "enum": ["inline", "uri"]
          },
          "sample_rate": {
            "description": "Sample rate in Hz.",
            "type": "integer",
            "format": "int32"
          },
          "bit_rate": {
            "description": "Bit rate in bits per second (bps). Only applicable for compressed formats\n(MP3, Opus).",
            "type": "integer",
            "format": "int32"
          }
        },
        "required": ["type"]
      },
      "TextResponseFormat": {
        "description": "Configuration for text output format.",
        "type": "object",
        "properties": {
          "type": { "const": "text" },
          "mime_type": {
            "description": "The MIME type of the text output.",
            "type": "string",
            "x-google-enum-descriptions": [
              "JSON output format.",
              "Plain text output format."
            ],
            "enum": ["application/json", "text/plain"]
          },
          "schema": {
            "description": "The JSON schema that the output should conform to. Only applicable when\nmime_type is application/json.",
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object."
            }
          }
        },
        "required": ["type"]
      },
      "ImageResponseFormat": {
        "description": "Configuration for image output format.",
        "type": "object",
        "properties": {
          "type": { "const": "image" },
          "mime_type": {
            "description": "The MIME type of the image output.",
            "type": "string",
            "x-google-enum-descriptions": ["JPEG image format."],
            "enum": ["image/jpeg"]
          },
          "delivery": {
            "description": "The delivery mode for the image output.",
            "type": "string",
            "x-google-enum-descriptions": [
              "Image data is returned inline in the response.",
              "Image data is returned as a URI."
            ],
            "enum": ["inline", "uri"]
          },
          "aspect_ratio": {
            "description": "The aspect ratio for the image output.",
            "type": "string",
            "x-google-enum-descriptions": [
              "1:1 aspect ratio.",
              "2:3 aspect ratio.",
              "3:2 aspect ratio.",
              "3:4 aspect ratio.",
              "4:3 aspect ratio.",
              "4:5 aspect ratio.",
              "5:4 aspect ratio.",
              "9:16 aspect ratio.",
              "16:9 aspect ratio.",
              "21:9 aspect ratio.",
              "1:8 aspect ratio.",
              "8:1 aspect ratio.",
              "1:4 aspect ratio.",
              "4:1 aspect ratio."
            ],
            "enum": [
              "1:1",
              "2:3",
              "3:2",
              "3:4",
              "4:3",
              "4:5",
              "5:4",
              "9:16",
              "16:9",
              "21:9",
              "1:8",
              "8:1",
              "1:4",
              "4:1"
            ]
          },
          "image_size": {
            "description": "The size of the image output.",
            "type": "string",
            "x-google-enum-descriptions": [
              "512px image size.",
              "1K image size.",
              "2K image size.",
              "4K image size."
            ],
            "enum": ["512", "1K", "2K", "4K"]
          }
        },
        "required": ["type"]
      },
      "GenerationConfig": {
        "description": "Configuration parameters for model interactions.",
        "type": "object",
        "properties": {
          "temperature": {
            "description": "Controls the randomness of the output.",
            "type": "number",
            "format": "float"
          },
          "top_p": {
            "description": "The maximum cumulative probability of tokens to consider when sampling.",
            "type": "number",
            "format": "float"
          },
          "seed": {
            "description": "Seed used in decoding for reproducibility.",
            "type": "integer",
            "format": "int32"
          },
          "stop_sequences": {
            "description": "A list of character sequences that will stop output interaction.",
            "type": "array",
            "items": { "type": "string" }
          },
          "thinking_level": {
            "description": "The level of thought tokens that the model should generate.",
            "$ref": "#/components/schemas/ThinkingLevel"
          },
          "thinking_summaries": {
            "description": "Whether to include thought summaries in the response.",
            "$ref": "#/components/schemas/ThinkingSummaries"
          },
          "max_output_tokens": {
            "description": "The maximum number of tokens to include in the response.",
            "type": "integer",
            "format": "int32"
          },
          "speech_config": {
            "description": "Configuration for speech interaction.",
            "type": "array",
            "items": { "$ref": "#/components/schemas/SpeechConfig" }
          },
          "image_config": {
            "description": "Configuration for image interaction.",
            "deprecated": true,
            "$ref": "#/components/schemas/ImageConfig"
          },
          "tool_choice": {
            "description": "The tool choice configuration.",
            "oneOf": [
              { "$ref": "#/components/schemas/ToolChoiceType" },
              { "$ref": "#/components/schemas/ToolChoiceConfig" }
            ]
          }
        }
      },
      "ToolChoiceConfig": {
        "description": "The tool choice configuration containing allowed tools.",
        "type": "object",
        "properties": {
          "allowed_tools": {
            "description": "The allowed tools.",
            "$ref": "#/components/schemas/AllowedTools"
          }
        }
      },
      "AllowedTools": {
        "description": "The configuration for allowed tools.",
        "type": "object",
        "properties": {
          "mode": {
            "description": "The mode of the tool choice.",
            "$ref": "#/components/schemas/ToolChoiceType"
          },
          "tools": {
            "description": "The names of the allowed tools.",
            "type": "array",
            "items": { "type": "string" }
          }
        }
      },
      "SpeechConfig": {
        "description": "The configuration for speech interaction.",
        "type": "object",
        "properties": {
          "voice": {
            "description": "The voice of the speaker.",
            "type": "string"
          },
          "language": {
            "description": "The language of the speech.",
            "type": "string"
          },
          "speaker": {
            "description": "The speaker's name, it should match the speaker name given in the prompt.",
            "type": "string"
          }
        }
      },
      "ImageConfig": {
        "description": "The configuration for image interaction.",
        "type": "object",
        "properties": {
          "aspect_ratio": {
            "enum": [
              "1:1",
              "2:3",
              "3:2",
              "3:4",
              "4:3",
              "4:5",
              "5:4",
              "9:16",
              "16:9",
              "21:9",
              "1:8",
              "8:1",
              "1:4",
              "4:1"
            ],
            "x-google-enum-descriptions": [
              "1:1 aspect ratio.",
              "2:3 aspect ratio.",
              "3:2 aspect ratio.",
              "3:4 aspect ratio.",
              "4:3 aspect ratio.",
              "4:5 aspect ratio.",
              "5:4 aspect ratio.",
              "9:16 aspect ratio.",
              "16:9 aspect ratio.",
              "21:9 aspect ratio.",
              "1:8 aspect ratio.",
              "8:1 aspect ratio.",
              "1:4 aspect ratio.",
              "4:1 aspect ratio."
            ]
          },
          "image_size": {
            "enum": ["1K", "2K", "4K", "512"],
            "x-google-enum-descriptions": [
              "1K image size.",
              "2K image size.",
              "4K image size.",
              "512 image size."
            ]
          }
        }
      },
      "DynamicAgentConfig": {
        "description": "Configuration for dynamic agents.",
        "type": "object",
        "properties": { "type": { "const": "dynamic" } },
        "additionalProperties": {
          "description": "For agents that are not supported statically in the API definition."
        },
        "required": ["type"]
      },
      "DeepResearchAgentConfig": {
        "description": "Configuration for the Deep Research agent.",
        "type": "object",
        "properties": {
          "type": { "const": "deep-research" },
          "thinking_summaries": {
            "description": "Whether to include thought summaries in the response.",
            "$ref": "#/components/schemas/ThinkingSummaries"
          },
          "visualization": {
            "description": "Whether to include visualizations in the response.",
            "type": "string",
            "x-google-enum-descriptions": [
              "Do not include visualizations.",
              "Automatically include visualizations."
            ],
            "enum": ["off", "auto"]
          },
          "collaborative_planning": {
            "description": "Enables human-in-the-loop planning for the Deep Research agent. If set to\ntrue, the Deep Research agent will provide a research plan in its response.\nThe agent will then proceed only if the user confirms the plan in the next\nturn.",
            "type": "boolean"
          }
        },
        "required": ["type"]
      },
      "Tool": {
        "description": "A tool that can be used by the model.",
        "type": "object",
        "oneOf": [
          { "$ref": "#/components/schemas/Function" },
          { "$ref": "#/components/schemas/CodeExecution" },
          { "$ref": "#/components/schemas/UrlContext" },
          { "$ref": "#/components/schemas/ComputerUse" },
          { "$ref": "#/components/schemas/McpServer" },
          { "$ref": "#/components/schemas/GoogleSearch" },
          { "$ref": "#/components/schemas/FileSearch" },
          { "$ref": "#/components/schemas/GoogleMaps" },
          { "$ref": "#/components/schemas/Retrieval" }
        ],
        "discriminator": { "propertyName": "type" }
      },
      "Function": {
        "description": "A tool that can be used by the model.",
        "type": "object",
        "properties": {
          "type": { "const": "function" },
          "name": {
            "description": "The name of the function.",
            "type": "string"
          },
          "description": {
            "description": "A description of the function.",
            "type": "string"
          },
          "parameters": {
            "description": "The JSON Schema for the function's parameters."
          }
        },
        "required": ["type"],
        "x-codeSamples": [
          {
            "lang": "sh",
            "label": "function_calling",
            "source": "curl -X POST https://generativelanguage.googleapis.com/v1beta/interactions \\\n  -H \"x-goog-api-key: $GEMINI_API_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Api-Revision: 2026-05-20\" \\\n  -d '{\n    \"model\": \"gemini-3-flash-preview\",\n    \"tools\": [{\n      \"type\": \"function\",\n      \"name\": \"get_weather\",\n      \"description\": \"Get the current weather in a given location\",\n      \"parameters\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"location\": {\n            \"type\": \"string\",\n            \"description\": \"The city and state, e.g. San Francisco, CA\"\n          }\n        },\n        \"required\": [\"location\"]\n      }\n    }],\n    \"input\": \"What is the weather like in Boston, MA?\"\n  }'\n"
          },
          {
            "lang": "python",
            "label": "function_calling",
            "source": "from google import genai\n\nclient = genai.Client()\nresponse = client.interactions.create(\n    model=\"gemini-3-flash-preview\",\n    tools=[{\n        \"type\": \"function\",\n        \"name\": \"get_weather\",\n        \"description\": \"Get the current weather in a given location\",\n        \"parameters\": {\n            \"type\": \"object\",\n            \"properties\": {\n                \"location\": {\n                    \"type\": \"string\",\n                    \"description\": \"The city and state, e.g. San Francisco, CA\"\n                }\n            },\n            \"required\": [\"location\"]\n        }\n    }],\n    input=\"What is the weather like in Boston?\"\n)\nprint(response.steps[-1])\n"
          },
          {
            "lang": "javascript",
            "label": "function_calling",
            "source": "import {GoogleGenAI} from '@google/genai';\n\nconst ai = new GoogleGenAI({});\nconst interaction = await ai.interactions.create({\n    model: 'gemini-3-flash-preview',\n    tools: [{\n        type: 'function',\n        name: 'get_weather',\n        description: 'Get the current weather in a given location',\n        parameters: {\n            type: 'object',\n            properties: {\n                location: {\n                    type: 'string',\n                    description: 'The city and state, e.g. San Francisco, CA'\n                }\n            },\n            required: ['location']\n        }\n    }],\n    input: 'What is the weather like in Boston?'\n});\nconsole.log(interaction.steps.at(-1));\n"
          }
        ]
      },
      "CodeExecution": {
        "description": "A tool that can be used by the model to execute code.",
        "type": "object",
        "properties": { "type": { "const": "code_execution" } },
        "required": ["type"],
        "x-codeSamples": [
          {
            "lang": "sh",
            "label": "code_execution",
            "source": "curl -X POST https://generativelanguage.googleapis.com/v1beta/interactions \\\n  -H \"x-goog-api-key: $GEMINI_API_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Api-Revision: 2026-05-20\" \\\n  -d '{\n    \"model\": \"gemini-3-flash-preview\",\n    \"tools\": [{\n      \"type\": \"code_execution\"\n    }],\n    \"input\": \"Calculate the first 10 Fibonacci numbers\"\n  }'\n"
          },
          {
            "lang": "python",
            "label": "code_execution",
            "source": "from google import genai\n\nclient = genai.Client()\nresponse = client.interactions.create(\n    model=\"gemini-3-flash-preview\",\n    tools=[{\"type\": \"code_execution\"}],\n    input=\"Calculate the first 10 Fibonacci numbers\"\n)\nprint(response.steps[-1].content[0].text)\n"
          },
          {
            "lang": "javascript",
            "label": "code_execution",
            "source": "import {GoogleGenAI} from '@google/genai';\n\nconst ai = new GoogleGenAI({});\nconst interaction = await ai.interactions.create({\n    model: 'gemini-3-flash-preview',\n    tools: [{ type: 'code_execution' }],\n    input: 'Calculate the first 10 Fibonacci numbers'\n});\nconsole.log(interaction.steps.at(-1).content[0].text);\n"
          }
        ]
      },
      "UrlContext": {
        "description": "A tool that can be used by the model to fetch URL context.",
        "type": "object",
        "properties": { "type": { "const": "url_context" } },
        "required": ["type"],
        "x-codeSamples": [
          {
            "lang": "sh",
            "label": "url_context",
            "source": "curl -X POST https://generativelanguage.googleapis.com/v1beta/interactions \\\n  -H \"x-goog-api-key: $GEMINI_API_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Api-Revision: 2026-05-20\" \\\n  -d '{\n    \"model\": \"gemini-3-flash-preview\",\n    \"tools\": [{\n      \"type\": \"url_context\"\n    }],\n    \"input\": \"Summarize https://www.example.com\"\n  }'\n"
          },
          {
            "lang": "python",
            "label": "url_context",
            "source": "from google import genai\n\nclient = genai.Client()\nresponse = client.interactions.create(\n    model=\"gemini-3-flash-preview\",\n    tools=[{\"type\": \"url_context\"}],\n    input=\"Summarize https://www.example.com\"\n)\nprint(response.steps[-1].content[0].text)\n"
          },
          {
            "lang": "javascript",
            "label": "url_context",
            "source": "import {GoogleGenAI} from '@google/genai';\n\nconst ai = new GoogleGenAI({});\nconst interaction = await ai.interactions.create({\n    model: 'gemini-3-flash-preview',\n    tools: [{ type: 'url_context' }],\n    input: 'Summarize https://www.example.com'\n});\nconsole.log(interaction.steps.at(-1).content[0].text);\n"
          }
        ]
      },
      "ComputerUse": {
        "description": "A tool that can be used by the model to interact with the computer.",
        "type": "object",
        "properties": {
          "type": { "const": "computer_use" },
          "environment": {
            "description": "The environment being operated.",
            "type": "string",
            "x-google-enum-descriptions": ["Operates in a web browser."],
            "enum": ["browser"]
          },
          "excluded_predefined_functions": {
            "description": "The list of predefined functions that are excluded from the model call.",
            "type": "array",
            "items": { "type": "string" }
          }
        },
        "required": ["type"],
        "x-codeSamples": [
          {
            "lang": "sh",
            "label": "computer_use",
            "source": "curl -X POST https://generativelanguage.googleapis.com/v1beta/interactions \\\n  -H \"x-goog-api-key: $GEMINI_API_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Api-Revision: 2026-05-20\" \\\n  -d '{\n    \"model\": \"gemini-2.5-computer-use-preview-10-2025\",\n    \"tools\": [{\n      \"type\": \"computer_use\"\n    }],\n    \"input\": \"Find a flight to Tokyo\"\n  }'\n"
          },
          {
            "lang": "python",
            "label": "computer_use",
            "source": "from google import genai\n\nclient = genai.Client()\nresponse = client.interactions.create(\n    model=\"gemini-2.5-computer-use-preview-10-2025\",\n    tools=[{\"type\": \"computer_use\"}],\n    input=\"Find a flight to Tokyo\"\n)\nprint(response.steps[-1].content[0].text)\n"
          },
          {
            "lang": "javascript",
            "label": "computer_use",
            "source": "import {GoogleGenAI} from '@google/genai';\n\nconst ai = new GoogleGenAI({});\nconst interaction = await ai.interactions.create({\n    model: 'gemini-2.5-computer-use-preview-10-2025',\n    tools: [{ type: 'computer_use'}],\n    input: 'Find a flight to Tokyo'\n});\nconsole.log(interaction.steps.at(-1).content[0].text);\n"
          }
        ]
      },
      "McpServer": {
        "description": "A MCPServer is a server that can be called by the model to perform actions.",
        "type": "object",
        "properties": {
          "type": { "const": "mcp_server" },
          "name": {
            "description": "The name of the MCPServer.",
            "type": "string"
          },
          "url": {
            "description": "The full URL for the MCPServer endpoint.\nExample: \"https://api.example.com/mcp\"",
            "type": "string"
          },
          "headers": {
            "description": "Optional: Fields for authentication headers, timeouts, etc., if needed.",
            "type": "object",
            "additionalProperties": { "type": "string" }
          },
          "allowed_tools": {
            "description": "The allowed tools.",
            "type": "array",
            "items": { "$ref": "#/components/schemas/AllowedTools" }
          }
        },
        "required": ["type"],
        "x-codeSamples": [
          {
            "lang": "sh",
            "label": "mcp_server",
            "source": "curl -X POST https://generativelanguage.googleapis.com/v1beta/interactions \\\n  -H \"x-goog-api-key: $GEMINI_API_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Api-Revision: 2026-05-20\" \\\n  -d '{\n    \"model\": \"gemini-3-flash-preview\",\n    \"tools\": [{\n      \"type\": \"mcp_server\",\n      \"name\": \"weather_service\",\n      \"url\": \"https://gemini-api-demos.uc.r.appspot.com/mcp\"\n    }],\n    \"input\": \"Today is 12-05-2025, what is the temperature today in London?\"\n  }'\n"
          },
          {
            "lang": "python",
            "label": "mcp_server",
            "source": "from google import genai\n\nclient = genai.Client()\nresponse = client.interactions.create(\n    model=\"gemini-3-flash-preview\",\n    tools=[{\n        \"type\": \"mcp_server\",\n        \"name\": \"weather_service\",\n        \"url\": \"https://gemini-api-demos.uc.r.appspot.com/mcp\"\n    }],\n    input=\"Today is 12-05-2025, what is the temperature today in London?\"\n)\nprint(response.steps[-1].content[0].text)\n"
          },
          {
            "lang": "javascript",
            "label": "mcp_server",
            "source": "import {GoogleGenAI} from '@google/genai';\n\nconst ai = new GoogleGenAI({});\nconst interaction = await ai.interactions.create({\n    model: 'gemini-3-flash-preview',\n    tools: [{\n        type: 'mcp_server',\n        name: 'weather_service',\n        url: 'https://gemini-api-demos.uc.r.appspot.com/mcp'\n    }],\n    input: 'Today is 12-05-2025, what is the temperature today in London?'\n});\nconsole.log(interaction.steps.at(-1).content[0].text);\n"
          }
        ]
      },
      "GoogleSearch": {
        "description": "A tool that can be used by the model to search Google.",
        "type": "object",
        "properties": {
          "type": { "const": "google_search" },
          "search_types": {
[...]
