{
  "openapi": "3.0.3",
  "info": {
    "description": "The Gemini Interactions API is an experimental API that allows developers to build generative AI applications using Gemini models. Gemini is our most capable model, built from the ground up to be multimodal. It can generalize and seamlessly understand, operate across, and combine different types of information including language, images, audio, video, and code. You can use the Gemini API for use cases like reasoning across text and images, content generation, dialogue agents, summarization and classification systems, and more.",
    "title": "Gemini API",
    "version": "v1beta",
    "x-google-revision": "0"
  },
  "servers": [
    {
      "description": "Global Endpoint",
      "url": "https://generativelanguage.googleapis.com"
    }
  ],
  "paths": {
    "/{api_version}/interactions": {
      "parameters": [{ "$ref": "#/components/parameters/api_version" }],
      "post": {
        "description": "Creates a new interaction.",
        "operationId": "CreateInteraction",
        "parameters": [],
        "requestBody": {
          "description": "The request body.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/CreateModelInteractionParams"
                  },
                  {
                    "$ref": "#/components/schemas/CreateAgentInteractionParams"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Interaction" },
                "examples": {
                  "simple": {
                    "summary": "Simple Request",
                    "value": {
                      "created": "2025-11-26T12:25:15Z",
                      "id": "v1_ChdPU0F4YWFtNkFwS2kxZThQZ05lbXdROBIXT1NBeGFhbTZBcEtpMWU4UGdOZW13UTg",
                      "model": "gemini-3-flash-preview",
                      "object": "interaction",
                      "steps": [
                        {
                          "type": "model_output",
                          "content": [
                            {
                              "type": "text",
                              "text": "Hello! I'm functioning perfectly and ready to assist you.\n\nHow are you doing today?"
                            }
                          ]
                        }
                      ],
                      "status": "completed",
                      "updated": "2025-11-26T12:25:15Z",
                      "usage": {
                        "input_tokens_by_modality": [
                          { "modality": "text", "tokens": 7 }
                        ],
                        "total_cached_tokens": 0,
                        "total_input_tokens": 7,
                        "total_output_tokens": 20,
                        "total_thought_tokens": 22,
                        "total_tokens": 49,
                        "total_tool_use_tokens": 0
                      }
                    }
                  },
                  "multi_turn": {
                    "summary": "Multi-turn",
                    "value": {
                      "id": "v1_ChdPU0F4YWFtNkFwS2kxZThQZ05lbXdROBIXT1NBeGFhbTZBcEtpMWU4UGdOZW13UTg",
                      "model": "gemini-3-flash-preview",
                      "status": "completed",
                      "object": "interaction",
                      "created": "2025-11-26T12:22:47Z",
                      "updated": "2025-11-26T12:22:47Z",
                      "steps": [
                        {
                          "type": "model_output",
                          "content": [
                            {
                              "type": "text",
                              "text": "The capital of France is Paris."
                            }
                          ]
                        }
                      ],
                      "usage": {
                        "input_tokens_by_modality": [
                          { "modality": "text", "tokens": 50 }
                        ],
                        "total_cached_tokens": 0,
                        "total_input_tokens": 50,
                        "total_output_tokens": 10,
                        "total_thought_tokens": 0,
                        "total_tokens": 60,
                        "total_tool_use_tokens": 0
                      }
                    }
                  },
                  "multimodal_image": {
                    "summary": "Image Input",
                    "value": {
                      "id": "v1_ChdPU0F4YWFtNkFwS2kxZThQZ05lbXdROBIXT1NBeGFhbTZBcEtpMWU4UGdOZW13UTg",
                      "model": "gemini-3-flash-preview",
                      "status": "completed",
                      "object": "interaction",
                      "created": "2025-11-26T12:22:47Z",
                      "updated": "2025-11-26T12:22:47Z",
                      "steps": [
                        {
                          "type": "model_output",
                          "content": [
                            {
                              "type": "text",
                              "text": "A white humanoid robot with glowing blue eyes stands holding a red skateboard."
                            }
                          ]
                        }
                      ],
                      "usage": {
                        "input_tokens_by_modality": [
                          { "modality": "text", "tokens": 10 },
                          { "modality": "image", "tokens": 258 }
                        ],
                        "total_cached_tokens": 0,
                        "total_input_tokens": 268,
                        "total_output_tokens": 20,
                        "total_thought_tokens": 0,
                        "total_tokens": 288,
                        "total_tool_use_tokens": 0
                      }
                    }
                  },
                  "function_calling": {
                    "summary": "Function Calling",
                    "value": {
                      "id": "v1_ChdPU0F4YWFtNkFwS2kxZThQZ05lbXdROBIXT1NBeGFhbTZBcEtpMWU4UGdOZW13UTg",
                      "model": "gemini-3-flash-preview",
                      "status": "requires_action",
                      "object": "interaction",
                      "created": "2025-11-26T12:22:47Z",
                      "updated": "2025-11-26T12:22:47Z",
                      "steps": [
                        {
                          "type": "function_call",
                          "id": "gth23981",
                          "name": "get_weather",
                          "arguments": { "location": "Boston, MA" }
                        }
                      ],
                      "usage": {
                        "input_tokens_by_modality": [
                          { "modality": "text", "tokens": 100 }
                        ],
                        "total_cached_tokens": 0,
                        "total_input_tokens": 100,
                        "total_output_tokens": 25,
                        "total_thought_tokens": 0,
                        "total_tokens": 125,
                        "total_tool_use_tokens": 50
                      }
                    }
                  },
                  "deep_research": {
                    "summary": "Deep Research",
                    "value": {
                      "id": "v1_ChdPU0F4YWFtNkFwS2kxZThQZ05lbXdROBIXT1NBeGFhbTZBcEtpMWU4UGdOZW13UTg",
                      "agent": "deep-research-pro-preview-12-2025",
                      "status": "completed",
                      "object": "interaction",
                      "created": "2025-11-26T12:22:47Z",
                      "updated": "2025-11-26T12:22:47Z",
                      "steps": [
                        {
                          "type": "model_output",
                          "content": [
                            {
                              "type": "text",
                              "text": "Here is a comprehensive research report on the current state of cancer research..."
                            }
                          ]
                        }
                      ],
                      "usage": {
                        "input_tokens_by_modality": [
                          { "modality": "text", "tokens": 20 }
                        ],
                        "total_cached_tokens": 0,
                        "total_input_tokens": 20,
                        "total_output_tokens": 1000,
                        "total_thought_tokens": 500,
                        "total_tokens": 1520,
                        "total_tool_use_tokens": 0
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error creating interaction",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": { "$ref": "#/components/schemas/Error" }
                  }
                }
              }
            }
          }
        },
        "security": [],
        "summary": "Creating an interaction",
        "x-codeSamples": [
          {
            "lang": "sh",
            "label": "simple",
            "source": "curl -X POST https://generativelanguage.googleapis.com/v1beta/interactions \\\n  -H \"x-goog-api-key: $GEMINI_API_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Api-Revision: 2026-05-20\" \\\n  -d '{\n    \"model\": \"gemini-3-flash-preview\",\n    \"input\": \"Hello, how are you?\"\n  }'\n"
          },
          {
            "lang": "python",
            "label": "simple",
            "source": "from google import genai\n\nclient = genai.Client()\ninteraction = client.interactions.create(\n    model=\"gemini-3-flash-preview\",\n    input=\"Hello, how are you?\",\n)\nprint(interaction.output_text)\n"
          },
          {
            "lang": "javascript",
            "label": "simple",
            "source": "import {GoogleGenAI} from '@google/genai';\n\nconst ai = new GoogleGenAI({});\nconst interaction = await ai.interactions.create({\n    model: 'gemini-3-flash-preview',\n    input: 'Hello, how are you?',\n});\nconsole.log(interaction.output_text);\n"
          },
          {
            "lang": "sh",
            "label": "multi_turn",
            "source": "curl -X POST https://generativelanguage.googleapis.com/v1beta/interactions \\\n  -H \"x-goog-api-key: $GEMINI_API_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Api-Revision: 2026-05-20\" \\\n  -d '{\n    \"model\": \"gemini-3-flash-preview\",\n    \"input\": [\n      { \"type\": \"user_input\", \"content\": [{ \"type\": \"text\", \"text\": \"Hello!\" }] },\n      { \"type\": \"model_output\", \"content\": [{ \"type\": \"text\", \"text\": \"Hi there! How can I help you today?\" }] },\n      { \"type\": \"user_input\", \"content\": [{ \"type\": \"text\", \"text\": \"What is the capital of France?\" }] }\n    ]\n  }'\n"
          },
          {
            "lang": "python",
            "label": "multi_turn",
            "source": "from google import genai\n\nclient = genai.Client()\nresponse = client.interactions.create(\n    model=\"gemini-3-flash-preview\",\n    input=[\n        { \"type\": \"user_input\", \"content\": [{ \"type\": \"text\", \"text\": \"Hello!\" }] },\n        { \"type\": \"model_output\", \"content\": [{ \"type\": \"text\", \"text\": \"Hi there! How can I help you today?\" }] },\n        { \"type\": \"user_input\", \"content\": [{ \"type\": \"text\", \"text\": \"What is the capital of France?\" }] }\n    ]\n)\nprint(response.output_text)\n"
          },
          {
            "lang": "javascript",
            "label": "multi_turn",
            "source": "import {GoogleGenAI} from '@google/genai';\n\nconst ai = new GoogleGenAI({});\nconst interaction = await ai.interactions.create({\n    model: 'gemini-3-flash-preview',\n    input: [\n        { type: 'user_input', content: [{ type: 'text', text: 'Hello' }] },\n        { type: 'model_output', content: [{ type: 'text', text: 'Hi there! How can I help you today?' }] },\n        { type: 'user_input', content: [{ type: 'text', text: 'What is the capital of France?' }] }\n    ]\n});\nconsole.log(interaction.output_text);\n"
          },
          {
            "lang": "sh",
            "label": "multimodal_image",
            "source": "curl -X POST https://generativelanguage.googleapis.com/v1beta/interactions \\\n  -H \"x-goog-api-key: $GEMINI_API_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Api-Revision: 2026-05-20\" \\\n  -d '{\n    \"model\": \"gemini-3-flash-preview\",\n    \"input\": [\n      {\n        \"type\": \"text\",\n        \"text\": \"What is in this picture?\"\n      },\n      {\n        \"type\": \"image\",\n        \"data\": \"BASE64_ENCODED_IMAGE\",\n        \"mime_type\": \"image/png\"\n      }\n    ]\n  }'\n"
          },
          {
            "lang": "python",
            "label": "multimodal_image",
            "source": "from google import genai\n\nclient = genai.Client()\nresponse = client.interactions.create(\n    model=\"gemini-3-flash-preview\",\n    input=[\n      { \"type\": \"text\", \"text\": \"What is in this picture?\" },\n      { \"type\": \"image\", \"data\": \"BASE64_ENCODED_IMAGE\", \"mime_type\": \"image/png\" }\n    ]\n)\nprint(response.output_text)\n"
          },
          {
            "lang": "javascript",
            "label": "multimodal_image",
            "source": "import {GoogleGenAI} from '@google/genai';\n\nconst ai = new GoogleGenAI({});\nconst interaction = await ai.interactions.create({\n    model: 'gemini-3-flash-preview',\n    input: [\n      { type: 'text', text: 'What is in this picture?' },\n      { type: 'image', data: 'BASE64_ENCODED_IMAGE', mime_type: 'image/png' }\n    ]\n});\nconsole.log(interaction.output_text);\n"
          },
          {
            "lang": "sh",
            "label": "function_calling",
            "source": "curl -X POST https://generativelanguage.googleapis.com/v1beta/interactions \\\n  -H \"x-goog-api-key: $GEMINI_API_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Api-Revision: 2026-05-20\" \\\n  -d '{\n    \"model\": \"gemini-3-flash-preview\",\n    \"tools\": [\n      {\n        \"type\": \"function\",\n        \"name\": \"get_weather\",\n        \"description\": \"Get the current weather in a given location\",\n        \"parameters\": {\n          \"type\": \"object\",\n          \"properties\": {\n            \"location\": {\n              \"type\": \"string\",\n              \"description\": \"The city and state, e.g. San Francisco, CA\"\n            }\n          },\n          \"required\": [\n            \"location\"\n          ]\n        }\n      }\n    ],\n    \"input\": \"What is the weather like in Boston, MA?\"\n  }'\n"
          },
          {
            "lang": "python",
            "label": "function_calling",
            "source": "from google import genai\n\nclient = genai.Client()\nresponse = client.interactions.create(\n    model=\"gemini-3-flash-preview\",\n    tools=[{\n        \"type\": \"function\",\n        \"name\": \"get_weather\",\n        \"description\": \"Get the current weather in a given location\",\n        \"parameters\": {\n            \"type\": \"object\",\n            \"properties\": {\n                \"location\": {\n                    \"type\": \"string\",\n                    \"description\": \"The city and state, e.g. San Francisco, CA\"\n                }\n            },\n            \"required\": [\"location\"]\n        }\n    }],\n    input=\"What is the weather like in Boston, MA?\"\n)\nprint(response.steps[-1])\n"
          },
          {
            "lang": "javascript",
            "label": "function_calling",
            "source": "import {GoogleGenAI} from '@google/genai';\n\nconst ai = new GoogleGenAI({});\nconst interaction = await ai.interactions.create({\n    model: 'gemini-3-flash-preview',\n    tools: [{\n        type: 'function',\n        name: 'get_weather',\n        description: 'Get the current weather in a given location',\n        parameters: {\n            type: 'object',\n            properties: {\n                location: {\n                    type: 'string',\n                    description: 'The city and state, e.g. San Francisco, CA'\n                }\n            },\n            required: ['location']\n        }\n    }],\n    input: 'What is the weather like in Boston, MA?'\n});\nconsole.log(interaction.steps.at(-1));\n"
          },
          {
            "lang": "sh",
            "label": "deep_research",
            "source": "curl -X POST https://generativelanguage.googleapis.com/v1beta/interactions \\\n  -H \"x-goog-api-key: $GEMINI_API_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Api-Revision: 2026-05-20\" \\\n  -d '{\n    \"agent\": \"deep-research-pro-preview-12-2025\",\n    \"input\": \"Find a cure to cancer\",\n    \"background\": true\n  }'\n"
          },
          {
            "lang": "python",
            "label": "deep_research",
            "source": "from google import genai\n\nclient = genai.Client()\ninteraction = client.interactions.create(\n    agent=\"deep-research-pro-preview-12-2025\",\n    input=\"find a cure to cancer\",\n    background=True,\n)\nprint(interaction.status)\n"
          },
          {
            "lang": "javascript",
            "label": "deep_research",
            "source": "import {GoogleGenAI} from '@google/genai';\n\nconst ai = new GoogleGenAI({});\nconst interaction = await ai.interactions.create({\n    agent: 'deep-research-pro-preview-12-2025',\n    input: 'find a cure to cancer',\n    background: true,\n});\nconsole.log(interaction.status);\n"
          }
        ]
      }
    },
    "/{api_version}/interactions?model": {
      "parameters": [{ "$ref": "#/components/parameters/api_version" }],
      "post": {
        "description": "Creates a new interaction.",
        "operationId": "CreateInteraction",
        "parameters": [],
        "requestBody": {
          "description": "The request body.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateModelInteractionParams"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Interaction" }
              }
            }
          },
          "default": {
            "description": "Error creating interaction",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": { "$ref": "#/components/schemas/Error" }
                  }
                }
              }
            }
          }
        },
        "security": [],
        "summary": "Creating an interaction",
        "x-internal": true
      }
    },
    "/{api_version}/interactions?agent": {
      "parameters": [{ "$ref": "#/components/parameters/api_version" }],
      "post": {
        "description": "Creates a new interaction.",
        "operationId": "CreateInteraction",
        "parameters": [],
        "requestBody": {
          "description": "The request body.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAgentInteractionParams"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Interaction" }
              }
            }
          },
          "default": {
            "description": "Error creating interaction",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": { "$ref": "#/components/schemas/Error" }
                  }
                }
              }
            }
          }
        },
        "security": [],
        "summary": "Creating an interaction",
        "x-internal": true
      }
    },
    "/{api_version}/interactions/{id}": {
      "get": {
        "description": "Retrieves the full details of a single interaction based on its `Interaction.id`.",
        "operationId": "getInteractionById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier of the interaction to retrieve.",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "stream",
            "in": "query",
            "schema": { "type": "boolean", "default": false },
            "description": "If set to true, the generated content will be streamed incrementally."
          },
          {
            "name": "last_event_id",
            "in": "query",
            "schema": { "type": "string" },
            "description": "Optional. If set, resumes the interaction stream from the next chunk after the event marked by the event id. Can only be used if `stream` is true."
          },
          {
            "name": "include_input",
            "in": "query",
            "deprecated": true,
            "schema": { "type": "boolean", "default": false },
            "description": "If set to true, includes the input in the response."
          },
          { "$ref": "#/components/parameters/api_version" }
        ],
        "responses": {
          "200": {
            "description": "Successful retrieval of the interaction.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Interaction" },
                "examples": {
                  "get": {
                    "summary": "Get Interaction",
                    "value": {
                      "id": "v1_ChdPU0F4YWFtNkFwS2kxZThQZ05lbXdROBIXT1NBeGFhbTZBcEtpMWU4UGdOZW13UTg",
                      "model": "gemini-3-flash-preview",
                      "status": "completed",
                      "object": "interaction",
                      "created": "2025-11-26T12:25:15Z",
                      "updated": "2025-11-26T12:25:15Z",
                      "steps": [
                        {
                          "type": "model_output",
                          "content": [
                            {
                              "type": "text",
                              "text": "I'm doing great, thank you for asking! How can I help you today?"
                            }
                          ]
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error getting interaction",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": { "$ref": "#/components/schemas/Error" }
                  }
                }
              }
            }
          }
        },
        "security": [],
        "summary": "Retrieving an interaction",
        "x-codeSamples": [
          {
            "lang": "sh",
            "label": "get",
            "source": "# [setup]\nINTERACTION_ID=$(curl -s -X POST https://generativelanguage.googleapis.com/v1beta/interactions \\\n  -H \"x-goog-api-key: $GEMINI_API_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Api-Revision: 2026-05-20\" \\\n  -d '{\"model\": \"gemini-3-flash-preview\", \"input\": \"Say hello.\"}' \\\n  | python3 -c \"import sys,json; print(json.load(sys.stdin)['id'])\")\n# [/setup]\n\ncurl -X GET \"https://generativelanguage.googleapis.com/v1beta/interactions/$INTERACTION_ID\" \\\n  -H \"x-goog-api-key: $GEMINI_API_KEY\" \\\n  -H \"Api-Revision: 2026-05-20\"\n"
          },
          {
            "lang": "python",
            "label": "get",
            "source": "from google import genai\n\nclient = genai.Client()\n\n# [setup]\ncreated = client.interactions.create(\n    model=\"gemini-3-flash-preview\",\n    input=\"Say hello.\"\n)\n# [/setup]\n\ninteraction = client.interactions.get(id=created.id)\nprint(interaction.status)\n"
          },
          {
            "lang": "javascript",
            "label": "get",
            "source": "import {GoogleGenAI} from '@google/genai';\n\nconst ai = new GoogleGenAI({});\n\n// [setup]\nconst created = await ai.interactions.create({\n    model: 'gemini-3-flash-preview',\n    input: 'Say hello.'\n});\n// [/setup]\n\nconst interaction = await ai.interactions.get(created.id);\nconsole.log(interaction.status);\n"
          }
        ]
      },
      "delete": {
        "operationId": "deleteInteraction",
        "description": "Deletes the interaction by id.",
        "summary": "Deleting an interaction",
        "security": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier of the interaction to delete.",
            "required": true,
            "schema": { "type": "string" }
          },
          { "$ref": "#/components/parameters/api_version" }
        ],
        "responses": {
          "200": {
            "description": "Successful deletion of the interaction.",
            "content": {
              "application/json": {
                "schema": { "type": "object" },
                "examples": {
                  "delete": { "summary": "Delete Interaction", "value": {} }
                }
              }
            }
          },
          "default": {
            "description": "Error deleting interaction",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": { "$ref": "#/components/schemas/Error" }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "sh",
            "label": "delete",
            "source": "# [setup]\nINTERACTION_ID=$(curl -s -X POST https://generativelanguage.googleapis.com/v1beta/interactions \\\n  -H \"x-goog-api-key: $GEMINI_API_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Api-Revision: 2026-05-20\" \\\n  -d '{\"model\": \"gemini-3-flash-preview\", \"input\": \"Hello\"}' \\\n  | python3 -c \"import sys,json; print(json.load(sys.stdin)['id'])\")\n# [/setup]\n\ncurl -X DELETE \"https://generativelanguage.googleapis.com/v1beta/interactions/$INTERACTION_ID\" \\\n  -H \"x-goog-api-key: $GEMINI_API_KEY\" \\\n  -H \"Api-Revision: 2026-05-20\"\n"
          },
          {
            "lang": "python",
            "label": "delete",
            "source": "from google import genai\n\nclient = genai.Client()\n\n# [setup]\ncreated = client.interactions.create(\n    model=\"gemini-3-flash-preview\",\n    input=\"Hello\",\n)\n# [/setup]\n\nclient.interactions.delete(id=created.id)\nprint(\"Interaction deleted successfully.\")\n"
          },
          {
            "lang": "javascript",
            "label": "delete",
            "source": "import {GoogleGenAI} from '@google/genai';\n\nconst ai = new GoogleGenAI({});\n\n// [setup]\nconst created = await ai.interactions.create({\n    model: 'gemini-3-flash-preview',\n    input: 'Hello',\n});\n// [/setup]\n\nawait ai.interactions.delete(created.id);\nconsole.log('Interaction deleted successfully.');\n"
          }
        ]
      }
    },
    "/{api_version}/interactions/{id}/cancel": {
      "post": {
        "description": "Cancels an interaction by id. This only applies to background interactions that are still running.",
        "operationId": "cancelInteractionById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier of the interaction to cancel.",
            "required": true,
            "schema": { "type": "string" }
          },
          { "$ref": "#/components/parameters/api_version" }
        ],
        "responses": {
          "200": {
            "description": "Successful cancellation of the interaction.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Interaction" },
                "examples": {
                  "cancel": {
                    "summary": "Cancel Interaction",
                    "value": {
                      "id": "v1_ChdPU0F4YWFtNkFwS2kxZThQZ05lbXdROBIXT1NBeGFhbTZBcEtpMWU4UGdOZW13UTg",
                      "agent": "deep-research-pro-preview-12-2025",
                      "status": "cancelled",
                      "object": "interaction",
                      "created": "2025-11-26T12:25:15Z",
                      "updated": "2025-11-26T12:25:15Z"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error cancelling interaction",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": { "$ref": "#/components/schemas/Error" }
                  }
                }
              }
            }
          }
        },
        "security": [],
        "summary": "Canceling an interaction",
        "x-codeSamples": [
          {
            "lang": "sh",
            "label": "cancel",
            "source": "# [setup]\nINTERACTION_ID=$(curl -s -X POST https://generativelanguage.googleapis.com/v1beta/interactions \\\n  -H \"x-goog-api-key: $GEMINI_API_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Api-Revision: 2026-05-20\" \\\n  -d '{\"model\": \"gemini-3-flash-preview\", \"input\": \"Write a long essay about the history of computing.\", \"background\": true}' \\\n  | python3 -c \"import sys,json; print(json.load(sys.stdin)['id'])\")\n# [/setup]\n\ncurl -X POST \"https://generativelanguage.googleapis.com/v1beta/interactions/$INTERACTION_ID/cancel\" \\\n  -H \"x-goog-api-key: $GEMINI_API_KEY\" \\\n  -H \"Api-Revision: 2026-05-20\"\n"
          },
          {
            "lang": "python",
            "label": "cancel",
            "source": "from google import genai\n\nclient = genai.Client()\n\n# Start a background interaction so it stays in-progress.\ncreated = client.interactions.create(\n    model=\"gemini-3-flash-preview\",\n    input=\"Write a long essay about the history of computing.\",\n    tools=[{\"type\": \"computer_use\"}],\n    background=True,\n)\n\n# Cancel the in-progress interaction.\ninteraction = client.interactions.cancel(id=created.id)\nprint(interaction.status)\n"
          },
          {
            "lang": "javascript",
            "label": "cancel",
            "source": "import {GoogleGenAI} from '@google/genai';\n\nconst ai = new GoogleGenAI({});\n\n// Start a background interaction so it stays in-progress.\nconst created = await ai.interactions.create({\n    model: 'gemini-3-flash-preview',\n    input: 'Write a long essay about the history of computing.',\n    tools: [{ type: 'computer_use' }],\n    background: true,\n});\n\n// Cancel the in-progress interaction.\nconst interaction = await ai.interactions.cancel(created.id);\nconsole.log(interaction.status);\n"
          }
        ]
      }
    },
    "/{api_version}/webhooks": {
      "parameters": [{ "$ref": "#/components/parameters/api_version" }],
      "post": {
        "description": "Creates a new Webhook.",
        "operationId": "CreateWebhook",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/Webhook" }
            }
          },
          "description": "Required. The webhook to create."
        },
        "responses": {
          "default": {
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Webhook" }
              }
            },
            "description": "Successful operation"
          }
        },
        "security": []
      },
      "get": {
        "description": "Lists all Webhooks.",
        "operationId": "ListWebhooks",
        "parameters": [
          {
            "description": "Optional. The maximum number of webhooks to return. The service may return fewer than\nthis value. If unspecified, at most 50 webhooks will be returned.\nThe maximum value is 1000.",
            "in": "query",
            "name": "page_size",
            "schema": { "format": "int32", "type": "integer" }
          },
          {
            "description": "Optional. A page token, received from a previous `ListWebhooks` call.\nProvide this to retrieve the subsequent page.",
            "in": "query",
            "name": "page_token",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListWebhooksResponse"
                }
              }
            },
            "description": "Successful operation"
          }
        },
        "security": []
      }
    },
    "/{api_version}/agents": {
      "parameters": [{ "$ref": "#/components/parameters/api_version" }],
      "post": {
        "description": "Creates a new Agent (Typed version for SDK).",
        "operationId": "CreateAgent",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/Agent" }
            }
          },
          "description": "The request body."
        },
        "responses": {
          "default": {
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Agent" },
                "examples": {
                  "create": {
                    "summary": "Create Agent",
                    "value": {
                      "id": "ag_abc123",
                      "display_name": "My Research Agent",
                      "system_instruction": "You are a helpful research assistant.",
                      "tools": [{ "type": "google_search" }],
                      "object": "agent",
                      "created": "2025-11-26T12:25:15Z",
                      "updated": "2025-11-26T12:25:15Z"
                    }
                  }
                }
              }
            },
            "description": "Successful operation"
          }
        },
        "security": [],
        "x-codeSamples": [
          {
            "lang": "sh",
            "label": "create",
            "source": "curl -X POST https://generativelanguage.googleapis.com/v1beta/agents \\\\\n  -H \"x-goog-api-key: $GEMINI_API_KEY\" \\\\\n  -H \"Content-Type: application/json\" \\\\\n  -H \"Api-Revision: 2026-05-20\" \\\\\n  -d '{\n    \"id\": \"research-assistant-abc123\",\n    \"base_agent\": \"waverunner\",\n    \"description\": \"A helpful research assistant.\",\n    \"system_instruction\": \"You are a helpful research assistant.\",\n    \"base_environment\": \"remote\",\n    \"tools\": [{\"type\": \"google_search\"}]\n  }'\n"
          },
          {
            "lang": "python",
            "label": "create",
            "source": "import uuid\nfrom google import genai\n\nclient = genai.Client()\nagent = client.agents.create(\n    id=f\"research-assistant-{uuid.uuid4().hex[:8]}\",\n    base_agent=\"waverunner\",\n    description=\"A helpful research assistant.\",\n    system_instruction=\"You are a helpful research assistant.\",\n    base_environment=\"remote\",\n    tools=[{\"type\": \"google_search\"}],\n)\nprint(agent.id)\n\n# [cleanup]\nclient.agents.delete(agent.id)\n# [/cleanup]\n"
          },
          {
            "lang": "javascript",
            "label": "create",
            "source": "import {GoogleGenAI} from '@google/genai';\n\nconst ai = new GoogleGenAI({});\nconst agentId = `research-assistant-${crypto.randomUUID().slice(0, 8)}`;\nconst agent = await ai.agents.create({\n    id: agentId,\n    base_agent: 'waverunner',\n    description: 'A helpful research assistant.',\n    system_instruction: 'You are a helpful research assistant.',\n    base_environment: 'remote',\n    tools: [{ type: 'google_search' }],\n});\nif (!agent.id) {\n    throw new Error('Agent creation failed: ID is undefined');\n}\nconsole.log(agent.id);\n\n// [cleanup]\nawait ai.agents.delete(agent.id);\n// [/cleanup]\n"
          }
        ]
      },
      "get": {
        "description": "Lists all Agents.",
        "operationId": "ListAgents",
        "parameters": [
          { "in": "query", "name": "parent", "schema": { "type": "string" } },
          {
            "in": "query",
            "name": "pageSize",
            "schema": { "format": "int32", "type": "integer" }
          },
          { "in": "query", "name": "pageToken", "schema": { "type": "string" } }
        ],
        "responses": {
          "default": {
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ListAgentsResponse" },
                "examples": {
                  "list": {
                    "summary": "List Agents",
                    "value": {
                      "object": "list",
                      "data": [
                        {
                          "id": "ag_abc123",
                          "display_name": "My Research Agent",
                          "system_instruction": "You are a helpful research assistant.",
                          "object": "agent",
                          "created": "2025-11-26T12:25:15Z",
                          "updated": "2025-11-26T12:25:15Z"
                        }
                      ]
                    }
                  }
                }
              }
            },
            "description": "Successful operation"
          }
        },
        "security": [],
        "x-codeSamples": [
          {
            "lang": "sh",
            "label": "list",
            "source": "curl -X GET https://generativelanguage.googleapis.com/v1beta/agents \\\\\n  -H \"x-goog-api-key: $GEMINI_API_KEY\" \\\\\n  -H \"Api-Revision: 2026-05-20\"\n"
          },
          {
            "lang": "python",
            "label": "list",
            "source": "from google import genai\n\nclient = genai.Client()\nresponse = client.agents.list()\nfor agent in response.agents or []:\n    print(agent.id)\n"
          },
          {
            "lang": "javascript",
            "label": "list",
            "source": "import {GoogleGenAI} from '@google/genai';\n\nconst ai = new GoogleGenAI({});\nconst agents = await ai.agents.list();\nfor (const agent of (agents.agents ?? [])) {\n    console.log(agent.id);\n}\n"
          }
        ]
      }
    },
    "/{api_version}/agents/{id}": {
      "get": {
        "description": "Gets a specific Agent.",
        "operationId": "GetAgent",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "default": {
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Agent" },
                "examples": {
                  "get": {
                    "summary": "Get Agent",
                    "value": {
                      "id": "ag_abc123",
                      "display_name": "My Research Agent",
                      "system_instruction": "You are a helpful research assistant.",
                      "tools": [{ "type": "google_search" }],
                      "object": "agent",
                      "created": "2025-11-26T12:25:15Z",
                      "updated": "2025-11-26T12:25:15Z"
                    }
                  }
                }
              }
            },
            "description": "Successful operation"
          }
        },
        "security": [],
        "x-codeSamples": [
          {
            "lang": "sh",
            "label": "get",
            "source": "curl -X GET https://generativelanguage.googleapis.com/v1beta/agents/ag_abc123 \\\\\n  -H \"x-goog-api-key: $GEMINI_API_KEY\" \\\\\n  -H \"Api-Revision: 2026-05-20\"\n"
          },
          {
            "lang": "python",
            "label": "get",
            "source": "import uuid\nfrom google import genai\n\nclient = genai.Client()\n\n# Create an agent so we have a valid ID to retrieve.\nagent_id = f\"test-agent-{uuid.uuid4().hex[:8]}\"\nclient.agents.create(\n    id=agent_id,\n    base_agent=\"waverunner\",\n    description=\"A test agent.\",\n    base_environment=\"remote\",\n)\n\nagent = client.agents.get(agent_id)\nprint(agent.id)\n\n# [cleanup]\nclient.agents.delete(agent.id)\n# [/cleanup]\n"
          },
          {
            "lang": "javascript",
            "label": "get",
            "source": "import {GoogleGenAI} from '@google/genai';\n\nconst ai = new GoogleGenAI({});\n\n// Create an agent so we have a valid ID to retrieve.\nconst agentId = `test-agent-${crypto.randomUUID().slice(0, 8)}`;\nawait ai.agents.create({\n    id: agentId,\n    base_agent: 'waverunner',\n    description: 'A test agent.',\n    base_environment: 'remote',\n});\n\nconst agent = await ai.agents.get(agentId);\nconsole.log(agent.id);\n\n// Clean up.\nawait ai.agents.delete(agent.id);\n"
          }
        ]
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": { "type": "string" }
        },
        { "$ref": "#/components/parameters/api_version" }
      ],
      "delete": {
        "description": "Deletes an Agent.",
        "operationId": "DeleteAgent",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "default": {
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Empty" },
                "examples": {
                  "delete": { "summary": "Delete Agent", "value": {} }
                }
              }
            },
            "description": "Successful operation"
          }
        },
        "security": [],
        "x-codeSamples": [
          {
            "lang": "sh",
            "label": "delete",
            "source": "curl -X DELETE https://generativelanguage.googleapis.com/v1beta/agents/ag_abc123 \\\\\n  -H \"x-goog-api-key: $GEMINI_API_KEY\" \\\\\n  -H \"Api-Revision: 2026-05-20\"\n"
          },
          {
            "lang": "python",
            "label": "delete",
            "source": "import uuid\nfrom google import genai\n\nclient = genai.Client()\n\n# Create an agent so we have a valid ID to delete.\nagent_id = f\"delete-test-{uuid.uuid4().hex[:8]}\"\nclient.agents.create(\n    id=agent_id,\n    base_agent=\"waverunner\",\n    description=\"Temporary agent for deletion.\",\n    base_environment=\"remote\",\n)\n\nclient.agents.delete(agent_id)\nprint(\"Agent deleted successfully.\")\n"
          },
          {
            "lang": "javascript",
            "label": "delete",
            "source": "import {GoogleGenAI} from '@google/genai';\n\nconst ai = new GoogleGenAI({});\n\n// Create an agent so we have a valid ID to delete.\nconst agentId = `delete-test-${crypto.randomUUID().slice(0, 8)}`;\nawait ai.agents.create({\n    id: agentId,\n    base_agent: 'waverunner',\n    description: 'Temporary agent for deletion.',\n    base_environment: 'remote',\n});\n\nawait ai.agents.delete(agentId);\nconsole.log('Agent deleted successfully.');\n"
          }
        ]
      }
    },
    "/{api_version}/webhooks/{id}": {
      "get": {
        "description": "Gets a specific Webhook.",
        "operationId": "GetWebhook",
        "parameters": [
          {
            "description": "Required. The ID of the webhook to retrieve.",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "default": {
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Webhook" }
              }
            },
            "description": "Successful operation"
          }
        },
        "security": []
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": { "type": "string" }
        },
        { "$ref": "#/components/parameters/api_version" }
      ],
      "patch": {
        "description": "Updates an existing Webhook.",
        "operationId": "UpdateWebhook",
        "parameters": [
          {
            "description": "Required. The ID of the webhook to update.",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "description": "Optional. The list of fields to update.",
            "in": "query",
            "name": "update_mask",
            "schema": {
              "format": "google-fieldmask",
              "pattern": "^(\\s*[^,\\s.]+(\\s*[,.]\\s*[^,\\s.]+)*)?$",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/WebhookUpdate" }
            }
          },
          "description": "Required. The webhook to update."
        },
        "responses": {
          "default": {
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Webhook" }
              }
            },
            "description": "Successful operation"
          }
        },
        "security": []
      },
      "delete": {
        "description": "Deletes a Webhook.",
        "operationId": "DeleteWebhook",
        "parameters": [
          {
            "description": "Required. The ID of the webhook to delete.\nFormat: `{webhook_id}`",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "default": {
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Empty" }
              }
            },
            "description": "Successful operation"
          }
        },
        "security": []
      }
    },
    "/{api_version}/webhooks/{id}:rotateSigningSecret": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": { "type": "string" }
        },
        { "$ref": "#/components/parameters/api_version" }
      ],
      "post": {
        "description": "Generates a new signing secret for a Webhook.",
        "operationId": "RotateSigningSecret",
        "parameters": [
          {
            "description": "Required. The ID of the webhook for which to generate a signing secret.\nFormat: `{webhook_id}`",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RotateSigningSecretRequest"
              }
            }
          },
          "description": "The request body."
        },
        "responses": {
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RotateSigningSecretResponse"
                }
              }
            },
            "description": "Successful operation"
          }
        },
        "security": []
      }
    },
    "/{api_version}/webhooks/{id}:ping": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": { "type": "string" }
        },
        { "$ref": "#/components/parameters/api_version" }
      ],
      "post": {
        "description": "Sends a ping event to a Webhook.",
        "operationId": "PingWebhook",
        "parameters": [
          {
            "description": "Required. The ID of the webhook to ping.\nFormat: `{webhook_id}`",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/PingWebhookRequest" }
            }
          },
          "description": "The request body."
        },
        "responses": {
          "default": {
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/PingWebhookResponse" }
              }
            },
            "description": "Successful operation"
          }
        },
        "security": []
      }
    }
  },
  "components": {
    "parameters": {
      "api_version": {
        "name": "api_version",
        "description": "Which version of the API to use.",
        "schema": { "type": "string" },
        "in": "path"
      }
    },
    "schemas": {
      "Agent": {
        "description": "An agent definition for the CreateAgent API.\nThis message is the target for annotation-parser-based JSON parsing.\nNew format:\n  {\n    \"id\": \"customer-sentinel\",\n    \"base_agent\": \"\",\n    \"system_instruction\": \"...\",\n    \"base_environment\": { \"type\": \"remote\", \"sources\": [...] },\n    \"tools\": [ {\"type\": \"code_execution\"} ]\n  }",
        "properties": {
          "base_agent": {
            "description": "The base agent to extend.",
            "type": "string"
          },
          "base_environment": {
            "description": "The environment configuration for the agent.",
            "discriminator": { "propertyName": "type" },
            "oneOf": [
              { "$ref": "#/components/schemas/EnvironmentConfig" },
              { "type": "string" }
            ]
          },
          "description": {
            "description": "Agent description for developers to quickly read and understand.",
            "type": "string"
          },
          "id": {
            "description": "The unique identifier for the agent.",
            "type": "string"
          },
          "system_instruction": {
            "description": "System instruction for the agent.",
            "type": "string"
          },
          "tools": {
            "description": "The tools available to the agent.",
            "items": { "$ref": "#/components/schemas/AgentTool" },
            "type": "array"
          }
        },
        "type": "object"
      },
      "AgentTool": {
        "description": "A tool that the agent can use.",
        "discriminator": { "propertyName": "type" },
        "oneOf": [
          { "$ref": "#/components/schemas/CodeExecution" },
          { "$ref": "#/components/schemas/GoogleSearch" },
          { "$ref": "#/components/schemas/UrlContext" },
          { "$ref": "#/components/schemas/McpServer" }
        ],
        "type": "object"
      },
      "AllowedTools": {
        "description": "The configuration for allowed tools.",
        "properties": {
          "mode": {
            "description": "The mode of the tool choice.",
            "$ref": "#/components/schemas/ToolChoiceType"
          },
          "tools": {
            "description": "The names of the allowed tools.",
            "items": { "type": "string" },
            "type": "array"
          }
        },
        "type": "object"
      },
      "Annotation": {
        "description": "Citation information for model-generated content.",
        "discriminator": { "propertyName": "type" },
        "oneOf": [
          { "$ref": "#/components/schemas/UrlCitation" },
          { "$ref": "#/components/schemas/FileCitation" },
          { "$ref": "#/components/schemas/PlaceCitation" }
        ],
        "type": "object"
      },
      "ArgumentsDelta": {
        "properties": {
          "arguments": { "type": "string" },
          "type": { "const": "arguments_delta" }
        },
        "required": ["type"],
        "type": "object"
      },
      "AudioContent": {
        "description": "An audio content block.",
        "properties": {
          "channels": {
            "description": "The number of audio channels.",
            "format": "int32",
            "type": "integer"
          },
          "data": {
            "description": "The audio content.",
            "format": "byte",
            "type": "string"
          },
          "mime_type": {
            "description": "The mime type of the audio.",
            "enum": [
              "audio/wav",
              "audio/mp3",
              "audio/aiff",
              "audio/aac",
              "audio/ogg",
              "audio/flac",
              "audio/mpeg",
              "audio/m4a",
              "audio/l16",
              "audio/opus",
              "audio/alaw",
              "audio/mulaw"
            ],
            "type": "string",
            "x-google-enum-descriptions": [
              "WAV audio format",
              "MP3 audio format",
              "AIFF audio format",
              "AAC audio format",
              "OGG audio format",
              "FLAC audio format",
              "MPEG audio format",
              "M4A audio format",
              "L16 audio format",
              "OPUS audio format",
              "ALAW audio format",
              "MULAW audio format"
            ]
          },
          "sample_rate": {
            "description": "The sample rate of the audio.",
            "format": "int32",
            "type": "integer"
          },
          "type": { "const": "audio" },
          "uri": { "description": "The URI of the audio.", "type": "string" }
        },
        "required": ["type"],
        "type": "object",
        "examples": [
          {
            "audio": {
              "summary": "Audio",
              "value": {
                "type": "audio",
                "data": "BASE64_ENCODED_AUDIO",
                "mime_type": "audio/wav"
              }
            }
          }
        ]
      },
      "AudioDelta": {
        "properties": {
          "channels": {
            "description": "The number of audio channels.",
            "format": "int32",
            "type": "integer"
          },
          "data": { "format": "byte", "type": "string" },
          "mime_type": {
            "enum": [
              "audio/wav",
              "audio/mp3",
              "audio/aiff",
              "audio/aac",
              "audio/ogg",
              "audio/flac",
              "audio/mpeg",
              "audio/m4a",
              "audio/l16",
              "audio/opus",
              "audio/alaw",
              "audio/mulaw"
            ],
            "type": "string",
            "x-google-enum-descriptions": [
              "WAV audio format",
              "MP3 audio format",
              "AIFF audio format",
              "AAC audio format",
              "OGG audio format",
              "FLAC audio format",
              "MPEG audio format",
              "M4A audio format",
              "L16 audio format",
              "OPUS audio format",
              "ALAW audio format",
              "MULAW audio format"
            ]
          },
          "rate": {
            "deprecated": true,
            "description": "Deprecated. Use sample_rate instead. The value is ignored.",
            "format": "int32",
            "type": "integer"
          },
          "sample_rate": {
            "description": "The sample rate of the audio.",
            "format": "int32",
            "type": "integer"
          },
          "type": { "const": "audio" },
          "uri": { "type": "string" }
        },
        "required": ["type"],
        "type": "object"
      },
      "AudioResponseFormat": {
        "description": "Configuration for audio output format.",
        "properties": {
          "bit_rate": {
            "description": "Bit rate in bits per second (bps). Only applicable for compressed formats\n(MP3, Opus).",
            "format": "int32",
            "type": "integer"
          },
          "delivery": {
            "description": "The delivery mode for the audio output.",
            "enum": ["inline", "uri"],
            "type": "string",
            "x-google-enum-descriptions": [
              "Audio data is returned inline in the response.",
              "Audio data is returned as a URI."
            ]
          },
          "mime_type": {
            "description": "The MIME type of the audio output.",
            "enum": [
              "audio/mp3",
              "audio/ogg_opus",
              "audio/l16",
              "audio/wav",
              "audio/alaw",
              "audio/mulaw"
            ],
            "type": "string",
            "x-google-enum-descriptions": [
              "MP3 audio format.",
              "OGG Opus audio format.",
              "Raw PCM (L16) audio format.",
              "WAV audio format.",
              "A-law audio format.",
              "Mu-law audio format."
            ]
          },
          "sample_rate": {
            "description": "Sample rate in Hz.",
            "format": "int32",
            "type": "integer"
          },
          "type": { "const": "audio" }
        },
        "required": ["type"],
        "type": "object",
        "examples": [
          {
            "audio_response_format": {
              "summary": "Audio Output",
              "value": { "type": "audio", "sample_rate": 24000 }
            }
          }
        ]
      },
      "CodeExecution": {
        "description": "A tool that can be used by the model to execute code.",
        "properties": { "type": { "const": "code_execution" } },
        "required": ["type"],
        "type": "object",
        "x-codeSamples": [
          {
            "lang": "sh",
            "label": "code_execution",
            "source": "curl -X POST https://generativelanguage.googleapis.com/v1beta/interactions \\\n  -H \"x-goog-api-key: $GEMINI_API_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Api-Revision: 2026-05-20\" \\\n  -d '{\n    \"model\": \"gemini-3-flash-preview\",\n    \"tools\": [{\n      \"type\": \"code_execution\"\n    }],\n    \"input\": \"Calculate the first 10 Fibonacci numbers\"\n  }'\n"
          },
          {
            "lang": "python",
            "label": "code_execution",
            "source": "from google import genai\n\nclient = genai.Client()\nresponse = client.interactions.create(\n    model=\"gemini-3-flash-preview\",\n    tools=[{\"type\": \"code_execution\"}],\n    input=\"Calculate the first 10 Fibonacci numbers\"\n)\nprint(response.output_text)\n"
          },
          {
            "lang": "javascript",
            "label": "code_execution",
            "source": "import {GoogleGenAI} from '@google/genai';\n\nconst ai = new GoogleGenAI({});\nconst interaction = await ai.interactions.create({\n    model: 'gemini-3-flash-preview',\n    tools: [{ type: 'code_execution' }],\n    input: 'Calculate the first 10 Fibonacci numbers'\n});\nconsole.log(interaction.output_text);\n"
          }
        ]
      },
      "CodeExecutionCallArguments": {
        "description": "The arguments to pass to the code execution.",
        "properties": {
          "code": {
            "description": "The code to be executed.",
            "type": "string"
          },
          "language": {
            "description": "Programming language of the `code`.",
            "enum": ["python"],
            "type": "string",
            "x-google-enum-descriptions": [
              "Python >= 3.10, with numpy and simpy available."
            ]
          }
        },
        "type": "object"
      },
      "CodeExecutionCallDelta": {
        "properties": {
          "arguments": {
            "$ref": "#/components/schemas/CodeExecutionCallArguments"
          },
          "signature": {
            "description": "A signature hash for backend validation.",
            "format": "byte",
            "type": "string"
          },
          "type": { "const": "code_execution_call" }
        },
        "required": ["type", "arguments"],
        "type": "object"
      },
      "CodeExecutionCallStep": {
        "description": "Code execution call step.",
        "properties": {
          "arguments": {
            "description": "Required. The arguments to pass to the code execution.",
            "$ref": "#/components/schemas/CodeExecutionCallStepArguments"
          },
          "id": {
            "description": "Required. A unique ID for this specific tool call.",
            "type": "string"
          },
          "signature": {
            "description": "A signature hash for backend validation.",
            "format": "byte",
            "type": "string"
          },
          "type": { "const": "code_execution_call" }
        },
        "required": ["type", "arguments", "id"],
        "type": "object",
        "examples": [
          {
            "code_execution_call": {
              "summary": "CodeExecutionCallStep",
              "value": {
                "type": "code_execution_call",
                "id": "code_call_71021",
                "arguments": { "code": "print(sum(range(1, 11)))" }
              }
            }
          }
        ]
      },
      "CodeExecutionCallStepArguments": {
        "description": "The arguments to pass to the code execution.",
        "properties": {
          "code": {
            "description": "The code to be executed.",
            "type": "string"
          },
          "language": {
            "description": "Programming language of the `code`.",
            "enum": ["python"],
            "type": "string",
            "x-google-enum-descriptions": [
              "Python >= 3.10, with numpy and simpy available."
            ]
          }
        },
        "type": "object"
      },
      "CodeExecutionResultDelta": {
        "properties": {
          "is_error": { "type": "boolean" },
          "result": { "type": "string" },
          "signature": {
            "description": "A signature hash for backend validation.",
            "format": "byte",
            "type": "string"
          },
          "type": { "const": "code_execution_result" }
        },
        "required": ["type", "result"],
        "type": "object"
      },
      "CodeExecutionResultStep": {
        "description": "Code execution result step.",
        "properties": {
          "call_id": {
            "description": "Required. ID to match the ID from the function call block.",
            "type": "string"
          },
          "is_error": {
            "description": "Whether the code execution resulted in an error.",
            "type": "boolean"
          },
          "result": {
            "description": "Required. The output of the code execution.",
            "type": "string"
          },
          "signature": {
            "description": "A signature hash for backend validation.",
            "format": "byte",
            "type": "string"
          },
          "type": { "const": "code_execution_result" }
        },
        "required": ["type", "result", "call_id"],
        "type": "object",
        "examples": [
          {
            "code_execution_result": {
              "summary": "CodeExecutionResultStep",
              "value": {
                "type": "code_execution_result",
                "call_id": "code_call_71021",
                "result": "55\n"
              }
            }
          }
        ]
      },
      "ComputerUse": {
        "description": "A tool that can be used by the model to interact with the computer.",
        "properties": {
          "environment": {
            "description": "The environment being operated.",
            "enum": ["browser"],
            "type": "string",
            "x-google-enum-descriptions": ["Operates in a web browser."]
          },
          "excluded_predefined_functions": {
            "description": "The list of predefined functions that are excluded from the model call.",
            "items": { "type": "string" },
            "type": "array"
          },
          "type": { "const": "computer_use" }
        },
        "required": ["type"],
        "type": "object",
        "x-codeSamples": [
          {
            "lang": "sh",
            "label": "computer_use",
            "source": "curl -X POST https://generativelanguage.googleapis.com/v1beta/interactions \\\n  -H \"x-goog-api-key: $GEMINI_API_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Api-Revision: 2026-05-20\" \\\n  -d '{\n    \"model\": \"gemini-2.5-computer-use-preview-10-2025\",\n    \"tools\": [{\n      \"type\": \"computer_use\"\n    }],\n    \"input\": \"Find a flight to Tokyo\"\n  }'\n"
          },
          {
            "lang": "python",
            "label": "computer_use",
            "source": "from google import genai\n\nclient = genai.Client()\nresponse = client.interactions.create(\n    model=\"gemini-2.5-computer-use-preview-10-2025\",\n    tools=[{\"type\": \"computer_use\"}],\n    input=\"Find a flight to Tokyo\"\n)\nprint(response.output_text)\n"
          },
          {
            "lang": "javascript",
            "label": "computer_use",
            "source": "import {GoogleGenAI} from '@google/genai';\n\nconst ai = new GoogleGenAI({});\nconst interaction = await ai.interactions.create({\n    model: 'gemini-2.5-computer-use-preview-10-2025',\n    tools: [{ type: 'computer_use'}],\n    input: 'Find a flight to Tokyo'\n});\nconsole.log(interaction.output_text);\n"
          }
        ]
      },
      "Content": {
        "description": "The content of the response.",
        "discriminator": { "propertyName": "type" },
        "oneOf": [
          { "$ref": "#/components/schemas/TextContent" },
          { "$ref": "#/components/schemas/ImageContent" },
          { "$ref": "#/components/schemas/AudioContent" },
          { "$ref": "#/components/schemas/DocumentContent" },
          { "$ref": "#/components/schemas/VideoContent" }
        ],
        "type": "object"
      },
      "ContentDelta": {
        "properties": {
          "delta": { "$ref": "#/components/schemas/ContentDeltaData" },
          "event_id": {
            "description": "The event_id token to be used to resume the interaction stream, from\nthis event.",
            "type": "string"
          },
          "event_type": { "const": "content.delta" },
          "index": { "format": "int32", "type": "integer" }
        },
        "required": ["event_type", "index", "delta"],
        "type": "object",
        "examples": [
          {
            "content_delta": {
              "summary": "Content Delta",
              "value": {
                "event_type": "content.delta",
                "delta": {
                  "type": "text",
                  "text": "Elara’s life was a symphony of quiet moments. A librarian, she found solace in the hushed aisles, the scent of aged paper, and the predictable rhythm of her days. Her small apartment, meticulously ordered, reflected this internal calm, save"
                },
                "index": 1
              }
            }
          }
        ]
      },
      "ContentDeltaData": {
        "description": "The delta content data for a content block.",
        "discriminator": { "propertyName": "type" },
        "oneOf": [
          { "$ref": "#/components/schemas/TextDelta" },
          { "$ref": "#/components/schemas/ImageDelta" },
          { "$ref": "#/components/schemas/AudioDelta" },
          { "$ref": "#/components/schemas/DocumentDelta" },
          { "$ref": "#/components/schemas/VideoDelta" },
          { "$ref": "#/components/schemas/ThoughtSummaryDelta" },
          { "$ref": "#/components/schemas/ThoughtSignatureDelta" },
          { "$ref": "#/components/schemas/FunctionCallDelta" },
          { "$ref": "#/components/schemas/CodeExecutionCallDelta" },
          { "$ref": "#/components/schemas/UrlContextCallDelta" },
          { "$ref": "#/components/schemas/GoogleSearchCallDelta" },
          { "$ref": "#/components/schemas/McpServerToolCallDelta" },
          { "$ref": "#/components/schemas/FileSearchCallDelta" },
          { "$ref": "#/components/schemas/GoogleMapsCallDelta" },
          { "$ref": "#/components/schemas/FunctionResultDelta" },
          { "$ref": "#/components/schemas/CodeExecutionResultDelta" },
          { "$ref": "#/components/schemas/UrlContextResultDelta" },
          { "$ref": "#/components/schemas/GoogleSearchResultDelta" },
          { "$ref": "#/components/schemas/McpServerToolResultDelta" },
          { "$ref": "#/components/schemas/FileSearchResultDelta" },
          { "$ref": "#/components/schemas/GoogleMapsResultDelta" },
          { "$ref": "#/components/schemas/TextAnnotationDelta" }
        ],
        "type": "object"
      },
      "ContentStart": {
        "properties": {
          "content": { "$ref": "#/components/schemas/Content" },
          "event_id": {
            "description": "The event_id token to be used to resume the interaction stream, from\nthis event.",
            "type": "string"
          },
          "event_type": { "const": "content.start" },
          "index": { "format": "int32", "type": "integer" }
        },
        "required": ["event_type", "index", "content"],
        "type": "object",
        "examples": [
          {
            "content_start": {
              "summary": "Content Start",
              "value": {
                "event_type": "content.start",
                "content": { "type": "text" },
                "index": 1
              }
            }
          }
        ]
      },
      "ContentStop": {
        "properties": {
          "event_id": {
            "description": "The event_id token to be used to resume the interaction stream, from\nthis event.",
            "type": "string"
          },
          "event_type": { "const": "content.stop" },
          "index": { "format": "int32", "type": "integer" }
        },
        "required": ["event_type", "index"],
        "type": "object",
        "examples": [
          {
            "content_stop": {
              "summary": "Content Stop",
              "value": { "event_type": "content.stop", "index": 1 }
            }
          }
        ]
      },
      "DeepResearchAgentConfig": {
        "description": "Configuration for the Deep Research agent.",
        "properties": {
          "collaborative_planning": {
            "description": "Enables human-in-the-loop planning for the Deep Research agent. If set to\ntrue, the Deep Research agent will provide a research plan in its response.\nThe agent will then proceed only if the user confirms the plan in the next\nturn.",
            "type": "boolean"
          },
          "thinking_summaries": {
            "description": "Whether to include thought summaries in the response.",
            "$ref": "#/components/schemas/ThinkingSummaries"
          },
          "type": { "const": "deep-research" },
          "visualization": {
            "description": "Whether to include visualizations in the response.",
            "enum": ["off", "auto"],
            "type": "string",
            "x-google-enum-descriptions": [
              "Do not include visualizations.",
              "Automatically include visualizations."
            ]
          }
        },
        "required": ["type"],
        "type": "object"
      },
      "DocumentContent": {
        "description": "A document content block.",
        "properties": {
          "data": {
            "description": "The document content.",
            "format": "byte",
            "type": "string"
          },
          "mime_type": {
            "description": "The mime type of the document.",
            "enum": ["application/pdf"],
            "type": "string",
            "x-google-enum-descriptions": ["PDF document format"]
          },
          "type": { "const": "document" },
          "uri": { "description": "The URI of the document.", "type": "string" }
        },
        "required": ["type"],
        "type": "object",
        "examples": [
          {
            "document": {
              "summary": "Document",
              "value": {
                "type": "document",
                "data": "BASE64_ENCODED_DOCUMENT",
                "mime_type": "application/pdf"
              }
            }
          }
        ]
      },
      "DocumentDelta": {
        "properties": {
          "data": { "format": "byte", "type": "string" },
          "mime_type": {
            "enum": ["application/pdf"],
            "type": "string",
            "x-google-enum-descriptions": ["PDF document format"]
          },
          "type": { "const": "document" },
          "uri": { "type": "string" }
        },
        "required": ["type"],
        "type": "object"
      },
      "DynamicAgentConfig": {
        "additionalProperties": {
          "description": "For agents that are not supported statically in the API definition."
        },
        "description": "Configuration for dynamic agents.",
        "properties": { "type": { "const": "dynamic" } },
        "required": ["type"],
        "type": "object"
      },
      "Empty": {
        "description": "A generic empty message that you can re-use to avoid defining duplicated\nempty messages in your APIs. A typical example is to use it as the request\nor the response type of an API method. For instance:\n\n    service Foo {\n      rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty);\n    }",
        "type": "object",
        "x-stainless-empty-object": true
      },
      "EnvironmentConfig": {
        "description": "Configuration for a custom environment.",
        "properties": {
          "network": {
            "description": "Network configuration for the environment.",
            "oneOf": [
              {
                "$ref": "#/components/schemas/EnvironmentNetworkEgressAllowlist"
              },
              {
                "enum": ["disabled"],
                "type": "string",
                "x-google-enum-descriptions": ["All network egress is blocked."]
              }
            ]
          },
          "sources": {
            "items": { "$ref": "#/components/schemas/Source" },
            "type": "array"
          },
          "type": { "const": "remote" }
        },
        "required": ["type"],
        "type": "object",
        "examples": [
          {
            "inline_sources": {
              "summary": "Inline Sources",
              "value": {
                "type": "remote",
                "sources": [
                  {
                    "type": "inline",
                    "target": ".agents/AGENTS.md",
                    "content": "You are a data analyst. Always include visualizations and export results as PDF."
                  },
                  {
                    "type": "inline",
                    "target": ".agents/skills/slide-maker/SKILL.md",
                    "content": "---\nname: slide-maker\ndescription: Create HTML slide decks\n---\n# Slide Maker\n\nWhen asked to create a presentation:\n1. Analyze the input data\n2. Create an HTML slide deck with reveal.js\n3. Save to /workspace/output/slides.html"
                  }
                ]
              }
            }
          },
          {
            "external_sources": {
              "summary": "External Sources",
              "value": {
                "type": "remote",
                "sources": [
                  {
                    "type": "repository",
                    "source": "https://github.com/my-org/my-skills.git",
                    "target": ".agents/skills"
                  },
                  {
                    "type": "gcs",
                    "source": "gs://my-bucket/my-folder",
                    "target": "/workspace/data"
                  }
                ]
              }
            }
          },
          {
            "network_allowlist": {
              "summary": "Network Allowlist",
              "value": {
                "type": "remote",
                "network": {
                  "allowlist": [
                    {
                      "domain": "pypi.org"
                    },
                    {
                      "domain": "*.github.com"
                    }
                  ]
                }
              }
            }
          },
          {
            "proxy_credentials": {
              "summary": "Proxy Credentials",
              "value": {
                "type": "remote",
                "network": {
                  "allowlist": [
                    {
                      "domain": "api.github.com",
                      "transform": {
                        "Authorization": "Bearer YOUR_GITHUB_TOKEN"
                      }
                    }
                  ]
                }
              }
            }
          }
        ]
      },
      "EnvironmentNetworkEgressAllowlist": {
        "oneOf": [
          {
            "type": "object",
            "description": "Outbound networking configuration for the sandbox. When specified, restricts which external domains the sandbox can reach. Omit entirely to allow all outbound traffic with no header injection.",
            "properties": {
              "allowlist": {
                "type": "array",
                "items": { "$ref": "#/components/schemas/AllowlistEntry" },
                "description": "List of allowed outbound domains. Only requests to listed domains are permitted. Use [{'domain': '*'}] to allow all domains while still injecting headers on specific ones."
              }
            }
          },
          {
            "type": "string",
            "enum": ["disabled"],
            "description": "Turns all network off."
          }
        ],
        "description": "Outbound networking configuration for the sandbox. Accepts an object with an 'allowlist' array to restrict traffic, or the string 'disabled' to turn off all network access. Omit entirely to allow all outbound traffic with no header injection."
      },
      "Error": {
        "description": "Error message from an interaction.",
        "properties": {
          "code": {
            "description": "A URI that identifies the error type.",
            "type": "string"
          },
          "message": {
            "description": "A human-readable error message.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "ErrorEvent": {
        "properties": {
          "error": { "$ref": "#/components/schemas/Error" },
          "event_id": {
            "description": "The event_id token to be used to resume the interaction stream, from\nthis event.",
            "type": "string"
          },
          "event_type": { "const": "error" }
        },
        "required": ["event_type"],
        "type": "object",
        "examples": [
          {
            "error_event": {
              "summary": "Error Event",
              "value": {
                "event_type": "error",
                "error": {
                  "message": "Failed to get completed interaction: Result not found.",
                  "code": "not_found"
                }
              }
            }
          }
        ]
      },
      "FileCitation": {
        "description": "A file citation annotation.",
        "properties": {
          "custom_metadata": {
            "additionalProperties": {
              "description": "Properties of the object."
            },
            "description": "User provided metadata about the retrieved context.",
            "type": "object"
          },
          "document_uri": {
            "description": "The URI of the file.",
            "type": "string"
          },
          "end_index": {
            "description": "End of the attributed segment, exclusive.",
            "format": "int32",
            "type": "integer"
          },
          "file_name": {
            "description": "The name of the file.",
            "type": "string"
          },
          "media_id": {
            "description": "Media ID in-case of image citations, if applicable.",
            "type": "string"
          },
          "page_number": {
            "description": "Page number of the cited document, if applicable.",
            "format": "int32",
            "type": "integer"
          },
          "source": {
            "description": "Source attributed for a portion of the text.",
            "type": "string"
          },
          "start_index": {
            "description": "Start of segment of the response that is attributed to this source.\n\nIndex indicates the start of the segment, measured in bytes.",
            "format": "int32",
            "type": "integer"
          },
          "type": { "const": "file_citation" }
        },
        "required": ["type"],
        "type": "object"
      },
      "FileSearch": {
        "description": "A tool that can be used by the model to search files.",
        "properties": {
          "file_search_store_names": {
            "description": "The file search store names to search.",
            "items": { "type": "string" },
            "type": "array"
          },
          "metadata_filter": {
            "description": "Metadata filter to apply to the semantic retrieval documents and chunks.",
            "type": "string"
          },
          "top_k": {
            "description": "The number of semantic retrieval chunks to retrieve.",
            "format": "int32",
            "type": "integer"
          },
          "type": { "const": "file_search" }
        },
        "required": ["type"],
        "type": "object",
        "x-codeSamples": [
          {
            "lang": "sh",
            "label": "file_search",
            "source": "curl -X POST https://generativelanguage.googleapis.com/v1beta/interactions \\\n  -H \"x-goog-api-key: $GEMINI_API_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Api-Revision: 2026-05-20\" \\\n  -d '{\n    \"model\": \"gemini-3-flash-preview\",\n    \"tools\": [{\n      \"type\": \"file_search\",\n      \"file_search_store_names\": [\"fileSearchStores/m64d1sevsr4y-xfyawui3fxqg\"]\n    }],\n    \"input\": \"Who is the author of the book?\"\n  }'\n"
          },
          {
            "lang": "python",
            "label": "file_search",
            "source": "from google import genai\n\nclient = genai.Client()\n\n# Create a file search store so we have a valid one to use.\nstore = client.file_search_stores.create()\n\nresponse = client.interactions.create(\n    model=\"gemini-3-flash-preview\",\n    tools=[{\n        \"type\": \"file_search\",\n        \"file_search_store_names\": [store.name]\n    }],\n    input=\"What documents are available?\"\n)\nprint(response.output_text)\n\n# [cleanup]\nclient.file_search_stores.delete(name=store.name)\n# [/cleanup]\n"
          },
          {
            "lang": "javascript",
            "label": "file_search",
            "source": "import {GoogleGenAI} from '@google/genai';\n\nconst ai = new GoogleGenAI({});\n\n// Create a file search store so we have a valid one to use.\nconst store = await ai.fileSearchStores.create({});\nif (!store.name) {\n    throw new Error('Store creation failed: Name is undefined');\n}\n\nconst interaction = await ai.interactions.create({\n    model: 'gemini-3-flash-preview',\n    tools: [{\n        type: 'file_search',\n        file_search_store_names: [store.name]\n    }],\n    input: 'What documents are available?'\n});\nconsole.log(interaction.output_text);\n\n// [cleanup]\nawait ai.fileSearchStores.delete({name: store.name});\n// [/cleanup]\n"
          }
        ]
      },
      "FileSearchCallDelta": {
        "properties": {
          "signature": {
            "description": "A signature hash for backend validation.",
            "format": "byte",
            "type": "string"
          },
          "type": { "const": "file_search_call" }
        },
        "required": ["type"],
        "type": "object"
      },
      "FileSearchCallStep": {
        "description": "File Search call step.",
        "properties": {
          "id": {
            "description": "Required. A unique ID for this specific tool call.",
            "type": "string"
          },
          "signature": {
            "description": "A signature hash for backend validation.",
            "format": "byte",
            "type": "string"
          },
          "type": { "const": "file_search_call" }
        },
        "required": ["type", "id"],
        "type": "object",
        "examples": [
          {
            "file_search_call": {
              "summary": "FileSearchCallStep",
              "value": { "type": "file_search_call", "id": "file_call_88192" }
            }
          }
        ]
      },
      "FileSearchResult": {
        "description": "The result of the File Search.",
        "type": "object"
      },
      "FileSearchResultDelta": {
        "properties": {
          "result": {
            "items": { "$ref": "#/components/schemas/FileSearchResult" },
            "type": "array"
          },
          "signature": {
            "description": "A signature hash for backend validation.",
            "format": "byte",
            "type": "string"
          },
          "type": { "const": "file_search_result" }
        },
        "required": ["type", "result"],
        "type": "object"
      },
      "FileSearchResultStep": {
        "description": "File Search result step.",
        "properties": {
          "call_id": {
            "description": "Required. ID to match the ID from the function call block.",
            "type": "string"
          },
          "signature": {
            "description": "A signature hash for backend validation.",
            "format": "byte",
            "type": "string"
          },
          "type": { "const": "file_search_result" }
        },
        "required": ["type", "call_id"],
        "type": "object",
        "examples": [
          {
            "file_search_result": {
              "summary": "FileSearchResultStep",
              "value": {
                "type": "file_search_result",
                "call_id": "file_call_88192"
              }
            }
          }
        ]
      },
      "Function": {
        "description": "A tool that can be used by the model.",
        "properties": {
          "description": {
            "description": "A description of the function.",
            "type": "string"
          },
          "name": {
            "description": "The name of the function.",
            "type": "string"
          },
          "parameters": {
            "description": "The JSON Schema for the function's parameters."
          },
          "type": { "const": "function" }
        },
        "required": ["type"],
        "type": "object",
        "x-codeSamples": [
          {
            "lang": "sh",
            "label": "function_calling",
            "source": "curl -X POST https://generativelanguage.googleapis.com/v1beta/interactions \\\n  -H \"x-goog-api-key: $GEMINI_API_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Api-Revision: 2026-05-20\" \\\n  -d '{\n    \"model\": \"gemini-3-flash-preview\",\n    \"tools\": [{\n      \"type\": \"function\",\n      \"name\": \"get_weather\",\n      \"description\": \"Get the current weather in a given location\",\n      \"parameters\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"location\": {\n            \"type\": \"string\",\n            \"description\": \"The city and state, e.g. San Francisco, CA\"\n          }\n        },\n        \"required\": [\"location\"]\n      }\n    }],\n    \"input\": \"What is the weather like in Boston, MA?\"\n  }'\n"
          },
          {
            "lang": "python",
            "label": "function_calling",
            "source": "from google import genai\n\nclient = genai.Client()\nresponse = client.interactions.create(\n    model=\"gemini-3-flash-preview\",\n    tools=[{\n        \"type\": \"function\",\n        \"name\": \"get_weather\",\n        \"description\": \"Get the current weather in a given location\",\n        \"parameters\": {\n            \"type\": \"object\",\n            \"properties\": {\n                \"location\": {\n                    \"type\": \"string\",\n                    \"description\": \"The city and state, e.g. San Francisco, CA\"\n                }\n            },\n            \"required\": [\"location\"]\n        }\n    }],\n    input=\"What is the weather like in Boston?\"\n)\nprint(response.steps[-1])\n"
          },
          {
            "lang": "javascript",
            "label": "function_calling",
            "source": "import {GoogleGenAI} from '@google/genai';\n\nconst ai = new GoogleGenAI({});\nconst interaction = await ai.interactions.create({\n    model: 'gemini-3-flash-preview',\n    tools: [{\n        type: 'function',\n        name: 'get_weather',\n        description: 'Get the current weather in a given location',\n        parameters: {\n            type: 'object',\n            properties: {\n                location: {\n                    type: 'string',\n                    description: 'The city and state, e.g. San Francisco, CA'\n                }\n            },\n            required: ['location']\n        }\n    }],\n    input: 'What is the weather like in Boston?'\n});\nconsole.log(interaction.steps.at(-1));\n"
          }
        ]
      },
      "FunctionCallDelta": {
        "properties": {
          "arguments": {
            "additionalProperties": {
              "description": "Properties of the object."
            },
            "type": "object"
          },
          "id": {
            "description": "Required. A unique ID for this specific tool call.",
            "type": "string"
          },
          "name": { "type": "string" },
          "signature": {
            "description": "A signature hash for backend validation.",
            "format": "byte",
            "type": "string"
          },
          "type": { "const": "function_call" }
        },
        "required": ["type", "name", "arguments", "id"],
        "type": "object"
      },
      "FunctionCallStep": {
        "description": "A function tool call step.",
        "properties": {
          "arguments": {
            "additionalProperties": {
              "description": "Properties of the object."
            },
            "description": "Required. The arguments to pass to the function.",
            "type": "object"
          },
          "id": {
            "description": "Required. A unique ID for this specific tool call.",
            "type": "string"
          },
          "name": {
            "description": "Required. The name of the tool to call.",
            "type": "string"
          },
          "signature": {
            "description": "A signature hash for backend validation.",
            "format": "byte",
            "type": "string"
          },
          "type": { "const": "function_call" }
        },
        "required": ["type", "name", "arguments", "id"],
        "type": "object",
        "examples": [
          {
            "function_call": {
              "summary": "FunctionCallStep",
              "value": {
                "type": "function_call",
                "id": "call_98231",
                "name": "get_weather",
                "arguments": { "location": "Boston, MA" }
              }
            }
          }
        ]
      },
      "FunctionResultDelta": {
        "properties": {
          "call_id": {
            "description": "Required. ID to match the ID from the function call block.",
            "type": "string"
          },
          "is_error": { "type": "boolean" },
          "name": { "type": "string" },
          "result": {
            "oneOf": [
              { "type": "object" },
              {
                "items": {
                  "$ref": "#/components/schemas/FunctionResultSubcontent"
                },
                "title": "FunctionResultSubcontentList",
                "type": "array"
              },
              { "type": "string" }
            ]
          },
          "type": { "const": "function_result" }
        },
        "required": ["type", "call_id", "result"],
        "type": "object"
      },
      "FunctionResultStep": {
        "description": "Result of a function tool call.",
        "properties": {
          "call_id": {
            "description": "Required. ID to match the ID from the function call block.",
            "type": "string"
          },
          "is_error": {
            "description": "Whether the tool call resulted in an error.",
            "type": "boolean"
          },
          "name": {
            "description": "The name of the tool that was called.",
            "type": "string"
          },
          "result": {
            "description": "The result of the tool call.",
            "oneOf": [
              { "type": "object" },
              {
                "items": {
                  "$ref": "#/components/schemas/FunctionResultSubcontent"
                },
                "title": "FunctionResultSubcontentList",
                "type": "array"
              },
              { "type": "string" }
            ]
          },
          "signature": {
            "description": "A signature hash for backend validation.",
            "format": "byte",
            "type": "string"
          },
          "type": { "const": "function_result" }
        },
        "required": ["type", "call_id", "result"],
        "type": "object",
        "examples": [
          {
            "function_result": {
              "summary": "FunctionResultStep",
              "value": {
                "type": "function_result",
                "call_id": "call_98231",
                "name": "get_weather",
                "result": {
                  "temperature": "72F",
                  "conditions": "Partly Cloudy"
                }
              }
            }
          }
        ]
      },
      "FunctionResultSubcontent": {
        "discriminator": { "propertyName": "type" },
        "oneOf": [
          { "$ref": "#/components/schemas/TextContent" },
          { "$ref": "#/components/schemas/ImageContent" }
        ],
        "type": "object"
      },
      "GenerationConfig": {
        "description": "Configuration parameters for model interactions.",
        "properties": {
          "image_config": {
            "deprecated": true,
            "description": "Configuration for image interaction.",
            "$ref": "#/components/schemas/ImageConfig"
          },
          "max_output_tokens": {
            "description": "The maximum number of tokens to include in the response.",
            "format": "int32",
            "type": "integer"
          },
          "seed": {
            "description": "Seed used in decoding for reproducibility.",
            "format": "int32",
            "type": "integer"
          },
          "speech_config": {
            "description": "Configuration for speech interaction.",
            "items": { "$ref": "#/components/schemas/SpeechConfig" },
            "type": "array"
          },
          "stop_sequences": {
            "description": "A list of character sequences that will stop output interaction.",
            "items": { "type": "string" },
            "type": "array"
          },
          "temperature": {
            "description": "Controls the randomness of the output.",
            "format": "float",
            "type": "number"
          },
          "thinking_level": {
            "description": "The level of thought tokens that the model should generate.",
            "$ref": "#/components/schemas/ThinkingLevel"
          },
          "thinking_summaries": {
            "description": "Whether to include thought summaries in the response.",
            "$ref": "#/components/schemas/ThinkingSummaries"
          },
          "tool_choice": {
            "description": "The tool choice configuration.",
            "oneOf": [
              { "$ref": "#/components/schemas/ToolChoiceType" },
              { "$ref": "#/components/schemas/ToolChoiceConfig" }
            ]
          },
          "top_p": {
            "description": "The maximum cumulative probability of tokens to consider when sampling.",
            "format": "float",
            "type": "number"
          }
        },
        "type": "object"
      },
      "GoogleMaps": {
        "description": "A tool that can be used by the model to call Google Maps.",
        "properties": {
          "enable_widget": {
            "description": "Whether to return a widget context token in the tool call result of the\nresponse.",
            "type": "boolean"
          },
          "latitude": {
            "description": "The latitude of the user's location.",
            "format": "double",
            "type": "number"
          },
          "longitude": {
            "description": "The longitude of the user's location.",
            "format": "double",
            "type": "number"
          },
          "type": { "const": "google_maps" }
        },
        "required": ["type"],
        "type": "object",
        "x-codeSamples": [
          {
            "lang": "sh",
            "label": "google_maps",
            "source": "curl -X POST https://generativelanguage.googleapis.com/v1beta/interactions \\\n  -H \"x-goog-api-key: $GEMINI_API_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Api-Revision: 2026-05-20\" \\\n  -d '{\n    \"model\": \"gemini-3-flash-preview\",\n    \"tools\": [{\n      \"type\": \"google_maps\",\n      \"latitude\": 37.7749,\n      \"longitude\": -122.4194\n    }],\n    \"input\": \"What is the best food near me?\"\n  }'\n"
          },
          {
            "lang": "python",
            "label": "google_maps",
[...]
